<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DidCheckForDuplicateChats</key>
	<integer>4</integer>
	<key>DidMarkGroupPhotosAsUnpurgeable</key>
	<true/>
	<key>DidRegenerateGroupID63841559</key>
	<true/>
	<key>LastIMDNotificationPostedDate</key>
	<integer>798226435027733120</integer>
</dict>
</plist>
