<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppleTextDirection</key>
	<true/>
	<key>NSForceRightToLeftWritingDirection</key>
	<false/>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{880, 448}</string>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va6gCAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAIgBAAAEAAAAAwMAAAAAACAFAAAAAQEAAFVzZXJzAAAADAAAAAEB
	AABwcmFraGFyc2luZ2gDAAAAAQEAAG5peAAMAAAAAQYAABAAAAAgAAAANAAAAAgAAAAE
	AwAA+FEAAAAAAAAIAAAABAMAALyeAAAAAAAACAAAAAQDAADwqwoAAAAAAAwAAAABBgAA
	VAAAAGQAAAB0AAAACAAAAAAEAABBx8nEGdsXVBgAAAABAgAAAgAAAAAAAAAPAAAAAAAA
	AAAAAAAAAAAAAAAAAAEFAAAIAAAABAMAAAEAAAAAAAAABAAAAAMDAAD1AQAACAAAAAEJ
	AABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAUKEbcwAAAAgAAAAA
	BAAAQcfB0QiAAAAkAAAAAQEAAEQ5N0M0RjRFLTAyQTEtNEQ5My05RjJDLUQzNzA2RUVC
	NDFFNBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAA2AAA
	AP7///8BAAAAAAAAABEAAAAEEAAAQAAAAAAAAAAFEAAAhAAAAAAAAAAQEAAAqAAAAAAA
	AABAEAAAmAAAAAAAAAACIAAAfAEAAAAAAAAFIAAA7AAAAAAAAAAQIAAA/AAAAAAAAAAR
	IAAAMAEAAAAAAAASIAAAEAEAAAAAAAATIAAAIAEAAAAAAAAgIAAAXAEAAAAAAAAwIAAA
	yAAAAAAAAAABwAAA0AAAAAAAAAARwAAAIAAAAAAAAAASwAAA4AAAAAAAAAAB0AAAyAAA
	AAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>NSTreatUnknownArgumentsAsOpen</key>
	<string>NO</string>
	<key>SKPurchaseIntentUpdatesLastChecked</key>
	<real>798257207.41200197</real>
</dict>
</plist>
