<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CKBackgroundSettingsLastReportDate</key>
	<date>2026-04-18T17:34:14Z</date>
	<key>CKBackgroundSettingsLastReportHour</key>
	<integer>17</integer>
	<key>CKEntryViewLayoutMetricsInfo</key>
	<dict>
		<key>CKEntryViewLayoutMetricsInfoData</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGlCwwaGxxV
		JG51bGzXDQ4PEBESExQVFhcYFRlfECRkZWZhdWx0U3ViamVjdEVudHJ5Q29u
		dGVudFZpZXdIZWlnaHRfEBZkZWZhdWx0RW50cnlWaWV3SGVpZ2h0ViRjbGFz
		c18QHWRlZmF1bHRTdWJqZWN0RW50cnlWaWV3SGVpZ2h0XxAWZW50cnlWaWV3
		Q29udGVudEluc2V0c18QHWRlZmF1bHRFbnRyeUNvbnRlbnRWaWV3SGVpZ2h0
		XxAcZW50cnlWaWV3VGV4dEFsaWdubWVudEluc2V0cyJCcgAAIkHwAACABCJC
		cgAAgAKAA1x7NywgMCwgNywgMH1fEBp7MTcuODQwMzMyMDMxMjUsIDUsIDE3
		LCA1fdIdHh8gWiRjbGFzc25hbWVYJGNsYXNzZXNfEB9DS01lc3NhZ2VFbnRy
		eVZpZXdMYXlvdXRNZXRyaWNzoiEiXxAfQ0tNZXNzYWdlRW50cnlWaWV3TGF5
		b3V0TWV0cmljc1hOU09iamVjdAAIABEAGgAkACkAMgA3AEkATABRAFMAWQBf
		AG4AlQCuALUA1QDuAQ4BLQEyATcBOQE+AUABQgFPAWwBcQF8AYUBpwGqAcwA
		AAAAAAACAQAAAAAAAAAjAAAAAAAAAAAAAAAAAAAB1Q==
		</data>
		<key>CKEntryViewLayoutMetricsInfoLastCachedBalloonLineFragmentPadding</key>
		<real>5</real>
		<key>CKEntryViewLayoutMetricsInfoLastCachedBalloonTextFontName</key>
		<string>.SFNS-Regular</string>
		<key>CKEntryViewLayoutMetricsInfoLastCachedBalloonTextFontSize</key>
		<real>13</real>
		<key>CKEntryViewLayoutMetricsInfoLastCachedBalloonTextFontSymbolicTraits</key>
		<integer>0</integer>
		<key>CKEntryViewLayoutMetricsInfoLastCachedBuildVersion</key>
		<string>25E253</string>
		<key>CKEntryViewLayoutMetricsInfoLastCachedCacheVersion</key>
		<string>v0</string>
		<key>CKEntryViewLayoutMetricsInfoLastCachedEntryViewCoverMinHeight</key>
		<real>30</real>
		<key>CKEntryViewLayoutMetricsInfoLastCachedEntryViewVerticalCoverInsets</key>
		<string>{0, 0, 0, 0}</string>
		<key>CKEntryViewLayoutMetricsInfoLastCachedLocale</key>
		<string>en-US</string>
		<key>CKEntryViewLayoutMetricsInfoLastCachedSizeCategory</key>
		<string>UICTContentSizeCategoryL</string>
		<key>CKEntryViewLayoutMetricsInfoUseTextLayoutManager</key>
		<true/>
	</dict>
	<key>CKLastSelectedItemIdentifier</key>
	<string>list-any;-;deeksha.sharma1015@gmail.com</string>
	<key>CKMigratedAutoSpamReports26375262</key>
	<true/>
	<key>CatalystCustomFontMigrationVersion</key>
	<integer>1</integer>
	<key>CatalystPreferenceMigrationVersion</key>
	<integer>1</integer>
	<key>CustomFontSize</key>
	<integer>13</integer>
	<key>DeleteVerificationCodes</key>
	<true/>
	<key>DeviceForcesUnknownFiltering</key>
	<false/>
	<key>EnableJunkFiltering</key>
	<false/>
	<key>FilterMessageRequests</key>
	<false/>
	<key>FilterMessageRequestsMigrationVersion</key>
	<integer>2</integer>
	<key>FirstPartyTextMessageFilterAvailable</key>
	<true/>
	<key>IncomingMessageAlertSpamFiltration</key>
	<false/>
	<key>KeepMessageForDays</key>
	<integer>0</integer>
	<key>KeepMessagesVersionID</key>
	<integer>1</integer>
	<key>NSWindow Frame CKMessagesSceneDelegate</key>
	<string>426 271 1024 768 0 0 1800 1130 </string>
	<key>NumberOfUnknownChatsOpened</key>
	<integer>1</integer>
	<key>OnboardingFinishTime</key>
	<date>2026-04-18T17:34:13Z</date>
	<key>PendingCleared</key>
	<true/>
	<key>PersonalRequestsMigrationVersion</key>
	<integer>2</integer>
	<key>PromotionsRequestsMigrationVersion</key>
	<integer>2</integer>
	<key>ReadReceiptSettingsConfirmed</key>
	<true/>
	<key>RebuildMutedChatListVersion</key>
	<integer>1</integer>
	<key>SSKeepAttachments</key>
	<integer>0</integer>
	<key>SSKeepMessages</key>
	<integer>0</integer>
	<key>Scrutiny</key>
	<dict>
		<key>acnt</key>
		<integer>0</integer>
		<key>cid</key>
		<string>deeksha.sharma1015@gmail.com</string>
		<key>latime</key>
		<real>798226454.35507095</real>
	</dict>
	<key>SidebarPersistedWidth</key>
	<real>320</real>
	<key>SyndicationOnboardingVersion</key>
	<integer>3</integer>
	<key>TextFontSize</key>
	<integer>13</integer>
	<key>TextSize</key>
	<integer>4</integer>
	<key>TimeSensitiveRequestsMigrationVersion</key>
	<integer>2</integer>
	<key>TransactionsRequestsMigrationVersion</key>
	<integer>2</integer>
	<key>TranscriptBackgroundScrollDocking</key>
	<true/>
	<key>TranscriptBackgrounds</key>
	<true/>
	<key>VerificationCodesRequestsMigrationVersion</key>
	<integer>2</integer>
	<key>com.apple.UIKit.UISplitViewController.Root</key>
	<dict>
		<key>primaryEdgeSplitViewControllerColumn</key>
		<integer>0</integer>
		<key>secondaryEdgeSplitViewControllerColumn</key>
		<integer>999</integer>
	</dict>
	<key>conversationListFocusFilterActionEnabled</key>
	<false/>
	<key>isOscarEligible</key>
	<true/>
	<key>kCKBrowserSelectionControllerIndexPathDictionaryV3Key</key>
	<dict>
		<key>com.apple.Handwriting.HandwritingProvider</key>
		<string>1,1</string>
		<key>com.apple.messages.MSMessageExtensionBalloonPlugin:0000000000:com.apple.Animoji.StickersApp.MessagesExtension</key>
		<string>0,1</string>
		<key>com.apple.messages.MSMessageExtensionBalloonPlugin:0000000000:com.apple.PassbookUIService.PeerPaymentMessagesExtension</key>
		<string>0,0</string>
		<key>com.apple.messages.MSMessageExtensionBalloonPlugin:0000000000:com.apple.SafetyMonitorApp.SafetyMonitorMessages</key>
		<string>1,4</string>
		<key>com.apple.messages.MSMessageExtensionBalloonPlugin:0000000000:com.apple.Stickers.UserGenerated.MessagesExtension</key>
		<string>1,2</string>
		<key>com.apple.messages.MSMessageExtensionBalloonPlugin:0000000000:com.apple.findmy.FindMyMessagesApp</key>
		<string>1,3</string>
		<key>com.apple.messages.MSMessageExtensionBalloonPlugin:0000000000:com.apple.messages.Polls</key>
		<string>1,0</string>
		<key>com.apple.messages.MSMessageExtensionBalloonPlugin:0000000000:com.apple.siri.parsec.HashtagImagesApp.HashtagImagesExtension</key>
		<string>0,2</string>
	</dict>
	<key>kCKBrowserSelectionControllerLaunchTimeDictionaryKey</key>
	<dict/>
	<key>kCKBrowserSelectionControllerSeenDictionaryKey</key>
	<dict>
		<key>com.apple.Handwriting.HandwritingProvider</key>
		<string>IMBalloonPluginVersionUndefined</string>
		<key>com.apple.messages.MSMessageExtensionBalloonPlugin:0000000000:com.apple.Animoji.StickersApp.MessagesExtension</key>
		<string>1.0</string>
		<key>com.apple.messages.MSMessageExtensionBalloonPlugin:0000000000:com.apple.Home.HomeAppMessagesExtension</key>
		<string>1.0</string>
		<key>com.apple.messages.MSMessageExtensionBalloonPlugin:0000000000:com.apple.PassbookUIService.PeerPaymentMessagesExtension</key>
		<string>1.0</string>
		<key>com.apple.messages.MSMessageExtensionBalloonPlugin:0000000000:com.apple.PeopleMessageService.AskToBuy</key>
		<string>1.0</string>
		<key>com.apple.messages.MSMessageExtensionBalloonPlugin:0000000000:com.apple.PeopleMessageService.ScreenTime</key>
		<string>1.0</string>
		<key>com.apple.messages.MSMessageExtensionBalloonPlugin:0000000000:com.apple.Stickers.UserGenerated.MessagesExtension</key>
		<string>1.0</string>
		<key>com.apple.messages.MSMessageExtensionBalloonPlugin:0000000000:com.apple.gamecenter.GameCenterUIService.GameCenterMessageExtension</key>
		<string>1.0</string>
		<key>com.apple.messages.MSMessageExtensionBalloonPlugin:0000000000:com.apple.games.ChallengesMessageExtension</key>
		<string>1.0</string>
		<key>com.apple.messages.MSMessageExtensionBalloonPlugin:0000000000:com.apple.icloud.apps.messages.business.extension</key>
		<string>1.0</string>
		<key>com.apple.messages.MSMessageExtensionBalloonPlugin:0000000000:com.apple.siri.parsec.HashtagImagesApp.HashtagImagesExtension</key>
		<string>1.0</string>
	</dict>
	<key>kCKBrowserSelectionControllerVersionDictionaryKey</key>
	<dict/>
	<key>kCKMediaObjectManagerDefaultsClasses</key>
	<array>
		<string>CKOrderMediaObject</string>
		<string>CKPassPreviewMediaObject</string>
		<string>CKWatchfaceMediaObject</string>
		<string>CKMovieMediaObject</string>
		<string>CKAudioMediaObject</string>
		<string>CKAVMediaObject</string>
		<string>CKEmojiImageMediaObject</string>
		<string>CKAnimatedEmojiMediaObject</string>
		<string>CKAnimatedImageMediaObject</string>
		<string>CKImageMediaObject</string>
		<string>CKLocationMediaObject</string>
		<string>CKContactMediaObject</string>
		<string>CKCalendarMediaObject</string>
		<string>CKQuickLookThumbnailMediaObject</string>
		<string>CKWorkoutMediaObject</string>
		<string>CKMediaObject</string>
	</array>
	<key>kCKMediaObjectManagerDefaultsDynTypes</key>
	<dict>
		<key>emoji.gif</key>
		<string>dyn.ah62d425try1gg55rsb41g3pws3ww635mq27dctpfrz10y4msq7y0q</string>
		<key>loc.vcf</key>
		<string>dyn.ah62d46dzqm0gw23ss3v0c6xehk2x45dtqq1hq25g</string>
	</dict>
	<key>kCKMediaObjectManagerDefaultsOSVersion</key>
	<string>25E253</string>
	<key>kCKMediaObjectManagerDefaultsUTITypes</key>
	<dict>
		<key>com.adobe.raw-image</key>
		<string>CKImageMediaObject</string>
		<key>com.apple.atx</key>
		<string>CKImageMediaObject</string>
		<key>com.apple.coreaudio-format</key>
		<string>CKAudioMediaObject</string>
		<key>com.apple.emojiimage</key>
		<string>CKEmojiImageMediaObject</string>
		<key>com.apple.finance.order</key>
		<string>CKOrderMediaObject</string>
		<key>com.apple.finder.node</key>
		<string>CKAVMediaObject</string>
		<key>com.apple.ical.ics</key>
		<string>CKCalendarMediaObject</string>
		<key>com.apple.ical.vcs</key>
		<string>CKCalendarMediaObject</string>
		<key>com.apple.m4a-audio</key>
		<string>CKAudioMediaObject</string>
		<key>com.apple.m4v-video</key>
		<string>CKMovieMediaObject</string>
		<key>com.apple.messages.maputi</key>
		<string>CKLocationMediaObject</string>
		<key>com.apple.mpeg-4-ringtone</key>
		<string>CKAudioMediaObject</string>
		<key>com.apple.music.mp2</key>
		<string>CKAudioMediaObject</string>
		<key>com.apple.pkpass</key>
		<string>CKPassPreviewMediaObject</string>
		<key>com.apple.protected-mpeg-4-audio</key>
		<string>CKAudioMediaObject</string>
		<key>com.apple.protected-mpeg-4-audio-b</key>
		<string>CKAudioMediaObject</string>
		<key>com.apple.quicktime-audio</key>
		<string>CKAudioMediaObject</string>
		<key>com.apple.quicktime-movie</key>
		<string>CKMovieMediaObject</string>
		<key>com.apple.reality</key>
		<string>CKQuickLookThumbnailMediaObject</string>
		<key>com.apple.watchface</key>
		<string>CKWatchfaceMediaObject</string>
		<key>com.apple.workout</key>
		<string>CKWorkoutMediaObject</string>
		<key>com.audible.aa-audiobook</key>
		<string>CKAudioMediaObject</string>
		<key>com.audible.aax-audiobook</key>
		<string>CKAudioMediaObject</string>
		<key>com.canon.cr2-raw-image</key>
		<string>CKImageMediaObject</string>
		<key>com.canon.crw-raw-image</key>
		<string>CKImageMediaObject</string>
		<key>com.canon.tif-raw-image</key>
		<string>CKImageMediaObject</string>
		<key>com.compuserve.gif</key>
		<string>CKAnimatedImageMediaObject</string>
		<key>com.dxo.raw-image</key>
		<string>CKImageMediaObject</string>
		<key>com.epson.raw-image</key>
		<string>CKImageMediaObject</string>
		<key>com.fuji.raw-image</key>
		<string>CKImageMediaObject</string>
		<key>com.hasselblad.3fr-raw-image</key>
		<string>CKImageMediaObject</string>
		<key>com.hasselblad.fff-raw-image</key>
		<string>CKImageMediaObject</string>
		<key>com.kodak.raw-image</key>
		<string>CKImageMediaObject</string>
		<key>com.konicaminolta.raw-image</key>
		<string>CKImageMediaObject</string>
		<key>com.leafamerica.raw-image</key>
		<string>CKImageMediaObject</string>
		<key>com.leica.raw-image</key>
		<string>CKImageMediaObject</string>
		<key>com.leica.rwl-raw-image</key>
		<string>CKImageMediaObject</string>
		<key>com.microsoft.bmp</key>
		<string>CKImageMediaObject</string>
		<key>com.microsoft.ico</key>
		<string>CKImageMediaObject</string>
		<key>com.microsoft.waveform-audio</key>
		<string>CKAudioMediaObject</string>
		<key>com.nikon.nrw-raw-image</key>
		<string>CKImageMediaObject</string>
		<key>com.nikon.raw-image</key>
		<string>CKImageMediaObject</string>
		<key>com.olympus.or-raw-image</key>
		<string>CKImageMediaObject</string>
		<key>com.olympus.raw-image</key>
		<string>CKImageMediaObject</string>
		<key>com.olympus.sr-raw-image</key>
		<string>CKImageMediaObject</string>
		<key>com.panasonic.raw-image</key>
		<string>CKImageMediaObject</string>
		<key>com.panasonic.rw2-raw-image</key>
		<string>CKImageMediaObject</string>
		<key>com.pentax.raw-image</key>
		<string>CKImageMediaObject</string>
		<key>com.phaseone.raw-image</key>
		<string>CKImageMediaObject</string>
		<key>com.pixar.universal-scene-description-mobile</key>
		<string>CKQuickLookThumbnailMediaObject</string>
		<key>com.samsung.raw-image</key>
		<string>CKImageMediaObject</string>
		<key>com.sony.arw-raw-image</key>
		<string>CKImageMediaObject</string>
		<key>com.sony.raw-image</key>
		<string>CKImageMediaObject</string>
		<key>com.sony.sr2-raw-image</key>
		<string>CKImageMediaObject</string>
		<key>com.sony.wave64</key>
		<string>CKAudioMediaObject</string>
		<key>dyn.ah62d425try1gg55rsb41g3pws3ww635mq27dctpfrz10y4msq7y0q</key>
		<string>CKAnimatedEmojiMediaObject</string>
		<key>dyn.ah62d46dzqm0gw23ss3v0c6xehk2x45dtqq1hq25g</key>
		<string>CKLocationMediaObject</string>
		<key>org.3gpp.adaptive-multi-rate-audio</key>
		<string>CKAudioMediaObject</string>
		<key>org.khronos.astc</key>
		<string>CKImageMediaObject</string>
		<key>org.khronos.ktx</key>
		<string>CKImageMediaObject</string>
		<key>org.webmproject.webp</key>
		<string>CKAnimatedImageMediaObject</string>
		<key>org.xiph.flac</key>
		<string>CKAudioMediaObject</string>
		<key>org.xiph.ogg-audio</key>
		<string>CKAudioMediaObject</string>
		<key>public.3gpp</key>
		<string>CKMovieMediaObject</string>
		<key>public.3gpp2</key>
		<string>CKMovieMediaObject</string>
		<key>public.aac-audio</key>
		<string>CKAudioMediaObject</string>
		<key>public.ac3-audio</key>
		<string>CKAudioMediaObject</string>
		<key>public.aifc-audio</key>
		<string>CKAudioMediaObject</string>
		<key>public.aiff-audio</key>
		<string>CKAudioMediaObject</string>
		<key>public.au-audio</key>
		<string>CKAudioMediaObject</string>
		<key>public.avchd-mpeg-2-transport-stream</key>
		<string>CKMovieMediaObject</string>
		<key>public.avci</key>
		<string>CKImageMediaObject</string>
		<key>public.avi</key>
		<string>CKMovieMediaObject</string>
		<key>public.dv-movie</key>
		<string>CKMovieMediaObject</string>
		<key>public.enhanced-ac3-audio</key>
		<string>CKAudioMediaObject</string>
		<key>public.heic</key>
		<string>CKAnimatedImageMediaObject</string>
		<key>public.heics</key>
		<string>CKAnimatedImageMediaObject</string>
		<key>public.heif</key>
		<string>CKAnimatedImageMediaObject</string>
		<key>public.heif-standard</key>
		<string>CKAnimatedImageMediaObject</string>
		<key>public.jpeg</key>
		<string>CKImageMediaObject</string>
		<key>public.jpeg-2000</key>
		<string>CKImageMediaObject</string>
		<key>public.jpeg-xl</key>
		<string>CKImageMediaObject</string>
		<key>public.mp2</key>
		<string>CKAudioMediaObject</string>
		<key>public.mp3</key>
		<string>CKAudioMediaObject</string>
		<key>public.mp4a-loas</key>
		<string>CKAudioMediaObject</string>
		<key>public.mpeg</key>
		<string>CKMovieMediaObject</string>
		<key>public.mpeg-2-transport-stream</key>
		<string>CKMovieMediaObject</string>
		<key>public.mpeg-2-video</key>
		<string>CKMovieMediaObject</string>
		<key>public.mpeg-4</key>
		<string>CKMovieMediaObject</string>
		<key>public.mpeg-4-audio</key>
		<string>CKAudioMediaObject</string>
		<key>public.mpo-image</key>
		<string>CKImageMediaObject</string>
		<key>public.png</key>
		<string>CKAnimatedImageMediaObject</string>
		<key>public.tiff</key>
		<string>CKImageMediaObject</string>
		<key>public.vcard</key>
		<string>CKContactMediaObject</string>
	</dict>
	<key>sForceDisableSMSFilteringIpadCompleted</key>
	<true/>
	<key>sForceSMSSpamFilteringCompleted</key>
	<true/>
	<key>spamFilterExtensionCapabilitiesOptions</key>
	<integer>1</integer>
</dict>
</plist>
