<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AutoHideMenuBarOption</key>
	<integer>2</integer>
	<key>ControlCenterDisplayableChronoControlsProviderConfiguration</key>
	<data>
	eyJDb250cm9scyI6W3siQ29udHJvbERlc2NyaXB0aW9uIjoiRW5hYmxlIFN0YWdlIE1h
	bmFnZXIiLCJPdmVycmlkZVNpemVGb3JNZW51QmFyIjpmYWxzZSwiQ29udHJvbFNpemUi
	OjAsIkNvbnRyb2xJZGVudGl0eSI6IlluQnNhWE4wTUREVUFRSURCQVVHQndwWUpIWmxj
	bk5wYjI1WkpHRnlZMmhwZG1WeVZDUjBiM0JZSkc5aWFtVmpkSE1TQUFHR29GOFFEMDVU
	UzJWNVpXUkJjbU5vYVhabGN0RUlDVlJ5YjI5MGdBR29Dd3dWSFI0ZkppZFZKRzUxYkd6
	VURRNFBFQkVTRXhSWmFXNTBaVzUwVW1WbVZHdHBibVJWWlhoMFNXUldKR05zWVhOemdB
	Q0FCb0FDZ0FmVUZoY1lFQkVhR3h4ZkVCQmtaWFpwWTJWSlpHVnVkR2xtYVdWeVh4QVpZ
	Mjl1ZEdGcGJtVnlRblZ1Wkd4bFNXUmxiblJwWm1sbGNsOFFHV1Y0ZEdWdWMybHZia0ox
	Ym1Sc1pVbGtaVzUwYVdacFpYS0FBSUFFZ0FPQUJWOFFJR052YlM1aGNIQnNaUzVYYVc1
	a2IzZE5ZVzVoWjJWeUxtTnZiblJ5YjJ4elh4QVhZMjl0TG1Gd2NHeGxMbGRwYm1SdmQw
	MWhibUZuWlhMU0lDRWlJMW9rWTJ4aGMzTnVZVzFsV0NSamJHRnpjMlZ6WHhBVVEwaFRS
	WGgwWlc1emFXOXVTV1JsYm5ScGRIbWlKQ1ZmRUJSRFNGTkZlSFJsYm5OcGIyNUpaR1Z1
	ZEdsMGVWaE9VMDlpYW1WamRGOFFKR052YlM1aGNIQnNaUzUzYVc1a2IzZHRZVzVoWjJW
	eUxuTjBZV2RsYldGdVlXZGxjdElnSVNncFh4QVNRMGhUUTI5dWRISnZiRWxrWlc1MGFY
	UjVvaW9sWHhBU1EwaFRRMjl1ZEhKdmJFbGtaVzUwYVhSNUFBZ0FFUUFhQUNRQUtRQXlB
	RGNBU1FCTUFGRUFVd0JjQUdJQWF3QjFBSG9BZ0FDSEFJa0Fpd0NOQUk4QW1BQ3JBTWNB
	NHdEbEFPY0E2UURyQVE0QktBRXRBVGdCUVFGWUFWc0JjZ0Y3QWFJQnB3RzhBYjhBQUFB
	QUFBQUNBUUFBQUFBQUFBQXJBQUFBQUFBQUFBQUFBQUFBQUFBQjFBPT0iLCJJZGVudGlm
	aWVyIjpbIkU4RDVGOTIzLTFGOTQtNEEwRi05MkEwLTI2N0E1M0JGREU2NyJdLCJEaXNw
	bGF5TmFtZSI6IlN0YWdlIE1hbmFnZXIiLCJDb250cm9sVHlwZSI6MSwiUHJvbXB0c0Zv
	clVzZXJDb25maWd1cmF0aW9uIjpmYWxzZX0seyJDb250cm9sRGVzY3JpcHRpb24iOiJF
	bmFibGUgU3RhZ2UgTWFuYWdlciIsIk92ZXJyaWRlU2l6ZUZvck1lbnVCYXIiOmZhbHNl
	LCJDb250cm9sU2l6ZSI6MCwiQ29udHJvbElkZW50aXR5IjoiWW5Cc2FYTjBNRERVQVFJ
	REJBVUdCd3BZSkhabGNuTnBiMjVaSkdGeVkyaHBkbVZ5VkNSMGIzQllKRzlpYW1WamRI
	TVNBQUdHb0Y4UUQwNVRTMlY1WldSQmNtTm9hWFpsY3RFSUNWUnliMjkwZ0FHb0N3d1ZI
	UjRmSmlkVkpHNTFiR3pVRFE0UEVCRVNFeFJaYVc1MFpXNTBVbVZtVkd0cGJtUlZaWGgw
	U1dSV0pHTnNZWE56Z0FDQUJvQUNnQWZVRmhjWUVCRWFHeHhmRUJCa1pYWnBZMlZKWkdW
	dWRHbG1hV1Z5WHhBWlkyOXVkR0ZwYm1WeVFuVnVaR3hsU1dSbGJuUnBabWxsY2w4UUdX
	VjRkR1Z1YzJsdmJrSjFibVJzWlVsa1pXNTBhV1pwWlhLQUFJQUVnQU9BQlY4UUlHTnZi
	UzVoY0hCc1pTNVhhVzVrYjNkTllXNWhaMlZ5TG1OdmJuUnliMnh6WHhBWFkyOXRMbUZ3
	Y0d4bExsZHBibVJ2ZDAxaGJtRm5aWExTSUNFaUkxb2tZMnhoYzNOdVlXMWxXQ1JqYkdG
	emMyVnpYeEFVUTBoVFJYaDBaVzV6YVc5dVNXUmxiblJwZEhtaUpDVmZFQlJEU0ZORmVI
	Umxibk5wYjI1SlpHVnVkR2wwZVZoT1UwOWlhbVZqZEY4UUpHTnZiUzVoY0hCc1pTNTNh
	VzVrYjNkdFlXNWhaMlZ5TG5OMFlXZGxiV0Z1WVdkbGN0SWdJU2dwWHhBU1EwaFRRMjl1
	ZEhKdmJFbGtaVzUwYVhSNW9pb2xYeEFTUTBoVFEyOXVkSEp2YkVsa1pXNTBhWFI1QUFn
	QUVRQWFBQ1FBS1FBeUFEY0FTUUJNQUZFQVV3QmNBR0lBYXdCMUFIb0FnQUNIQUlrQWl3
	Q05BSThBbUFDckFNY0E0d0RsQU9jQTZRRHJBUTRCS0FFdEFUZ0JRUUZZQVZzQmNnRjdB
	YUlCcHdHOEFiOEFBQUFBQUFBQ0FRQUFBQUFBQUFBckFBQUFBQUFBQUFBQUFBQUFBQUFC
	MUE9PSIsIklkZW50aWZpZXIiOlsiNTI1RDVBRUEtREQwMS00QjcwLUI5NzctRjY0MTAw
	QzE0RjZDIl0sIkRpc3BsYXlOYW1lIjoiU3RhZ2UgTWFuYWdlciIsIkNvbnRyb2xUeXBl
	IjoxLCJQcm9tcHRzRm9yVXNlckNvbmZpZ3VyYXRpb24iOmZhbHNlfSx7IkNvbnRyb2xE
	ZXNjcmlwdGlvbiI6IkJ1dHRvbiB0byB0YWtlIGEgc2NyZWVuc2hvdCIsIk92ZXJyaWRl
	U2l6ZUZvck1lbnVCYXIiOmZhbHNlLCJDb250cm9sU2l6ZSI6MCwiQ29udHJvbElkZW50
	aXR5IjoiWW5Cc2FYTjBNRERVQVFJREJBVUdCd3BZSkhabGNuTnBiMjVaSkdGeVkyaHBk
	bVZ5VkNSMGIzQllKRzlpYW1WamRITVNBQUdHb0Y4UUQwNVRTMlY1WldSQmNtTm9hWFps
	Y3RFSUNWUnliMjkwZ0FHb0N3d1ZIUjRmSmlkVkpHNTFiR3pVRFE0UEVCRVNFeFJaYVc1
	MFpXNTBVbVZtVkd0cGJtUlZaWGgwU1dSV0pHTnNZWE56Z0FDQUJvQUNnQWZVRmhjWUVC
	RWFHeHhmRUJCa1pYWnBZMlZKWkdWdWRHbG1hV1Z5WHhBWlkyOXVkR0ZwYm1WeVFuVnVa
	R3hsU1dSbGJuUnBabWxsY2w4UUdXVjRkR1Z1YzJsdmJrSjFibVJzWlVsa1pXNTBhV1pw
	WlhLQUFJQUVnQU9BQlY4UUhXTnZiUzVoY0hCc1pTNWpiMjUwY205c2N5NXpZM0psWlc1
	emFHOTBYeEFkWTI5dExtRndjR3hsTG5OamNtVmxibk5vYjNRdWJHRjFibU5vWlhMU0lD
	RWlJMW9rWTJ4aGMzTnVZVzFsV0NSamJHRnpjMlZ6WHhBVVEwaFRSWGgwWlc1emFXOXVT
	V1JsYm5ScGRIbWlKQ1ZmRUJSRFNGTkZlSFJsYm5OcGIyNUpaR1Z1ZEdsMGVWaE9VMDlp
	YW1WamRGOFFMR052YlM1aGNIQnNaUzVqYjI1MGNtOXNjeTV6WTNKbFpXNXphRzkwTG1O
	aGNIUjFjbVV0YzJOeVpXVnUwaUFoS0NsZkVCSkRTRk5EYjI1MGNtOXNTV1JsYm5ScGRI
	bWlLaVZmRUJKRFNGTkRiMjUwY205c1NXUmxiblJwZEhrQUNBQVJBQm9BSkFBcEFESUFO
	d0JKQUV3QVVRQlRBRndBWWdCckFIVUFlZ0NBQUljQWlRQ0xBSTBBandDWUFLc0F4d0Rq
	QU9VQTV3RHBBT3NCQ3dFckFUQUJPd0ZFQVZzQlhnRjFBWDRCclFHeUFjY0J5Z0FBQUFB
	QUFBSUJBQUFBQUFBQUFDc0FBQUFBQUFBQUFBQUFBQUFBQUFIZiIsIklkZW50aWZpZXIi
	OlsiREIwNzM5MEUtNUUxMy00QTkxLThEN0YtQTYwQTVGODk1NjA4Il0sIkRpc3BsYXlO
	YW1lIjoiQ2FwdHVyZSBTY3JlZW4iLCJDb250cm9sVHlwZSI6MiwiUHJvbXB0c0ZvclVz
	ZXJDb25maWd1cmF0aW9uIjpmYWxzZX0seyJQcm9tcHRzRm9yVXNlckNvbmZpZ3VyYXRp
	b24iOmZhbHNlLCJJZGVudGlmaWVyIjpbIjkzNTNGNDhBLUEwQzQtNEJEOC04NkJBLTc0
	Qjc4N0JDNkU1QSJdLCJPdmVycmlkZVNpemVGb3JNZW51QmFyIjpmYWxzZSwiQ29udHJv
	bERlc2NyaXB0aW9uIjoiVG9nZ2xlIHdoZXRoZXIgRGFyayBNb2RlIGlzIGVuYWJsZWQi
	LCJDb250cm9sU2l6ZSI6MCwiRGlzcGxheU5hbWUiOiJEYXJrIE1vZGUiLCJDb250cm9s
	SWRlbnRpdHkiOiJZbkJzYVhOME1ERFVBUUlEQkFVR0J3cFlKSFpsY25OcGIyNVpKR0Z5
	WTJocGRtVnlWQ1IwYjNCWUpHOWlhbVZqZEhNU0FBR0dvRjhRRDA1VFMyVjVaV1JCY21O
	b2FYWmxjdEVJQ1ZSeWIyOTBnQUdvQ3d3VkhSNGZKaWRWSkc1MWJHelVEUTRQRUJFU0V4
	UlphVzUwWlc1MFVtVm1WR3RwYm1SVlpYaDBTV1JXSkdOc1lYTnpnQUNBQm9BQ2dBZlVG
	aGNZRUJFYUd4eGZFQkJrWlhacFkyVkpaR1Z1ZEdsbWFXVnlYeEFaWTI5dWRHRnBibVZ5
	UW5WdVpHeGxTV1JsYm5ScFptbGxjbDhRR1dWNGRHVnVjMmx2YmtKMWJtUnNaVWxrWlc1
	MGFXWnBaWEtBQUlBRWdBT0FCVjhRR21OdmJTNWhjSEJzWlM1amIyNTBjbTlzY3k1a2FY
	TndiR0Y1WHhBWFkyOXRMbUZ3Y0d4bExtTnZiblJ5YjJ4alpXNTBaWExTSUNFaUkxb2tZ
	MnhoYzNOdVlXMWxXQ1JqYkdGemMyVnpYeEFVUTBoVFJYaDBaVzV6YVc5dVNXUmxiblJw
	ZEhtaUpDVmZFQlJEU0ZORmVIUmxibk5wYjI1SlpHVnVkR2wwZVZoT1UwOWlhbVZqZEY4
	UUpHTnZiUzVoY0hCc1pTNWpiMjUwY205c2N5NWthWE53YkdGNUxtUmhjbXN0Ylc5a1pk
	SWdJU2dwWHhBU1EwaFRRMjl1ZEhKdmJFbGtaVzUwYVhSNW9pb2xYeEFTUTBoVFEyOXVk
	SEp2YkVsa1pXNTBhWFI1QUFnQUVRQWFBQ1FBS1FBeUFEY0FTUUJNQUZFQVV3QmNBR0lB
	YXdCMUFIb0FnQUNIQUlrQWl3Q05BSThBbUFDckFNY0E0d0RsQU9jQTZRRHJBUWdCSWdF
	bkFUSUJPd0ZTQVZVQmJBRjFBWndCb1FHMkFia0FBQUFBQUFBQ0FRQUFBQUFBQUFBckFB
	QUFBQUFBQUFBQUFBQUFBQUFCemc9PSIsIkNvbnRyb2xUeXBlIjoxfSx7IlByb21wdHNG
	b3JVc2VyQ29uZmlndXJhdGlvbiI6ZmFsc2UsIklkZW50aWZpZXIiOlsiRDIzRDY2MkEt
	QkRCQi00NTAyLUI3OUMtNkFERjZDMDE3MEJDIl0sIk92ZXJyaWRlU2l6ZUZvck1lbnVC
	YXIiOmZhbHNlLCJDb250cm9sRGVzY3JpcHRpb24iOiJFbmFibGUgU3RhZ2UgTWFuYWdl
	ciIsIkNvbnRyb2xTaXplIjowLCJEaXNwbGF5TmFtZSI6IlN0YWdlIE1hbmFnZXIiLCJD
	b250cm9sSWRlbnRpdHkiOiJZbkJzYVhOME1ERFVBUUlEQkFVR0J3cFlKSFpsY25OcGIy
	NVpKR0Z5WTJocGRtVnlWQ1IwYjNCWUpHOWlhbVZqZEhNU0FBR0dvRjhRRDA1VFMyVjVa
	V1JCY21Ob2FYWmxjdEVJQ1ZSeWIyOTBnQUdvQ3d3VkhSNGZKaWRWSkc1MWJHelVEUTRQ
	RUJFU0V4UlphVzUwWlc1MFVtVm1WR3RwYm1SVlpYaDBTV1JXSkdOc1lYTnpnQUNBQm9B
	Q2dBZlVGaGNZRUJFYUd4eGZFQkJrWlhacFkyVkpaR1Z1ZEdsbWFXVnlYeEFaWTI5dWRH
	RnBibVZ5UW5WdVpHeGxTV1JsYm5ScFptbGxjbDhRR1dWNGRHVnVjMmx2YmtKMWJtUnNa
	VWxrWlc1MGFXWnBaWEtBQUlBRWdBT0FCVjhRSUdOdmJTNWhjSEJzWlM1WGFXNWtiM2RO
	WVc1aFoyVnlMbU52Ym5SeWIyeHpYeEFYWTI5dExtRndjR3hsTGxkcGJtUnZkMDFoYm1G
	blpYTFNJQ0VpSTFva1kyeGhjM051WVcxbFdDUmpiR0Z6YzJWelh4QVVRMGhUUlhoMFpX
	NXphVzl1U1dSbGJuUnBkSG1pSkNWZkVCUkRTRk5GZUhSbGJuTnBiMjVKWkdWdWRHbDBl
	VmhPVTA5aWFtVmpkRjhRSkdOdmJTNWhjSEJzWlM1M2FXNWtiM2R0WVc1aFoyVnlMbk4w
	WVdkbGJXRnVZV2RsY3RJZ0lTZ3BYeEFTUTBoVFEyOXVkSEp2YkVsa1pXNTBhWFI1b2lv
	bFh4QVNRMGhUUTI5dWRISnZiRWxrWlc1MGFYUjVBQWdBRVFBYUFDUUFLUUF5QURjQVNR
	Qk1BRkVBVXdCY0FHSUFhd0IxQUhvQWdBQ0hBSWtBaXdDTkFJOEFtQUNyQU1jQTR3RGxB
	T2NBNlFEckFRNEJLQUV0QVRnQlFRRllBVnNCY2dGN0FhSUJwd0c4QWI4QUFBQUFBQUFD
	QVFBQUFBQUFBQUFyQUFBQUFBQUFBQUFBQUFBQUFBQUIxQT09IiwiQ29udHJvbFR5cGUi
	OjF9LHsiUHJvbXB0c0ZvclVzZXJDb25maWd1cmF0aW9uIjpmYWxzZSwiSWRlbnRpZmll
	ciI6WyJGRDgwQ0E1Qi02MzI2LTQxQjktQUE5Mi03MzU0REI5ODY0N0MiXSwiT3ZlcnJp
	ZGVTaXplRm9yTWVudUJhciI6ZmFsc2UsIkNvbnRyb2xEZXNjcmlwdGlvbiI6IlRvZ2ds
	ZSB3aGV0aGVyIERhcmsgTW9kZSBpcyBlbmFibGVkIiwiQ29udHJvbFNpemUiOjAsIkRp
	c3BsYXlOYW1lIjoiRGFyayBNb2RlIiwiQ29udHJvbElkZW50aXR5IjoiWW5Cc2FYTjBN
	RERVQVFJREJBVUdCd3BZSkhabGNuTnBiMjVaSkdGeVkyaHBkbVZ5VkNSMGIzQllKRzlp
	YW1WamRITVNBQUdHb0Y4UUQwNVRTMlY1WldSQmNtTm9hWFpsY3RFSUNWUnliMjkwZ0FH
	b0N3d1ZIUjRmSmlkVkpHNTFiR3pVRFE0UEVCRVNFeFJaYVc1MFpXNTBVbVZtVkd0cGJt
	UlZaWGgwU1dSV0pHTnNZWE56Z0FDQUJvQUNnQWZVRmhjWUVCRWFHeHhmRUJCa1pYWnBZ
	MlZKWkdWdWRHbG1hV1Z5WHhBWlkyOXVkR0ZwYm1WeVFuVnVaR3hsU1dSbGJuUnBabWxs
	Y2w4UUdXVjRkR1Z1YzJsdmJrSjFibVJzWlVsa1pXNTBhV1pwWlhLQUFJQUVnQU9BQlY4
	UUdtTnZiUzVoY0hCc1pTNWpiMjUwY205c2N5NWthWE53YkdGNVh4QVhZMjl0TG1Gd2NH
	eGxMbU52Ym5SeWIyeGpaVzUwWlhMU0lDRWlJMW9rWTJ4aGMzTnVZVzFsV0NSamJHRnpj
	MlZ6WHhBVVEwaFRSWGgwWlc1emFXOXVTV1JsYm5ScGRIbWlKQ1ZmRUJSRFNGTkZlSFJs
	Ym5OcGIyNUpaR1Z1ZEdsMGVWaE9VMDlpYW1WamRGOFFKR052YlM1aGNIQnNaUzVqYjI1
	MGNtOXNjeTVrYVhOd2JHRjVMbVJoY21zdGJXOWtaZElnSVNncFh4QVNRMGhUUTI5dWRI
	SnZiRWxrWlc1MGFYUjVvaW9sWHhBU1EwaFRRMjl1ZEhKdmJFbGtaVzUwYVhSNUFBZ0FF
	UUFhQUNRQUtRQXlBRGNBU1FCTUFGRUFVd0JjQUdJQWF3QjFBSG9BZ0FDSEFJa0Fpd0NO
	QUk4QW1BQ3JBTWNBNHdEbEFPY0E2UURyQVFnQklnRW5BVElCT3dGU0FWVUJiQUYxQVp3
	Qm9RRzJBYmtBQUFBQUFBQUNBUUFBQUFBQUFBQXJBQUFBQUFBQUFBQUFBQUFBQUFBQnpn
	PT0iLCJDb250cm9sVHlwZSI6MX0seyJQcm9tcHRzRm9yVXNlckNvbmZpZ3VyYXRpb24i
	OmZhbHNlLCJJZGVudGlmaWVyIjpbIjczNjcwNDNGLUQ1N0MtNEUxQi05Q0Q3LTBDNDRE
	REY2OUMzNyJdLCJPdmVycmlkZVNpemVGb3JNZW51QmFyIjpmYWxzZSwiQ29udHJvbERl
	c2NyaXB0aW9uIjoiVG9nZ2xlIHdoZXRoZXIgRGFyayBNb2RlIGlzIGVuYWJsZWQiLCJD
	b250cm9sU2l6ZSI6MCwiRGlzcGxheU5hbWUiOiJEYXJrIE1vZGUiLCJDb250cm9sSWRl
	bnRpdHkiOiJZbkJzYVhOME1ERFVBUUlEQkFVR0J3cFlKSFpsY25OcGIyNVpKR0Z5WTJo
	cGRtVnlWQ1IwYjNCWUpHOWlhbVZqZEhNU0FBR0dvRjhRRDA1VFMyVjVaV1JCY21Ob2FY
	WmxjdEVJQ1ZSeWIyOTBnQUdvQ3d3VkhSNGZKaWRWSkc1MWJHelVEUTRQRUJFU0V4Ulph
	VzUwWlc1MFVtVm1WR3RwYm1SVlpYaDBTV1JXSkdOc1lYTnpnQUNBQm9BQ2dBZlVGaGNZ
	RUJFYUd4eGZFQkJrWlhacFkyVkpaR1Z1ZEdsbWFXVnlYeEFaWTI5dWRHRnBibVZ5UW5W
	dVpHeGxTV1JsYm5ScFptbGxjbDhRR1dWNGRHVnVjMmx2YmtKMWJtUnNaVWxrWlc1MGFX
	WnBaWEtBQUlBRWdBT0FCVjhRR21OdmJTNWhjSEJzWlM1amIyNTBjbTlzY3k1a2FYTndi
	R0Y1WHhBWFkyOXRMbUZ3Y0d4bExtTnZiblJ5YjJ4alpXNTBaWExTSUNFaUkxb2tZMnho
	YzNOdVlXMWxXQ1JqYkdGemMyVnpYeEFVUTBoVFJYaDBaVzV6YVc5dVNXUmxiblJwZEht
	aUpDVmZFQlJEU0ZORmVIUmxibk5wYjI1SlpHVnVkR2wwZVZoT1UwOWlhbVZqZEY4UUpH
	TnZiUzVoY0hCc1pTNWpiMjUwY205c2N5NWthWE53YkdGNUxtUmhjbXN0Ylc5a1pkSWdJ
	U2dwWHhBU1EwaFRRMjl1ZEhKdmJFbGtaVzUwYVhSNW9pb2xYeEFTUTBoVFEyOXVkSEp2
	YkVsa1pXNTBhWFI1QUFnQUVRQWFBQ1FBS1FBeUFEY0FTUUJNQUZFQVV3QmNBR0lBYXdC
	MUFIb0FnQUNIQUlrQWl3Q05BSThBbUFDckFNY0E0d0RsQU9jQTZRRHJBUWdCSWdFbkFU
	SUJPd0ZTQVZVQmJBRjFBWndCb1FHMkFia0FBQUFBQUFBQ0FRQUFBQUFBQUFBckFBQUFB
	QUFBQUFBQUFBQUFBQUFCemc9PSIsIkNvbnRyb2xUeXBlIjoxfSx7IlByb21wdHNGb3JV
	c2VyQ29uZmlndXJhdGlvbiI6ZmFsc2UsIklkZW50aWZpZXIiOlsiOTcyMjIyNEEtQTg3
	Ri00RjQ3LUFBREMtNDhEMkY5MkFFQjZBIl0sIk92ZXJyaWRlU2l6ZUZvck1lbnVCYXIi
	OmZhbHNlLCJDb250cm9sRGVzY3JpcHRpb24iOiJUb2dnbGUgd2hldGhlciBEYXJrIE1v
	ZGUgaXMgZW5hYmxlZCIsIkNvbnRyb2xTaXplIjowLCJEaXNwbGF5TmFtZSI6IkRhcmsg
	TW9kZSIsIkNvbnRyb2xJZGVudGl0eSI6IlluQnNhWE4wTUREVUFRSURCQVVHQndwWUpI
	Wmxjbk5wYjI1WkpHRnlZMmhwZG1WeVZDUjBiM0JZSkc5aWFtVmpkSE1TQUFHR29GOFFE
	MDVUUzJWNVpXUkJjbU5vYVhabGN0RUlDVlJ5YjI5MGdBR29Dd3dWSFI0ZkppZFZKRzUx
	Ykd6VURRNFBFQkVTRXhSWmFXNTBaVzUwVW1WbVZHdHBibVJWWlhoMFNXUldKR05zWVhO
	emdBQ0FCb0FDZ0FmVUZoY1lFQkVhR3h4ZkVCQmtaWFpwWTJWSlpHVnVkR2xtYVdWeVh4
	QVpZMjl1ZEdGcGJtVnlRblZ1Wkd4bFNXUmxiblJwWm1sbGNsOFFHV1Y0ZEdWdWMybHZi
	a0oxYm1Sc1pVbGtaVzUwYVdacFpYS0FBSUFFZ0FPQUJWOFFHbU52YlM1aGNIQnNaUzVq
	YjI1MGNtOXNjeTVrYVhOd2JHRjVYeEFYWTI5dExtRndjR3hsTG1OdmJuUnliMnhqWlc1
	MFpYTFNJQ0VpSTFva1kyeGhjM051WVcxbFdDUmpiR0Z6YzJWelh4QVVRMGhUUlhoMFpX
	NXphVzl1U1dSbGJuUnBkSG1pSkNWZkVCUkRTRk5GZUhSbGJuTnBiMjVKWkdWdWRHbDBl
	VmhPVTA5aWFtVmpkRjhRSkdOdmJTNWhjSEJzWlM1amIyNTBjbTlzY3k1a2FYTndiR0Y1
	TG1SaGNtc3RiVzlrWmRJZ0lTZ3BYeEFTUTBoVFEyOXVkSEp2YkVsa1pXNTBhWFI1b2lv
	bFh4QVNRMGhUUTI5dWRISnZiRWxrWlc1MGFYUjVBQWdBRVFBYUFDUUFLUUF5QURjQVNR
	Qk1BRkVBVXdCY0FHSUFhd0IxQUhvQWdBQ0hBSWtBaXdDTkFJOEFtQUNyQU1jQTR3RGxB
	T2NBNlFEckFRZ0JJZ0VuQVRJQk93RlNBVlVCYkFGMUFad0JvUUcyQWJrQUFBQUFBQUFD
	QVFBQUFBQUFBQUFyQUFBQUFBQUFBQUFBQUFBQUFBQUJ6Zz09IiwiQ29udHJvbFR5cGUi
	OjF9XX0=
	</data>
	<key>HasAttemptedMenuBarWorkflowMigration</key>
	<true/>
	<key>LastHeartbeatDateString.daily</key>
	<string>2026-04-18T16:59:17Z</string>
	<key>LastPeriodicAnalyticsPostDate</key>
	<date>2026-04-18T14:57:42Z</date>
	<key>LiveActivityState</key>
	<data>
	eyJTZXR0aW5nRXZlckVkaXRlZCI6dHJ1ZSwiU2V0dGluZ0VuYWJsZWQiOnRydWUsIkVu
	YWJsZWQiOnRydWUsIkxhc3RDaGFuZ2VEYXRlIjo3OTgxMzE5OTAuNDAxMjI1LCJDb21w
	YW5pb25QYWlyZWQiOnRydWV9
	</data>
	<key>NSStatusItem Preferred Position Bluetooth</key>
	<real>285</real>
	<key>NSStatusItem VisibleCC Battery</key>
	<true/>
	<key>NSStatusItem VisibleCC BentoBox-0</key>
	<true/>
	<key>NSStatusItem VisibleCC Bluetooth</key>
	<true/>
	<key>NSStatusItem VisibleCC Clock</key>
	<true/>
	<key>NSStatusItem VisibleCC WiFi</key>
	<true/>
	<key>RemoteLiveActivitiesEnabled</key>
	<true/>
</dict>
</plist>
