<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SKDUserDefaultsRoot</key>
	<dict>
		<key>SKDUserDefaultsMap</key>
		<dict>
			<key>default</key>
			<dict>
				<key>metricsLastFetchDate</key>
				<date>2026-04-18T11:02:52Z</date>
				<key>metricsWriting</key>
				<false/>
				<key>timestamp</key>
				<real>798202974.35945797</real>
				<key>versionNumber</key>
				<integer>1</integer>
			</dict>
			<key>pipeline:Embedding</key>
			<dict>
				<key>awaitingRedonationBundles</key>
				<array>
					<string>com.apple.AppStore</string>
					<string>com.apple.appplaceholdersyncd</string>
					<string>com.apple.MobileSMS</string>
					<string>com.apple.shortcuts</string>
					<string>com.apple.systempreferences</string>
					<string>com.apple.helpviewer</string>
					<string>com.apple.mobilephone</string>
					<string>com.apple.reminders</string>
					<string>com.apple.CalendarUI</string>
					<string>com.apple.Stickers</string>
					<string>com.apple.Safari</string>
				</array>
				<key>itemsAwaitingRedonation_com.apple.AppStore</key>
				<integer>0</integer>
				<key>itemsAwaitingRedonation_com.apple.CalendarUI</key>
				<integer>0</integer>
				<key>itemsAwaitingRedonation_com.apple.MobileSMS</key>
				<integer>0</integer>
				<key>itemsAwaitingRedonation_com.apple.Safari</key>
				<integer>0</integer>
				<key>itemsAwaitingRedonation_com.apple.Stickers</key>
				<integer>0</integer>
				<key>itemsAwaitingRedonation_com.apple.appplaceholdersyncd</key>
				<integer>0</integer>
				<key>itemsAwaitingRedonation_com.apple.helpviewer</key>
				<integer>0</integer>
				<key>itemsAwaitingRedonation_com.apple.mobilephone</key>
				<integer>0</integer>
				<key>itemsAwaitingRedonation_com.apple.reminders</key>
				<integer>0</integer>
				<key>itemsAwaitingRedonation_com.apple.shortcuts</key>
				<integer>0</integer>
				<key>itemsAwaitingRedonation_com.apple.systempreferences</key>
				<integer>0</integer>
				<key>timestamp</key>
				<real>798202980.03698099</real>
			</dict>
			<key>pipeline:Keyphrase</key>
			<dict>
				<key>awaitingRedonationBundles</key>
				<array>
					<string>com.apple.MobileSMS</string>
					<string>com.apple.mobilephone</string>
					<string>com.apple.helpviewer</string>
					<string>com.apple.tips</string>
					<string>com.apple.Safari</string>
					<string>com.apple.contactsd</string>
					<string>com.apple.Notes</string>
				</array>
				<key>completedProcessingNoResultCount</key>
				<integer>4695</integer>
				<key>enabledDate</key>
				<date>2026-04-17T14:55:25Z</date>
				<key>itemsAwaitingRedonation_com.apple.MobileSMS</key>
				<integer>0</integer>
				<key>itemsAwaitingRedonation_com.apple.Notes</key>
				<integer>0</integer>
				<key>itemsAwaitingRedonation_com.apple.Safari</key>
				<integer>0</integer>
				<key>itemsAwaitingRedonation_com.apple.contactsd</key>
				<integer>0</integer>
				<key>itemsAwaitingRedonation_com.apple.helpviewer</key>
				<integer>11089</integer>
				<key>itemsAwaitingRedonation_com.apple.mobilephone</key>
				<integer>0</integer>
				<key>itemsAwaitingRedonation_com.apple.tips</key>
				<integer>29</integer>
				<key>journalCookie_1</key>
				<string>80CDDAAE-E610-4857-8360-E1CF1BBA102C</string>
				<key>journalCookie_2</key>
				<string>FB01C5A8-5EC7-4C22-A15A-35C6B0F15CB5</string>
				<key>journalCookie_3</key>
				<string>10C5DBEF-62B3-4616-BD7F-B3ED87145596</string>
				<key>journalCookie_5</key>
				<string>2C3CB81C-19E5-4E28-97FD-9B6170654584</string>
				<key>journalsPurged</key>
				<integer>34</integer>
				<key>lastMetricsFetchJournalsPurged</key>
				<integer>25</integer>
				<key>loggingVersion</key>
				<string>13</string>
				<key>redonationsRequested</key>
				<integer>11200</integer>
				<key>serialNumber_1</key>
				<integer>29</integer>
				<key>serialNumber_2</key>
				<integer>2</integer>
				<key>serialNumber_3</key>
				<integer>14973</integer>
				<key>serialNumber_5</key>
				<integer>3846</integer>
				<key>timeSpentProcessing</key>
				<integer>24</integer>
				<key>timestamp</key>
				<real>798268421.70049405</real>
			</dict>
			<key>pipeline:LSSR5EventsandordersBackground</key>
			<dict>
				<key>awaitingRedonationBundles</key>
				<array>
					<string>com.apple.MobileSMS</string>
					<string>com.apple.CalendarUI</string>
				</array>
				<key>enabledDate</key>
				<date>2026-04-17T14:55:25Z</date>
				<key>itemsAwaitingRedonation_com.apple.CalendarUI</key>
				<integer>0</integer>
				<key>itemsAwaitingRedonation_com.apple.MobileSMS</key>
				<integer>0</integer>
				<key>journalCookie_1</key>
				<string>80CDDAAE-E610-4857-8360-E1CF1BBA102C</string>
				<key>journalCookie_2</key>
				<string>FB01C5A8-5EC7-4C22-A15A-35C6B0F15CB5</string>
				<key>journalCookie_3</key>
				<string>10C5DBEF-62B3-4616-BD7F-B3ED87145596</string>
				<key>journalCookie_5</key>
				<string>2C3CB81C-19E5-4E28-97FD-9B6170654584</string>
				<key>journalsPurged</key>
				<integer>34</integer>
				<key>lastMetricsFetchJournalsPurged</key>
				<integer>25</integer>
				<key>loggingVersion</key>
				<string>NA</string>
				<key>serialNumber_1</key>
				<integer>29</integer>
				<key>serialNumber_2</key>
				<integer>2</integer>
				<key>serialNumber_3</key>
				<integer>15065</integer>
				<key>serialNumber_5</key>
				<integer>3846</integer>
				<key>timestamp</key>
				<real>798268508.79632103</real>
			</dict>
			<key>pipeline:LSSR5EventsandordersUrgent</key>
			<dict>
				<key>enabledDate</key>
				<date>2026-04-17T14:55:25Z</date>
				<key>journalsPurged</key>
				<integer>54</integer>
				<key>lastMetricsFetchJournalsPurged</key>
				<integer>25</integer>
				<key>loggingVersion</key>
				<string>NA</string>
				<key>timestamp</key>
				<real>798202974.07458901</real>
			</dict>
			<key>pipeline:LSSR5IdentificationdocumentsBackground</key>
			<dict>
				<key>awaitingRedonationBundles</key>
				<array>
					<string>com.apple.MobileSMS</string>
				</array>
				<key>enabledDate</key>
				<date>2026-04-17T14:55:25Z</date>
				<key>itemsAwaitingRedonation_com.apple.MobileSMS</key>
				<integer>0</integer>
				<key>journalCookie_1</key>
				<string>80CDDAAE-E610-4857-8360-E1CF1BBA102C</string>
				<key>journalCookie_2</key>
				<string>FB01C5A8-5EC7-4C22-A15A-35C6B0F15CB5</string>
				<key>journalCookie_3</key>
				<string>10C5DBEF-62B3-4616-BD7F-B3ED87145596</string>
				<key>journalCookie_5</key>
				<string>2C3CB81C-19E5-4E28-97FD-9B6170654584</string>
				<key>journalsPurged</key>
				<integer>34</integer>
				<key>lastMetricsFetchJournalsPurged</key>
				<integer>25</integer>
				<key>loggingVersion</key>
				<string>NA</string>
				<key>serialNumber_1</key>
				<integer>29</integer>
				<key>serialNumber_2</key>
				<integer>2</integer>
				<key>serialNumber_3</key>
				<integer>14648</integer>
				<key>serialNumber_5</key>
				<integer>3846</integer>
				<key>timestamp</key>
				<real>798268421.65311801</real>
			</dict>
			<key>pipeline:Unattributed</key>
			<dict>
				<key>awaitingRedonationBundles</key>
				<array>
					<string>net.whatsapp.WhatsApp</string>
				</array>
				<key>itemsAwaitingRedonation_net.whatsapp.WhatsApp</key>
				<integer>311</integer>
				<key>redonationsRequested</key>
				<integer>311</integer>
				<key>timestamp</key>
				<real>798260716.46376598</real>
			</dict>
		</dict>
		<key>SKDUserDefaultsVersion</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
