<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMSBagTracker_NowPlayingEnabledKey</key>
	<true/>
	<key>FeatureEnablementAdditionalFlags</key>
	<array>
		<string>durban</string>
	</array>
	<key>hasMigratedToNewBadgingSystem</key>
	<true/>
	<key>lastKnownTVAppEnabledValue</key>
	<true/>
	<key>storedConfig</key>
	<dict>
		<key>activeUser</key>
		<false/>
		<key>rrkvp</key>
		<dict>
			<key>caller</key>
			<string>wlk</string>
			<key>locale</key>
			<string>en-GB</string>
			<key>pfm</key>
			<string>desktop</string>
			<key>sf</key>
			<string>143467</string>
			<key>utscf</key>
			<string>OjAAAAEAAAAAAAUAEAAAAAwADQAjACsALQAuAA~~</string>
			<key>utsk</key>
			<string>6e3013c6d6fae3c2::::::235656c069bb0efb</string>
			<key>v</key>
			<string>94</string>
		</dict>
	</dict>
	<key>storedConfigTimestamp</key>
	<real>1776438677</real>
</dict>
</plist>
