<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ChecklistStoreCache.count</key>
	<integer>7</integer>
	<key>FamilyMarqueeDarkMode</key>
	<string>file:/Users/prakharsingh/Library/Caches/FamilyCircle/FamilyMarqueeDarkMode-CA863D73-82C0-478E-9048-8FD34097F55A@2x.png</string>
	<key>FamilyMarqueeLightMode</key>
	<string>file:/Users/prakharsingh/Library/Caches/FamilyCircle/FamilyMarqueeLightMode-CA863D73-82C0-478E-9048-8FD34097F55A@2x.png</string>
	<key>FamilyMarqueeTS</key>
	<real>798130649.16647196</real>
	<key>FamilyRowState</key>
	<string>family</string>
	<key>MemberDetailsPurchaseSharingCache.memberDSID</key>
	<integer>20287930038</integer>
	<key>MemberDetailsPurchaseSharingCache.subscriberDSIDs</key>
	<array/>
	<key>PurchaseSharingFamilyCache.subscription</key>
	<true/>
	<key>SubscriptionFamilyCache.subscriptionLabel.en</key>
	<string>1 shared subscription</string>
	<key>__ID__</key>
	<integer>20287930038</integer>
</dict>
</plist>
