<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AVTRecentStickers</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGoCwwXGBkaHSRVJG51bGzTDQ4P
	EBMWV05TLmtleXNaTlMub2JqZWN0c1YkY2xhc3OiERKAAoADohQVgASABYAHXxATQVZU
	RnJlcXVlbmN5Q291bnRlcl8QEEFWVFN0aWNrZXJzQXJyYXkQANIODxscoIAG0h4fICFa
	JGNsYXNzbmFtZVgkY2xhc3Nlc15OU011dGFibGVBcnJheaMgIiNXTlNBcnJheVhOU09i
	amVjdNIeHyUmXE5TRGljdGlvbmFyeaIlIwAIABEAGgAkACkAMgA3AEkATABRAFMAXABi
	AGkAcQB8AIMAhgCIAIoAjQCPAJEAkwCpALwAvgDDAMQAxgDLANYA3wDuAPIA+gEDAQgB
	FQAAAAAAAAIBAAAAAAAAACcAAAAAAAAAAAAAAAAAAAEY
	</data>
	<key>CKPerBootTasks</key>
	<array>
		<string>CKAccountInfoCacheReset</string>
	</array>
	<key>CKStartupTime</key>
	<integer>1776437273</integer>
	<key>CloudKitAccountInfoCache</key>
	<dict>
		<key>a18fce030952a7893d6683566564b0f915494cf7f7c0494fa38830f0fa242e58</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwhIlUk
		bnVsbNsNDg8QERITFBUWFxgZGhsYHBoeGB8gXxAaQWNjb3VudEFjY2Vzc0F1
		dGhvcml6YXRpb25cV2FscnVzU3RhdHVzXxATQnlwYXNzUENTRW5jcnlwdGlv
		bl8QE0hhc1ZhbGlkQ3JlZGVudGlhbHNfEBBBY2NvdW50UGFydGl0aW9uXxAk
		RGV2aWNlVG9EZXZpY2VFbmNyeXB0aW9uQXZhaWxhYmlsaXR5XxASTmVlZHNU
		b1ZlcmlmeVRlcm1zViRjbGFzc11BY2NvdW50U3RhdHVzWklkZW50aWZpZXJf
		EBxBY2NvdW50SW5mb1ZhbGlkYXRpb25Db3VudGVyEAEQAggJEAMIgAOAAhBo
		XxAsMkpMMTVzSlNFL3VEZnJ2VXk0L3FQWHh3U0kxWEZ0RVFuZ1BmZGlwaU0z
		VT3SIyQlJlokY2xhc3NuYW1lWCRjbGFzc2VzXUNLQWNjb3VudEluZm+iJSdY
		TlNPYmplY3QACAARABoAJAApADIANwBJAEwAUQBTAFgAXgB1AJIAnwC1AMsA
		3gEFARoBIQEvAToBWQFbAV0BXgFfAWEBYgFkAWYBaAGXAZwBpwGwAb4BwQAA
		AAAAAAIBAAAAAAAAACgAAAAAAAAAAAAAAAAAAAHK
		</data>
	</dict>
</dict>
</plist>
