<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CSReceiverBundleIdentifierState</key>
	<dict>
		<key>com.apple.AMSUIPaymentViewService</key>
		<true/>
		<key>com.apple.Accessibility-Settings.extension</key>
		<true/>
		<key>com.apple.AccessibilityVisualsAgent</key>
		<true/>
		<key>com.apple.AppStore</key>
		<true/>
		<key>com.apple.Appearance-Settings.extension</key>
		<true/>
		<key>com.apple.AquaAppearanceHelper</key>
		<true/>
		<key>com.apple.AuthenticationServices.Helper</key>
		<true/>
		<key>com.apple.AvatarUI.AvatarPickerMemojiPicker</key>
		<true/>
		<key>com.apple.Battery-Settings.extension</key>
		<true/>
		<key>com.apple.BluetoothSettings</key>
		<true/>
		<key>com.apple.CalendarUI</key>
		<true/>
		<key>com.apple.CharacterPaletteIM</key>
		<true/>
		<key>com.apple.CloudKit.ShareBear</key>
		<true/>
		<key>com.apple.ContinuityCaptureOnboardingUI</key>
		<true/>
		<key>com.apple.ControlCenter-Settings.extension</key>
		<true/>
		<key>com.apple.CoreLocationAgent</key>
		<true/>
		<key>com.apple.Desktop-Settings.extension</key>
		<true/>
		<key>com.apple.DiskImageMounter</key>
		<true/>
		<key>com.apple.Displays-Settings.extension</key>
		<true/>
		<key>com.apple.FaceTime</key>
		<true/>
		<key>com.apple.FaceTime.FaceTimeNotificationExtension</key>
		<true/>
		<key>com.apple.Family-Settings.extension</key>
		<true/>
		<key>com.apple.Focus-Settings.extension</key>
		<true/>
		<key>com.apple.FontBook</key>
		<true/>
		<key>com.apple.Game-Center-Settings.extension</key>
		<true/>
		<key>com.apple.GameOverlayViewService</key>
		<true/>
		<key>com.apple.InCallService</key>
		<true/>
		<key>com.apple.Internet-Accounts-Settings.extension</key>
		<true/>
		<key>com.apple.Keyboard-Settings.extension</key>
		<true/>
		<key>com.apple.LocalAuthentication.UIAgent</key>
		<true/>
		<key>com.apple.LocalAuthenticationRemoteService</key>
		<true/>
		<key>com.apple.Lock-Screen-Settings.extension</key>
		<true/>
		<key>com.apple.MobileSMS</key>
		<true/>
		<key>com.apple.Music</key>
		<true/>
		<key>com.apple.Network-Settings.extension</key>
		<true/>
		<key>com.apple.NetworkExtensionSettingsUI.NESettingsUIExtension</key>
		<true/>
		<key>com.apple.Notes</key>
		<true/>
		<key>com.apple.Notifications-Settings.extension</key>
		<true/>
		<key>com.apple.Pages</key>
		<true/>
		<key>com.apple.PassKit.PaymentAuthorizationUIExtension</key>
		<true/>
		<key>com.apple.Passwords</key>
		<true/>
		<key>com.apple.Photos</key>
		<true/>
		<key>com.apple.PowerChime</key>
		<true/>
		<key>com.apple.Print-Scan-Settings.extension</key>
		<true/>
		<key>com.apple.Safari</key>
		<true/>
		<key>com.apple.Safari.SandboxBroker</key>
		<true/>
		<key>com.apple.SafariPlatformSupport.Helper</key>
		<true/>
		<key>com.apple.Screen-Time-Settings.extension</key>
		<true/>
		<key>com.apple.ScreenContinuity</key>
		<true/>
		<key>com.apple.ScreenTime.ScreenTimeWebExtension</key>
		<true/>
		<key>com.apple.ScriptMonitor</key>
		<true/>
		<key>com.apple.SecurityAgent</key>
		<true/>
		<key>com.apple.SetupAssistant</key>
		<true/>
		<key>com.apple.Siri-Settings.extension</key>
		<true/>
		<key>com.apple.Software-Update-Settings.extension</key>
		<true/>
		<key>com.apple.Sound-Settings.extension</key>
		<true/>
		<key>com.apple.Spotlight</key>
		<true/>
		<key>com.apple.Spotlight-Settings.extension</key>
		<true/>
		<key>com.apple.Stickers</key>
		<true/>
		<key>com.apple.SystemProfiler.AboutExtension</key>
		<true/>
		<key>com.apple.TV</key>
		<true/>
		<key>com.apple.Terminal</key>
		<true/>
		<key>com.apple.TextEdit</key>
		<true/>
		<key>com.apple.TextInputMenuAgent</key>
		<true/>
		<key>com.apple.TextInputSwitcher</key>
		<true/>
		<key>com.apple.TextInputUI.xpc.CursorUIViewService</key>
		<true/>
		<key>com.apple.Time-Machine-Settings.extension</key>
		<true/>
		<key>com.apple.Touch-ID-Settings.extension</key>
		<true/>
		<key>com.apple.Trackpad-Settings.extension</key>
		<true/>
		<key>com.apple.UserNotificationCenter</key>
		<true/>
		<key>com.apple.Users-Groups-Settings.extension</key>
		<true/>
		<key>com.apple.WalletSettingsExtension</key>
		<true/>
		<key>com.apple.Wallpaper-Settings.extension</key>
		<true/>
		<key>com.apple.accessibility.universalAccessAuthWarn</key>
		<true/>
		<key>com.apple.application</key>
		<true/>
		<key>com.apple.appplaceholdersyncd</key>
		<true/>
		<key>com.apple.archiveutility</key>
		<true/>
		<key>com.apple.calculator</key>
		<true/>
		<key>com.apple.contactsd</key>
		<true/>
		<key>com.apple.controlcenter</key>
		<true/>
		<key>com.apple.coreservices.UASharedPasteboardProgressUI</key>
		<true/>
		<key>com.apple.coreservices.uiagent</key>
		<true/>
		<key>com.apple.dock.helper</key>
		<true/>
		<key>com.apple.dt.Xcode</key>
		<true/>
		<key>com.apple.duetexpertd</key>
		<true/>
		<key>com.apple.facetime.NotificationViewBridgeService</key>
		<true/>
		<key>com.apple.fileprovider.fileproviderd</key>
		<true/>
		<key>com.apple.finder</key>
		<true/>
		<key>com.apple.helpviewer</key>
		<true/>
		<key>com.apple.inputmethod.ironwood</key>
		<true/>
		<key>com.apple.loginwindow</key>
		<true/>
		<key>com.apple.mobilephone</key>
		<true/>
		<key>com.apple.notificationcenterui</key>
		<true/>
		<key>com.apple.quicklook.QuickLookSimulator</key>
		<true/>
		<key>com.apple.quicklook.QuickLookUIService</key>
		<true/>
		<key>com.apple.reminders</key>
		<true/>
		<key>com.apple.screencaptureui</key>
		<true/>
		<key>com.apple.settings.PrivacySecurity.extension</key>
		<true/>
		<key>com.apple.sharing.ShareSheetUI</key>
		<true/>
		<key>com.apple.shortcuts</key>
		<true/>
		<key>com.apple.spotlight</key>
		<true/>
		<key>com.apple.spotlight.contacts</key>
		<true/>
		<key>com.apple.spotlightknowledged</key>
		<true/>
		<key>com.apple.systempreferences</key>
		<true/>
		<key>com.apple.systempreferences.AppleIDSettings</key>
		<true/>
		<key>com.apple.systemuiserver</key>
		<true/>
		<key>com.apple.tips</key>
		<true/>
		<key>com.apple.weather</key>
		<true/>
		<key>com.apple.wifi-settings-extension</key>
		<true/>
		<key>com.apple.windowmanager.ShowDesktopEducation</key>
		<true/>
		<key>com.crystalidea.macsfancontrol</key>
		<true/>
		<key>com.eidac.smcFanControl2</key>
		<true/>
		<key>com.google.Chrome</key>
		<true/>
		<key>com.kagi.kagimacOS</key>
		<true/>
		<key>com.microsoft.VSCode</key>
		<true/>
		<key>com.mitchellh.ghostty</key>
		<true/>
		<key>com.raycast.macos</key>
		<true/>
		<key>com.sertacozercan.Kaset</key>
		<true/>
		<key>com.sigmaos.sigmaos.macos</key>
		<true/>
		<key>com.sindresorhus.Command-X</key>
		<true/>
		<key>io.browsewithnook.nook</key>
		<true/>
		<key>net.whatsapp.WhatsApp</key>
		<true/>
	</dict>
</dict>
</plist>
