<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GenerativeModelsAvailability.lastStatus</key>
	<integer>12889161728</integer>
	<key>GenerativeModelsAvailability.lastStatusTime</key>
	<real>1776510176.966131</real>
	<key>uploadTaskBookmark</key>
	<real>798202977.11630797</real>
</dict>
</plist>
