<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EngagementMail</key>
	<string>IADataStoreDaterange</string>
	<key>EngagementMail_bitfield</key>
	<integer>0</integer>
	<key>EngagementMail_lastModified</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>EngagementMail_originDate</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>EngagementMail_startDate</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>EngagementMail_version</key>
	<integer>1</integer>
	<key>EngagementMessages</key>
	<string>IADataStoreDaterange</string>
	<key>EngagementMessages_bitfield</key>
	<integer>0</integer>
	<key>EngagementMessages_lastModified</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>EngagementMessages_originDate</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>EngagementMessages_startDate</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>EngagementMessages_version</key>
	<integer>1</integer>
</dict>
</plist>
