<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InitialLocalMigration</key>
	<true/>
	<key>LocalDeviceID</key>
	<string>7748D639-6F82-46DF-A960-3430770FE568</string>
</dict>
</plist>
