<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AutoplayPolicyWhitelistConfigurationUpdateDate</key>
	<date>2026-04-18T16:38:27Z</date>
	<key>AutoplayQuirksWhitelistConfigurationUpdateDate</key>
	<date>2026-04-18T16:38:27Z</date>
	<key>DateOfLastSessionStateDataCleanup</key>
	<date>2026-04-19T09:11:15Z</date>
	<key>DidClearLegacySpotlightMetadataCaches</key>
	<true/>
	<key>DidGrantSearchProviderAccessToWebNavigationExtensions</key>
	<true/>
	<key>DidMigrateAppExtensionPermissions</key>
	<true/>
	<key>DidMigrateDefaultsToSandboxSecureDefaults</key>
	<true/>
	<key>DidMigrateDeviceIdentifier com.apple.Safari.WBSDeviceIdentifierManager.com.apple.Safari.Bookmarks</key>
	<true/>
	<key>DidMigrateDeviceIdentifier com.apple.Safari.WBSDeviceIdentifierManager.com.apple.Safari.DeviceUtilities</key>
	<true/>
	<key>DidMigrateDeviceIdentifier com.apple.Safari.WBSDeviceIdentifierManager.com.apple.Safari.TabGroups</key>
	<true/>
	<key>DidMigrateDownloadFolderToSandbox</key>
	<true/>
	<key>DidMigrateLastSessionPlist</key>
	<true/>
	<key>DidMigrateNewBookmarkSheetToReadingListDefault</key>
	<true/>
	<key>DidMigrateResourcesToSandbox</key>
	<true/>
	<key>DidMigrateSecureDefaultsToUserDefaults</key>
	<true/>
	<key>DidMigrateStartPageDefaultSidebarVisibility</key>
	<true/>
	<key>DidMigrateToCoreSpotlightBasedHistorySearch</key>
	<true/>
	<key>DidMigrateToMoreRestrictiveFileURLPolicy</key>
	<true/>
	<key>DidMigrateWebDriverAllowRemoteAutomation</key>
	<true/>
	<key>DidMigrateWebExtensionSQLiteStorageToWebKit</key>
	<true/>
	<key>DidRecomputeStartPageAppearanceAfterFixes</key>
	<true/>
	<key>DidReportHistorySettings</key>
	<true/>
	<key>DidUpdateCoreSpotlightBookmarksDataOnUpgrade</key>
	<true/>
	<key>ExtensionsEnabled</key>
	<true/>
	<key>ExtensionsToolbarConfiguration BrowserToolbarIdentifier-v5</key>
	<dict>
		<key>OrderedToolbarItemIdentifiers</key>
		<array>
			<string>CombinedSidebarTabGroupToolbarIdentifier</string>
			<string>SidebarSeparatorToolbarItemIdentifier</string>
			<string>TabGroupPickerToolbarIdentifier</string>
			<string>BackForwardToolbarIdentifier</string>
			<string>UnifiedTabBarToolbarIdentifier</string>
			<string>ShareToolbarIdentifier</string>
			<string>NewTabToolbarIdentifier</string>
			<string>TabPickerToolbarIdentifier</string>
		</array>
	</dict>
	<key>HideStartPageRecentlyClosedTabsEmptyItemView</key>
	<false/>
	<key>HomePage</key>
	<string>https://www.apple.com/startpage/</string>
	<key>IIO_LaunchInfo</key>
	<real>0.095173001289367676</real>
	<key>LastCloudHistoryConfigurationUpdateTime</key>
	<date>2026-04-18T15:32:46Z</date>
	<key>LastKnownStartPageAppearance</key>
	<string>NSAppearanceNameVibrantDark</string>
	<key>LastKnownStartPageBackgroundImageName</key>
	<string>2024_05_LANDSCAPE_BLUE.heic</string>
	<key>LastOSVersionSafariWasLaunchedOn</key>
	<string>26.4.1</string>
	<key>LastOpenedSubPaneInWebsitesPrefPane</key>
	<string>ReaderPreference</string>
	<key>LastSandboxFileExtensionMaintenanceDate</key>
	<date>2026-04-18T12:18:11Z</date>
	<key>LastSharedLinksMessageTraceTime</key>
	<real>798133064.68581295</real>
	<key>LocalFileRestrictionsEnabled</key>
	<true/>
	<key>NSNavPanelExpandedSizeForOpenMode</key>
	<string>{880, 448}</string>
	<key>NSNavPanelFileListModeForOpenMode2</key>
	<integer>0</integer>
	<key>NSOSPLastRootDirectory</key>
	<data>
	Ym9va2ACAAAAAAUQQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAAAAAAAAAAAAAAGQBAAAEAAAAAwMAAAAAACAGAAAAAQEAAFN5c3RlbQAABwAAAAEB
	AABMaWJyYXJ5ABAAAAABAQAARGVza3RvcCBQaWN0dXJlcwwAAAABBgAAEAAAACAAAAAw
	AAAACAAAAAQDAAAXAAAA////DwgAAAAEAwAAfo8AAP///w8IAAAABAMAABV3AwD///8P
	DAAAAAEGAABcAAAAbAAAAHwAAAAIAAAAAAQAAEHHwdEIgAAAGAAAAAECAAACAAAAAAAA
	AA8AAAAAAAAAAAAAAAAAAAAAAAAAAQUAAAgAAAABCQAAZmlsZTovLy8MAAAAAQEAAE1h
	Y2ludG9zaCBIRAgAAAAEAwAAAFChG3MAAAAkAAAAAQEAAEQ5N0M0RjRFLTAyQTEtNEQ5
	My05RjJDLUQzNzA2RUVCNDFFNBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAA
	AQAAAAEBAAAvAAAAtAAAAP7///8BAAAAAAAAAA4AAAAEEAAASAAAAAAAAAAFEAAAjAAA
	AAAAAAAQEAAAsAAAAAAAAABAEAAAoAAAAAAAAAACIAAAWAEAAAAAAAAFIAAA2AAAAAAA
	AAAQIAAA6AAAAAAAAAARIAAADAEAAAAAAAASIAAA/AAAAAAAAAATIAAAoAAAAAAAAAAg
	IAAAOAEAAAAAAAAwIAAA0AAAAAAAAAAB0AAA0AAAAAAAAAAQ0AAABAAAAAAAAAA=
	</data>
	<key>NSPreferencesContentSize</key>
	<string>{836, 576}</string>
	<key>NSPreferencesSelectedIndex</key>
	<integer>10</integer>
	<key>NSToolbar Configuration BrowserStandaloneTabBarToolbarIdentifier-v3.1</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>2</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSToolbar Configuration BrowserToolbarIdentifier-v5</key>
	<dict>
		<key>TB Display Mode</key>
		<integer>2</integer>
		<key>TB Icon Size Mode</key>
		<integer>1</integer>
		<key>TB Is Shown</key>
		<true/>
		<key>TB Size Mode</key>
		<integer>1</integer>
	</dict>
	<key>NSWindow Frame BrowserWindowFrame</key>
	<string>210 91 1324 940 0 0 1800 1130 </string>
	<key>NSWindow Frame NSSpellCheckerSpellingPanel</key>
	<string>524 482 431 289 0 0 1800 1130 </string>
	<key>NSWindow Frame NSSpellCheckerSubstitutionsPanel2</key>
	<string>692 399 359 150 0 0 1800 1130 </string>
	<key>NSWindow Frame Preferences</key>
	<string>225 229 836 608 0 0 1800 1130 </string>
	<key>NewTabPageLastModified</key>
	<date>2026-04-17T15:32:46Z</date>
	<key>NewestLaunchedSafariVersion</key>
	<string>624.1.16.11.4</string>
	<key>OpenWindows</key>
	<array/>
	<key>PreferencesModulesMinimumWidths</key>
	<dict>
		<key>CFBundleVersion</key>
		<string>21624.1.16.11.4</string>
		<key>DeveloperMenuVisibility</key>
		<false/>
		<key>Locale</key>
		<string>en_US@rg=inzzzz</string>
		<key>MinimumWidths</key>
		<dict>
			<key>AdvancedPreferences</key>
			<real>836</real>
			<key>AutoFillPreferences</key>
			<real>836</real>
			<key>ExtensionsPreferences</key>
			<real>836</real>
			<key>GeneralPreferences</key>
			<real>836</real>
			<key>PasswordsPreferences</key>
			<real>836</real>
			<key>PrivacyPreferences</key>
			<real>836</real>
			<key>ProfilesPreferences</key>
			<real>836</real>
			<key>SearchPreferences</key>
			<real>836</real>
			<key>SecurityPreferences</key>
			<real>836</real>
			<key>TabsPreferences</key>
			<real>836</real>
			<key>WebsitesPreferences</key>
			<real>836</real>
		</dict>
	</dict>
	<key>PrivacyReportStartPageData</key>
	<dict>
		<key>DefaultProfile</key>
		<dict>
			<key>mostSeenKnownTrackerDomain</key>
			<string>google.com</string>
			<key>numberOfFirstParties</key>
			<integer>5</integer>
			<key>numberOfTrackers</key>
			<integer>5</integer>
			<key>ratioOfTrackedFirstPartiesToAllVisited</key>
			<real>0.31818181818181818</real>
		</dict>
	</dict>
	<key>PrivacyReportStartPageNumberOfTrackers</key>
	<dict>
		<key>DefaultProfile</key>
		<integer>5</integer>
	</dict>
	<key>PrivateBrowsingRequiresAuthentication</key>
	<true/>
	<key>RecentWebSearches</key>
	<array>
		<dict>
			<key>Date</key>
			<date>2026-04-19T09:18:24Z</date>
			<key>SearchString</key>
			<string>make env in uv and activate</string>
			<key>URLs</key>
			<array>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=make+env+in+uv+and+activate&amp;ie=UTF-8&amp;oe=UTF-8</string>
			</array>
		</dict>
		<dict>
			<key>Date</key>
			<date>2026-04-19T09:15:51Z</date>
			<key>SearchString</key>
			<string>macprefs</string>
			<key>URLs</key>
			<array>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=macprefs&amp;ie=UTF-8&amp;oe=UTF-8</string>
			</array>
		</dict>
		<dict>
			<key>Date</key>
			<date>2026-04-19T09:05:14Z</date>
			<key>SearchString</key>
			<string>https://github.com/mathiasbynens/dotfiles/blob/master/.macos</string>
			<key>URLs</key>
			<array>
				<string>https://www.google.com/search?q=https://github.com/mathiasbynens/dotfiles/blob/master/.macos</string>
			</array>
		</dict>
		<dict>
			<key>Date</key>
			<date>2026-04-19T09:04:53Z</date>
			<key>SearchString</key>
			<string>gemi</string>
			<key>URLs</key>
			<array>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=gemi&amp;ie=UTF-8&amp;oe=UTF-8</string>
			</array>
		</dict>
		<dict>
			<key>Date</key>
			<date>2026-04-19T09:03:36Z</date>
			<key>SearchString</key>
			<string>how to export mac settings</string>
			<key>URLs</key>
			<array>
				<string>https://www.google.com/search?q=how+to+export+mac+settings&amp;num=10&amp;client=safari&amp;hs=J1O&amp;sca_esv=f6913a6b03d5cca2&amp;rls=en&amp;sxsrf=ANbL-n7ciuVfepNsJP9KamBy-_WO_RCijQ%3A1776586095549&amp;ei=b43kaZ6IIe69seMPpeHkkAY&amp;biw=1800&amp;bih=1078&amp;oq=how+to+export+mac+se&amp;gs_lp=Egxnd3Mtd2l6LXNlcnAiFGhvdyB0byBleHBvcnQgbWFjIHNlKgIIADIGEAAYFhgeMgYQABgWGB4yBhAAGBYYHjIGEAAYFhgeMggQABgWGAoYHjIGEAAYFhgeMgYQABgWGB4yBhAAGBYYHjIGEAAYFhgeMgsQABiABBiGAxiKBUifMFCcBVikJ3AFeAGQAQCYAckBoAHmGqoBBjAuMjEuMbgBA8gBAPgBAZgCGaACuBnCAgoQABiwAxjWBBhHwgIKEAAYgAQYQxiKBcICCxAAGIAEGJECGIoFwgIFEAAYgATCAgQQIxgnwgIKECMYgAQYJxiKBcICChAjGPAFGCcYngbCAggQABiABBixA8ICCBAAGKIEGIkFwgIFEAAY7wXCAgUQIRigAZgDAOIDBRIBMSBAiAYBkAYIkgcGNS4xOS4xoAeitwGyBwYwLjE5LjG4B54ZwgcHMC4xNS4xMMgHToAIAA&amp;sclient=gws-wiz-serp</string>
			</array>
		</dict>
		<dict>
			<key>Date</key>
			<date>2026-04-19T08:08:11Z</date>
			<key>SearchString</key>
			<string>how to calc roi in collge</string>
			<key>URLs</key>
			<array>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=how+to+calc+roi+in+collge&amp;ie=UTF-8&amp;oe=UTF-8</string>
			</array>
		</dict>
		<dict>
			<key>Date</key>
			<date>2026-04-19T07:49:44Z</date>
			<key>SearchString</key>
			<string>claude</string>
			<key>URLs</key>
			<array>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=claude&amp;ie=UTF-8&amp;oe=UTF-8</string>
			</array>
		</dict>
		<dict>
			<key>Date</key>
			<date>2026-04-19T07:34:24Z</date>
			<key>SearchString</key>
			<string>gir</string>
			<key>URLs</key>
			<array>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=gir&amp;ie=UTF-8&amp;oe=UTF-8</string>
			</array>
		</dict>
		<dict>
			<key>Date</key>
			<date>2026-04-19T05:42:54Z</date>
			<key>SearchString</key>
			<string>nix darwin configs</string>
			<key>URLs</key>
			<array>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=nix+darwin+configs&amp;ie=UTF-8&amp;oe=UTF-8</string>
			</array>
		</dict>
		<dict>
			<key>Date</key>
			<date>2026-04-18T16:38:27Z</date>
			<key>SearchString</key>
			<string>how to add a homebrew service in nix</string>
			<key>URLs</key>
			<array>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=how+to+add+a+homebrew+service+in+nix&amp;ie=UTF-8&amp;oe=UTF-8</string>
			</array>
		</dict>
		<dict>
			<key>Date</key>
			<date>2026-04-18T15:24:35Z</date>
			<key>SearchString</key>
			<string>nix file example</string>
			<key>URLs</key>
			<array>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=nix+file+example&amp;ie=UTF-8&amp;oe=UTF-8</string>
			</array>
		</dict>
		<dict>
			<key>Date</key>
			<date>2026-04-18T15:01:07Z</date>
			<key>SearchString</key>
			<string>nix darwin tutorial</string>
			<key>URLs</key>
			<array>
				<string>https://www.google.com/search?client=safari&amp;hs=1Pjp&amp;sca_esv=32ed2d6df950acda&amp;rls=en&amp;sxsrf=ANbL-n6vgL9E1-LHse53N4pZ8Ylo_NOozw:1776524441879&amp;udm=7&amp;fbs=ADc_l-aN0CWEZBOHjofHoaMMDiKpV6Bbbmx4QVaoKkiRQ2jlwvCHF0Eqz8cUq4JjDCZnrJEJPua1MxnlJWIzg-ca3uHtIoKdi0gAHS3m0W86wI_pK8lsKFDUkNKDh63gvUO4UYULBCisXL-6Buo3GK_5TfbIknbRcTxV8GHlgWRKxB5-mWeix1JY3clN6mKI4eNkaynLHg59ro3fNoUCTL1IQcWbh7c2zA&amp;q=nix+darwin+tutorial&amp;sa=X&amp;ved=2ahUKEwivx6ui1feTAxXxTmwGHalTHaIQtKgLegQIFRAB&amp;biw=1544&amp;bih=1078&amp;dpr=2</string>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=nix+darwin+tutorial&amp;ie=UTF-8&amp;oe=UTF-8</string>
			</array>
		</dict>
		<dict>
			<key>Date</key>
			<date>2026-04-17T15:42:11Z</date>
			<key>SearchString</key>
			<string>sigma os</string>
			<key>URLs</key>
			<array>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=sigma+os&amp;ie=UTF-8&amp;oe=UTF-8</string>
			</array>
		</dict>
		<dict>
			<key>Date</key>
			<date>2026-04-17T15:33:08Z</date>
			<key>SearchString</key>
			<string>artemis 2 gallary</string>
			<key>URLs</key>
			<array>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=artemis+2+gallary&amp;ie=UTF-8&amp;oe=UTF-8&amp;sei=tFLiaY7-LuCF4-EPnpbKuAg</string>
				<string>https://www.google.com/search?client=safari&amp;rls=en&amp;q=artemis+2+gallary&amp;ie=UTF-8&amp;oe=UTF-8</string>
			</array>
		</dict>
	</array>
	<key>SafariProfilesLastActiveProfileUUIDString</key>
	<string>DefaultProfile</string>
	<key>SafariVersionForExperimentalFeatures</key>
	<string>26.4</string>
	<key>SearchProviderIdentifierMigratedToSystemPreference</key>
	<true/>
	<key>ShowBackgroundImageInFavorites</key>
	<false/>
	<key>ShowSidebarInNewWindows</key>
	<false/>
	<key>ShowSidebarInTopSites</key>
	<false/>
	<key>ShowStandaloneTabBar</key>
	<false/>
	<key>SidebarItemExpansionStateLibraryItemHeaderTypeSaved</key>
	<true/>
	<key>SidebarItemExpansionStateLibraryItemHeaderTypeTabGroups</key>
	<true/>
	<key>SidebarSplitViewDividerPosition</key>
	<real>240</real>
	<key>SidebarViewModeIdentifierV2</key>
	<integer>0</integer>
	<key>SkipLoadingEnabledAppExtensionsAtLaunch</key>
	<true/>
	<key>SkipLoadingEnabledContentBlockersAtLaunch</key>
	<true/>
	<key>SkipLoadingEnabledWebExtensionsAtLaunch</key>
	<true/>
	<key>StartPagePopoverUsesDefaultBackground</key>
	<true/>
	<key>StartPageSections</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEBQLDBkfICcrLDAxNTY6Oz9A
	REVJSlUkbnVsbNINDg8YWk5TLm9iamVjdHNWJGNsYXNzqBAREhMUFRYXgAKABYAHgAmA
	C4ANgA+AEYAT0xobDhwdHlpJZGVudGlmaWVyWUlzRW5hYmxlZIADCIAEXxAXZmF2b3Jp
	dGVzSXRlbUlkZW50aWZpZXLSISIjJFokY2xhc3NuYW1lWCRjbGFzc2VzXxAdV0JTU3Rh
	cnRQYWdlU2VjdGlvbkRlc2NyaXB0b3KiJSZfEB1XQlNTdGFydFBhZ2VTZWN0aW9uRGVz
	Y3JpcHRvclhOU09iamVjdNMaGw4oHR6ABgiABF8QGXN1Z2dlc3Rpb25zSXRlbUlkZW50
	aWZpZXLTGhsOLS4egAgJgARfEB9mcmVxdWVudGx5VmlzaXRlZEl0ZW1JZGVudGlmaWVy
	0xobDjIuHoAKCYAEXxAYaGlnaGxpZ2h0c0l0ZW1JZGVudGlmaWVy0xobDjcdHoAMCIAE
	XxAXcHJpdmFjeVJlcG9ydElkZW50aWZpZXLTGhsOPB0egA4IgARfEBlyZWFkaW5nTGlz
	dEl0ZW1JZGVudGlmaWVy0xobDkEdHoAQCIAEXxAqcmVjZW50bHlDbG9zZWRUYWJzSW5U
	YWJHcm91cEl0ZW1JZGVudGlmaWVy0xobDkYuHoASCYAEXxAXY2xvdWRUYWJzSXRlbUlk
	ZW50aWZpZXLSISJLTF5OU011dGFibGVBcnJheaNLTSZXTlNBcnJheQAIABEAGgAkACkA
	MgA3AEkATABRAFMAagBwAHUAgACHAJAAkgCUAJYAmACaAJwAngCgAKIAqQC0AL4AwADB
	AMMA3QDiAO0A9gEWARkBOQFCAUkBSwFMAU4BagFxAXMBdAF2AZgBnwGhAaIBpAG/AcYB
	yAHJAcsB5QHsAe4B7wHxAg0CFAIWAhcCGQJGAk0CTwJQAlICbAJxAoAChAAAAAAAAAIB
	AAAAAAAAAE4AAAAAAAAAAAAAAAAAAAKM
	</data>
	<key>SuccessfulLaunchTimestamp</key>
	<real>798257193.79336298</real>
	<key>UniversalSearchFeatureNotificationHasBeenDisplayed</key>
	<true/>
	<key>UserAgentQuirksConfigurationUpdateDate</key>
	<date>2026-04-18T16:38:27Z</date>
	<key>UserStyleSheetEnabled</key>
	<false/>
	<key>WBSDateOfLastPruningOfInactiveCloudExtensionDevices</key>
	<date>2026-04-18T11:59:58Z</date>
	<key>WBSDateOfLastSaveOfCurrentCloudExtensionDevice</key>
	<date>2026-04-18T16:59:18Z</date>
	<key>WBSEnableCloudSettingsSync</key>
	<false/>
	<key>WBSOfflineSearchDisablementKey</key>
	<date>2026-04-18T16:38:17Z</date>
	<key>WBSOfflineSearchSuggestionsModelGoogleWasDefaultSearchEngineKey</key>
	<true/>
	<key>WBSOfflineSearchSuggestionsModelLastUpdateDateKey</key>
	<string>2026-04-17-2102</string>
	<key>WBSOfflineSearchSuggestionsModelLastUsedLocaleIdentifierKey</key>
	<string>en_US@rg=inzzzz</string>
	<key>WBSOnboardingStatesDefaultsKeyV0.2</key>
	<dict>
		<key>CustomizeStartPage</key>
		<integer>3</integer>
		<key>EnableCloudSync</key>
		<integer>4</integer>
		<key>EnableHighlights</key>
		<integer>1</integer>
		<key>ExtensionsDiscovery</key>
		<integer>1</integer>
		<key>SetDefaultBrowser</key>
		<integer>2</integer>
	</dict>
	<key>WBSPasswordWarningTopFraudTargetsLastUpdate</key>
	<date>2026-04-18T11:59:53Z</date>
	<key>WBSPerSiteSettingSyncInitialSyncCompletedKey</key>
	<true/>
	<key>WBSPeriodicSyncSuccessesCount</key>
	<integer>25</integer>
	<key>WBSPrivacyProxyAvailabilityAccountType</key>
	<integer>1</integer>
	<key>WBSPrivacyProxyAvailabilityActiveOnDefaultNetwork</key>
	<true/>
	<key>WBSPrivacyProxyAvailabilityServiceStatus</key>
	<integer>0</integer>
	<key>WBSPrivacyProxyAvailabilitySubscriberTier</key>
	<false/>
	<key>WBSPrivacyProxyAvailabilitySubscriberTierUnavailableInUserCountry</key>
	<false/>
	<key>WBSPrivacyProxyAvailabilityTraffic</key>
	<integer>134085868</integer>
	<key>WBSRemoteAutoFillQuirksLastUpdateTime</key>
	<date>2026-04-19T02:06:34Z</date>
	<key>WBSStartPageOnboardingResumeDate</key>
	<date>2026-04-22T21:40:36Z</date>
	<key>WebKitPreferences.allowsPictureInPictureMediaPlayback</key>
	<true/>
	<key>WebKitPreferences.applePayEnabled</key>
	<true/>
	<key>WebKitPreferences.hiddenPageDOMTimerThrottlingAutoIncreases</key>
	<true/>
	<key>WebKitPreferences.invisibleMediaAutoplayNotPermitted</key>
	<true/>
	<key>WebKitPreferences.javaScriptCanOpenWindowsAutomatically</key>
	<true/>
	<key>WebKitPreferences.needsStorageAccessFromFileURLsQuirk</key>
	<false/>
	<key>WebKitPreferences.pushAPIEnabled</key>
	<true/>
	<key>WebKitPreferences.shouldSuppressKeyboardInputDuringProvisionalNavigation</key>
	<true/>
	<key>WebKitRespectStandardStyleKeyEquivalents</key>
	<true/>
	<key>WebsiteNameProviderLastUpdateTime</key>
	<date>2026-04-19T02:06:34Z</date>
	<key>com.apple.MobileAsset.SafariBackgroundImage.UpdateDate</key>
	<date>2026-04-18T12:18:14Z</date>
	<key>com.apple.WebPrivacy.ResourceMonitorURLsVersion</key>
	<string>qrsAAAGXnXBrwGxMO6s=</string>
	<key>com.apple.WebPrivacy.TrackingResourceRequestContentBlockerVersion</key>
	<string>qrsAAAGSKksiIAhvTDg=</string>
	<key>lastPasswordWarningManagerUpdate</key>
	<date>2026-04-18T04:16:45Z</date>
	<key>lastPasswordWarningManagerUpdateHasNewWarnings</key>
	<true/>
	<key>lastPasswordWarningManagerUpdateHashes</key>
	<array>
		<integer>4463398439670984956</integer>
		<integer>1131307849350679433</integer>
		<integer>2184823685636467798</integer>
		<integer>6360051293808086628</integer>
		<integer>9173428154768585138</integer>
		<integer>3952381722549569413</integer>
		<integer>4463398439670984949</integer>
		<integer>10733625841687446346</integer>
		<integer>14385049665250037780</integer>
		<integer>7271402179936122237</integer>
		<integer>4463398439670984956</integer>
		<integer>2510623645455761687</integer>
		<integer>8483315209067985546</integer>
		<integer>1367233983153464774</integer>
		<integer>13010618514328975681</integer>
		<integer>11478308731805063360</integer>
		<integer>16848390327149190815</integer>
		<integer>629621756664063184</integer>
		<integer>629621756668274143</integer>
		<integer>629621756676696029</integer>
	</array>
	<key>settingsSyncAccountDSIDHash</key>
	<data>
	D6Z0IDhlj0MNUa9oIoPsgLQfXtE=
	</data>
</dict>
</plist>
