<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Usage</key>
	<string>IADataStoreDaterange</string>
	<key>Usage_bitfield</key>
	<integer>0</integer>
	<key>Usage_lastModified</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>Usage_originDate</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>Usage_startDate</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>Usage_version</key>
	<integer>1</integer>
</dict>
</plist>
