<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>memoryExceptionProcesses.bootUUID</key>
	<string>76614B05-96BF-4D9B-B482-C886E061F6D4</string>
	<key>patternMatchServiceCrashes.bootUUID</key>
	<string>76614B05-96BF-4D9B-B482-C886E061F6D4</string>
</dict>
</plist>
