<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InstalledAssets</key>
	<dict>
		<key>com.apple.MobileAsset.AXIconVision</key>
		<array/>
		<key>com.apple.MobileAsset.ImageCaptionModel</key>
		<array/>
		<key>com.apple.MobileAsset.MagnifierAsset</key>
		<array/>
	</dict>
	<key>RefreshEvents</key>
	<dict>
		<key>com.apple.MobileAsset.AXIconVision</key>
		<array>
			<date>2026-04-19T03:01:15Z</date>
		</array>
		<key>com.apple.MobileAsset.ImageCaptionModel</key>
		<array>
			<date>2026-04-18T03:16:32Z</date>
			<date>2026-04-19T02:55:30Z</date>
		</array>
		<key>com.apple.MobileAsset.MagnifierAsset</key>
		<array>
			<date>2026-04-19T03:01:15Z</date>
		</array>
	</dict>
	<key>StoreCurrentBootTime</key>
	<real>798130073.3026731</real>
	<key>StoreLoaders</key>
	<dict>
		<key>ausp_crnc_appl</key>
		<dict>
			<key>record</key>
			<dict>
				<key>component</key>
				<dict>
					<key>flags</key>
					<integer>0</integer>
					<key>flagsMask</key>
					<integer>0</integer>
					<key>manufacturer</key>
					<integer>1634758764</integer>
					<key>subtype</key>
					<integer>1668443747</integer>
					<key>type</key>
					<integer>1635087216</integer>
				</dict>
				<key>firstParty</key>
				<true/>
				<key>identifier</key>
				<string>com.apple.ax.MauiTTSSupport.MauiAUSP</string>
			</dict>
		</dict>
		<key>ausp_wrda_appl</key>
		<dict>
			<key>record</key>
			<dict>
				<key>component</key>
				<dict>
					<key>flags</key>
					<integer>0</integer>
					<key>flagsMask</key>
					<integer>0</integer>
					<key>manufacturer</key>
					<integer>1634758764</integer>
					<key>subtype</key>
					<integer>2003985505</integer>
					<key>type</key>
					<integer>1635087216</integer>
				</dict>
				<key>firstParty</key>
				<true/>
				<key>identifier</key>
				<string>com.apple.speech.MacinTalkFramework.WardaSynthesizer</string>
			</dict>
		</dict>
	</dict>
	<key>StoreTasks</key>
	<dict>
		<key>com.apple.accessibility.voices.upgrader</key>
		<dict>
			<key>configuration</key>
			<dict>
				<key>cardinality</key>
				<dict>
					<key>once</key>
					<dict/>
				</dict>
				<key>identifier</key>
				<string>com.apple.accessibility.voices.upgrader</string>
				<key>requiredConditions</key>
				<integer>2</integer>
				<key>type</key>
				<dict>
					<key>periodic</key>
					<dict>
						<key>_0</key>
						<real>172800</real>
					</dict>
				</dict>
			</dict>
			<key>failures</key>
			<array/>
			<key>state</key>
			<dict>
				<key>completed</key>
				<dict/>
			</dict>
		</dict>
		<key>com.apple.voicedb.firstUnlock</key>
		<dict>
			<key>configuration</key>
			<dict>
				<key>cardinality</key>
				<dict>
					<key>once</key>
					<dict/>
				</dict>
				<key>identifier</key>
				<string>com.apple.voicedb.firstUnlock</string>
				<key>requiredConditions</key>
				<integer>1</integer>
				<key>type</key>
				<dict>
					<key>delay</key>
					<dict>
						<key>_0</key>
						<real>0.0</real>
						<key>_1</key>
						<dict>
							<key>retry</key>
							<dict>
								<key>_0</key>
								<dict>
									<key>exponential</key>
									<dict>
										<key>max</key>
										<real>3600</real>
										<key>multiplier</key>
										<real>1.5</real>
										<key>start</key>
										<real>1</real>
									</dict>
								</dict>
								<key>maxAttempts</key>
								<integer>5</integer>
							</dict>
						</dict>
					</dict>
				</dict>
			</dict>
			<key>failures</key>
			<array/>
			<key>state</key>
			<dict>
				<key>completed</key>
				<dict/>
			</dict>
		</dict>
	</dict>
	<key>UserInfo</key>
	<dict>
		<key>com.apple.MobileAsset.AXIconVision</key>
		<dict>
			<key>UpdateAsset_RestorationState</key>
			<dict>
				<key>Date</key>
				<date>2026-04-19T03:01:16Z</date>
				<key>LastExitStatus</key>
				<string>Failed</string>
				<key>Phase</key>
				<string>Idle</string>
			</dict>
		</dict>
		<key>com.apple.MobileAsset.ImageCaptionModel</key>
		<dict>
			<key>UpdateAsset_RestorationState</key>
			<dict>
				<key>Date</key>
				<date>2026-04-19T02:55:31Z</date>
				<key>LastExitStatus</key>
				<string>Success</string>
				<key>Phase</key>
				<string>Idle</string>
			</dict>
		</dict>
		<key>com.apple.MobileAsset.MagnifierAsset</key>
		<dict>
			<key>UpdateAsset_RestorationState</key>
			<dict>
				<key>Date</key>
				<date>2026-04-19T03:01:15Z</date>
				<key>LastExitStatus</key>
				<string>Failed</string>
				<key>Phase</key>
				<string>Idle</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
