<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>debug.have.logging.applet</key>
	<integer>0</integer>
	<key>debug.have.logging.applet.version</key>
	<integer>0</integer>
	<key>debug.logging.last.check.uuid</key>
	<string>76614B05-96BF-4D9B-B482-C886E061F6D4</string>
	<key>keysync.cached.identity</key>
	<data>
	YnBsaXN0MDDWAQIDBAUGBwgJCgsMXnBlZXJJZGVudGlmaWVyXxAUaW1wb3J0S2V5QXR0
	ZXN0YXRpb25fEBRleHBvcnRLZXlBdHRlc3RhdGlvbl8QD2Nhc2RDZXJ0aWZpY2F0ZVxj
	cmVhdGlvblRpbWVfEBBjcmVhdGlvbk1ldGFkYXRhTxAgfBA7VA+1yEkaFIxBncCuQJ9L
	KJ/sNYi8PlnvYfHJG1tPEQF0MIIBcDCCARYwgekCAQEEGARPPQVtF5ACMBECc0FgAJQD
	XOnSWRM1BwQIHsBHGhlxFgAEBCBgAAAEBAQAAAAEAQEwdjAQBgcqhkjOPQIBBgUrgQQA
	IgNiAATzDTshrih8IZqWpv1Qhj2rpjqUM7kTv5XkuGext4L5HbnqvlwIsYhl2BggTytx
	ufhCAAu/URP5pF24C5aIXrXsUwT7aVGn6PkLIJ4zNDatQB8Bbn8Hrh/lMlD088qoSMYw
	HjEcMBoGA1UEAxMTSEVOT1NJUy1BVFRFU1RBVElPTqAZMBcwFQYKKoZIhvdjZAZBHgEB
	/wQEAAEAATAooBIEEMC9C2Xt1PR6A60nxNP+BaChEgQQUmy4P7XGFf87qO/pZxo1xDAK
	BggqhkjOPQQDAgNIADBFAiEAtPaq+f9FIdVOxnbjMlb48mA+KSynKD6Ht/+0rYmHCE4C
	IGmoTRsYtgJGoTk/aPMbKWHpH2neRALqFObig7Q+FX/RTxEBczCCAW8wggEWMIHpAgEB
	BBgETz0FbReQAjARAnNBYACUA1zp0lkTNQcECB7ARxoZcRYABAQgYAAABAQEAAAABAEB
	MHYwEAYHKoZIzj0CAQYFK4EEACIDYgAEnNfw8QJYipL4zF9FKebdOm8INcFGH3nRQgUw
	jN00y94xmP9/+4Nq1WhuPv3KE28HUow+Hv0ppHcPHASg5oLBSnLpqrt7ARInPDkH5aD/
	YbKjkT7iXYxhmfrU9+nOSk9fMB4xHDAaBgNVBAMTE0hFTk9TSVMtQVRURVNUQVRJT06g
	GTAXMBUGCiqGSIb3Y2QGQR4BAf8EBAABAAIwKKASBBCY1eAHR7+5ySRYHF6lfJ7BoRIE
	EFJsuD+1xhX/O6jv6WcaNcQwCgYIKoZIzj0EAwIDRwAwRAIgdwBMRHrLdv+klWwI+iFi
	2Bkz4QRearsNnPFg2I6I92QCIFjw1wjWa60wBVE4eGgoQT3i6RqwFv03XMpN429yopi3
	TxDHfyGBw5MQBE89BW0XkAIwEQJzQWAAlEIHY3CTAQAAIV8gAamVAoIAXyQEIRYHB0UB
	AFMIA1zp0lkTNQd/SUawQQRR550RMfCG9+vg97sQudDYkVnVz2N8f7GA+J9vWkm3bOhs
	1ZmFnJz2Cy8NTASleAb6VwhILQNjpncsjeIbBcbr8AEAXzdAaOxFkHrBk8tNRmGjZ1Ma
	X6QuWa5Xm8WC9I7FR8Nm0vz1mlUV8Nmh9SviYrjpMvYiyj3Awapr0dENQF/T+6MDmzNB
	x8lA+YJBcNQNDg8QERITFFlzd1ZlcnNpb25UZGF0ZVVtb2RlbFZkZXZpY2VWMjVFMjUz
	M0HHyUD5gkIHV0o0MTRzQVBaTTRSREY5NzdDUAAIABUAJAA7AFIAZABxAIQApwIfA5YE
	YARpBHIEfASBBIcEjgSVBJ4EpgAAAAAAAAIBAAAAAAAAABUAAAAAAAAAAAAAAAAAAASx
	</data>
	<key>keysync.last.dsid.can.sync</key>
	<data>
	MDAxOTYzLTA4LWI4ZDdiMWQxLTdmMjQtNDA4ZC04YTJlLTQ2NjQ3MDlkZTliYg==
	</data>
	<key>keysync.last.trusted.peer.identifiers</key>
	<array>
		<data>
		vxYEkSZ20ovzSDrEPxyUxQjCNCsz39KXGBsyTYwRxRM=
		</data>
	</array>
	<key>keysync.recovery.blob.view.was.upgraded</key>
	<true/>
	<key>keysync.recovery.required</key>
	<false/>
	<key>lpem.state</key>
	<dict>
		<key>uuid</key>
		<string>76614B05-96BF-4D9B-B482-C886E061F6D4</string>
		<key>value</key>
		<integer>0</integer>
	</dict>
	<key>sekeysyncmanager.bootsessionuuid</key>
	<string>76614B05-96BF-4D9B-B482-C886E061F6D4</string>
	<key>storage.sheet.cancelled.count</key>
	<integer>0</integer>
	<key>storage.sheet.completed.count</key>
	<integer>0</integer>
	<key>storage.sheet.shown.count</key>
	<integer>0</integer>
	<key>vienna.session.count</key>
	<integer>0</integer>
</dict>
</plist>
