<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BCSCacheManagerBusinessEmailConfigItemDefaultsKey</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGpCwwZHSMpKi0uVSRudWxs1g0O
	DxAREhMUFRYXGF8QHUJDU0NvbmZpZ0l0ZW1CdWNrZXRzQ29kaW5nS2V5ViRjbGFzc18Q
	JEJDU0NvbmZpZ0l0ZW1FeHBpcmF0aW9uRGF0ZUNvZGluZ0tleV8QHEJDU0NvbmZpZ0l0
	ZW1TaGFyZHNDb2RpbmdLZXlfECJCQ1NDb25maWdJdGVtRmlsdGVyTWVnYVNoYXJkQ29k
	aW5nXxAdQkNTQ29uZmlnSXRlbUl0ZW1UVExDb2RpbmdLZXkRCDCACIACEAKABIAH0hoO
	GxxXTlMudGltZSNBx8p28aMV6IAD0h4fICFaJGNsYXNzbmFtZVgkY2xhc3Nlc1ZOU0Rh
	dGWiICJYTlNPYmplY3TTJA4lJicoV05TLmJhc2VbTlMucmVsYXRpdmWAAIAGgAVfEM5m
	aWxlOi8vL1VzZXJzL3ByYWtoYXJzaW5naC9MaWJyYXJ5L0NhY2hlcy9DbG91ZEtpdC9j
	b20uYXBwbGUuYnVzaW5lc3NzZXJ2aWNlc2QvNzJiNzUzM2MxZTYzMjAyYmQ0M2VlOGI4
	ZGQ4MzEwMGQ4MDNhMDI3ZS9Bc3NldHMvQkVCREU1RDItRDg5Ri00RTY0LUExMjgtNzAx
	MDlEQkIxNjRFLjAxYzNmNWIyMTg1MjE5ZDg0YTAzZmJmNDY3YmNjZjYwNzhkMTQ3NDU2
	ZNIeHyssVU5TVVJMoisiEgABUYDSHh8vMF1CQ1NDb25maWdJdGVtojEiXUJDU0NvbmZp
	Z0l0ZW0ACAARABoAJAApADIANwBJAEwAUQBTAF0AYwBwAJAAlwC+AN0BAgEiASUBJwEp
	ASsBLQEvATQBPAFFAUcBTAFXAWABZwFqAXMBegGCAY4BkAGSAZQCZQJqAnACcwJ4An0C
	iwKOAAAAAAAAAgEAAAAAAAAAMgAAAAAAAAAAAAAAAAAAApw=
	</data>
	<key>BCSMegashardPrefetchLastSuccessfulFetchBusinessEmail</key>
	<real>798202979.28740597</real>
	<key>CKPerBootTasks</key>
	<array>
		<string>CKAccountInfoCacheReset</string>
	</array>
	<key>CKStartupTime</key>
	<integer>1776437273</integer>
</dict>
</plist>
