<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ConsecutiveNotificationsCount</key>
	<integer>1</integer>
	<key>DeliveryEventIdentifierToDeliveryEventMap</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxAREldO
	Uy5rZXlzWk5TLm9iamVjdHNWJGNsYXNzoKCAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNz
	ZXNfEBNOU011dGFibGVEaWN0aW9uYXJ5oxYYGVxOU0RpY3Rpb25hcnlYTlNPYmplY3QI
	ERokKTI3SUxRU1ddZGx3fn+AgoeSm7G1wgAAAAAAAAEBAAAAAAAAABoAAAAAAAAAAAAA
	AAAAAADL
	</data>
	<key>DeliveryInfoVersion</key>
	<string>93c6896f754a03411af465c9f2c13f6b7a997aa25af2e6900d25024dc4eeecfe</string>
	<key>DiscoverabilityDeliveryInfoMap</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwTVSRudWxs0w0ODxAREldO
	Uy5rZXlzWk5TLm9iamVjdHNWJGNsYXNzoKCAAtIUFRYXWiRjbGFzc25hbWVYJGNsYXNz
	ZXNfEBNOU011dGFibGVEaWN0aW9uYXJ5oxYYGVxOU0RpY3Rpb25hcnlYTlNPYmplY3QI
	ERokKTI3SUxRU1ddZGx3fn+AgoeSm7G1wgAAAAAAAAEBAAAAAAAAABoAAAAAAAAAAAAA
	AAAAAADL
	</data>
	<key>Experiment</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwUVSRudWxs1A0ODxARERIT
	VGNhbXBSaWRWJGNsYXNzXxARaG9sZG91dEFsbG9jYXRpb24QAYACIz+5mZmZmZma0hUW
	FxhaJGNsYXNzbmFtZVgkY2xhc3Nlc11UUFNFeHBlcmltZW50ohkaXVRQU0V4cGVyaW1l
	bnRYTlNPYmplY3QIERokKTI3SUxRU1ddZmtudYmLjZabpq+9wM4AAAAAAAABAQAAAAAA
	AAAbAAAAAAAAAAAAAAAAAAAA1w==
	</data>
	<key>LastNotifiedCollectionIdentifier</key>
	<string>WelcomeToMac</string>
	<key>SearchItemIndexerSchemaVersion</key>
	<integer>1</integer>
	<key>TPSAnalyticsHistoricTipsDataProcessor_DateLastRun</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwRVSRudWxs0g0ODxBXTlMu
	dGltZVYkY2xhc3MjQcfKPvConVqAAtISExQVWiRjbGFzc25hbWVYJGNsYXNzZXNWTlNE
	YXRlohQWWE5TT2JqZWN0CBEaJCkyN0lMUVNXXWJqcXp8gYyVnJ8AAAAAAAABAQAAAAAA
	AAAXAAAAAAAAAAAAAAAAAAAAqA==
	</data>
	<key>TPSAnalyticsStore</key>
	<dict>
		<key>TPSLastNotificationTime</key>
		<date>2026-04-17T18:09:24Z</date>
		<key>TPSNotificationCount</key>
		<integer>1</integer>
	</dict>
	<key>TPSAnalyticsUsageEventsProcessor_DateLastRun</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwRVSRudWxs0g0ODxBXTlMu
	dGltZVYkY2xhc3MjQcfKPvCn4SqAAtISExQVWiRjbGFzc25hbWVYJGNsYXNzZXNWTlNE
	YXRlohQWWE5TT2JqZWN0CBEaJCkyN0lMUVNXXWJqcXp8gYyVnJ8AAAAAAAABAQAAAAAA
	AAAXAAAAAAAAAAAAAAAAAAAAqA==
	</data>
	<key>TPSContentUpdatedNotificationDate</key>
	<date>2026-04-19T08:02:08Z</date>
	<key>TPSDCloudHintDisplayed</key>
	<array>
		<string>CID-facetimelink-mini-tip</string>
		<string>CID-reactions-facetime-mini-tip</string>
		<string>MenuBarControls</string>
		<string>iPhoneMirroring</string>
		<string>CID-checkin-messages-mini-tip</string>
		<string>CID-essentials-collection-get-mac-discover</string>
		<string>CID-listicon-mini-tip</string>
		<string>CID-messages-in-icloud-onboarding-mini-tip</string>
		<string>PasswordsApp</string>
		<string>EmojiTapback</string>
		<string>CID-universalclipboard-learn-copy-paste</string>
		<string>CID-spotlight-quickly-find-apps</string>
		<string>WindowTiling</string>
		<string>AXVoiceControlDonationTip</string>
		<string>CID-messages-pinning-mini-tip</string>
		<string>ImagePlaygroundsAppMac</string>
		<string>VideoReactionTip-app.zen-browser.zen</string>
		<string>CID-whats-new-macos-collection-15</string>
		<string>VideoReactionTip-com.apple.FaceTime</string>
		<string>CID-photoactions-mini-tip</string>
		<string>CID-asksiri-ask-siri-click</string>
		<string>PhoneAppMac</string>
		<string>spotlightfiltersmac-learn-browse-faster</string>
		<string>ImagePlaygroundMac</string>
		<string>RewriteMac</string>
		<string>IconStyleMac</string>
		<string>CID-photos-screenshot-crop-photos</string>
		<string>EmailSummaryMac</string>
		<string>CID-familychecklist-mini-tip</string>
		<string>CID-phonefavorites-mini-tip</string>
		<string>CID-familyfiles-mini-tip-family-folder</string>
		<string>keyboardshortcuts-learn-save-time</string>
		<string>CID-notestags-mini-tip</string>
		<string>AppleIntelligenceCollection</string>
		<string>CleanUpPhotosMac</string>
		<string>VideoReactionTip-com.microsoft.teams2</string>
		<string>WBSOnboardingIdentifierWBSOnboardingIdentifier(_rawValue: TipForMoreButton)</string>
		<string>VideoReactionTip-company.thebrowser.Browser</string>
		<string>productivity-collection</string>
		<string>CID-stacks-learn-organize-desktop</string>
		<string>ScreenUnknownCallersTip-2</string>
		<string>CID-quicklook-take-a-quick</string>
		<string>Siri-apple-intelligence</string>
		<string>spotlightactionsmac-learn-actions-spotlight</string>
		<string>callhistorysearch-mini-tip</string>
		<string>VideoReactionTip-us.zoom.xos</string>
		<string>CID-talk-type--tipc629c33ef--mini-tip</string>
		<string>CustomizeCCMac</string>
		<string>ShareAccountsTip</string>
		<string>dictationtypingmac-learn-type-hands-free</string>
	</array>
	<key>TPSDidRevertArchivedTipStatuses</key>
	<true/>
	<key>TPSFullTipUsageEventContextualInfo</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGvEDALDBscHR4fKywwUlNUVVtc
	XWNqbW5zent/jY6PlZaXnp+jsbKzubq7wsPH1dbX3d5VJG51bGzTDQ4PEBUaV05TLmtl
	eXNaTlMub2JqZWN0c1YkY2xhc3OkERITFIACgAOABIAFpBYXGBmABoAVgB6AJ4AQXxAn
	ZG9jOGExM2ZiNTEtYTUwYi00OTBmLTkyM2YtN2MyMjE3NzhjNzVkXxAnZG9jM2I1M2M0
	MTQtNDI0Yi00MDY2LTlmN2MtNDFlYjYxYWZhMTA5XxAnZG9jOTIyN2QxYjgtMTJlOS00
	MWYzLWJhOTktZGRmMWIyMzYyZjkxXxAnZG9jYmEwNmYwMjctNjlmOC00Y2ZiLWE2YWUt
	M2IyMTM3MTNhNzlk1iAhIiMkDyUmJygoKlt1c2FnZUV2ZW50c1pkb2N1bWVudElkXGxh
	c3RNb2RpZmllZF5kZXNpcmVkT3V0Y29tZVh0cmlnZ2Vyc4AIgAeAE4AAgACAFF8QJ2Rv
	YzhhMTNmYjUxLWE1MGItNDkwZi05MjNmLTdjMjIxNzc4Yzc1ZNIODy0voS6ACYAS3xAR
	MTIzNDU2Nzg5Ojs8PT4PP0BBKCgoKEZHSCgoKExNTk9QKFJpZFVzdGF0ZV5ldmVudFNp
	bmNlRGF0ZV8QEnVzZXJJbmZvUGVyc2lzdGVudF5vYnNlcnZhdGlvbk1hcFZzdHJlYW1f
	EA9taW5PYnNlcnZhdGlvbnNUdHlwZVNrZXlbbWF0Y2hlZERhdGVfEBNvYnNlcnZlcklk
	ZW50aWZpZXJzXxAYZGF5c1NpbmNlTGFzdE1ham9yVXBkYXRlVmZpbHRlclxsb29rQmFj
	a0RheXNWc3RhdHVzWGJvb2ttYXJrgAuAAIAAgACAAIAMEAEQA4AAgACAAIAKgA0QAIAR
	EAGAABN//////////18QIDc1YTJiMDlmY2Q2YzBmMTI1MzM0NzVmMWVkZGQ2YjYwXxAX
	RGlzY292ZXJhYmlsaXR5LlNpZ25hbHPTDQ4PVlgaoVeADqFZgA+AEF8QEWNvbnRlbnRJ
	ZGVudGlmaWVyXxAeY29tLmFwcGxlLnNjcmVlbmNhcHR1cmUuaW52b2tl0l5fYGFaJGNs
	YXNzbmFtZVgkY2xhc3Nlc1xOU0RpY3Rpb25hcnmiYGJYTlNPYmplY3TSXl9kZV8QLVRQ
	U0NvbnRleHR1YWxCaW9tZURpc2NvdmVyYWJpbGl0eVNpZ25hbHNFdmVudKVmZ2hpYl8Q
	LVRQU0NvbnRleHR1YWxCaW9tZURpc2NvdmVyYWJpbGl0eVNpZ25hbHNFdmVudF8QF1RQ
	U0NvbnRleHR1YWxCaW9tZUV2ZW50XxASVFBTQ29udGV4dHVhbEV2ZW50XxAVVFBTU2Vy
	aWFsaXphYmxlT2JqZWN00l5fa2xXTlNBcnJheaJrYhMAAAGbvnJfuNJeX29wXxARVFBT
	Q29udGV4dHVhbEluZm+jcXJiXxARVFBTQ29udGV4dHVhbEluZm9fEBVUUFNTZXJpYWxp
	emFibGVPYmplY3TWICEiIyQPdHV2KCgqgBeAFoAdgACAAIAUXxAnZG9jM2I1M2M0MTQt
	NDI0Yi00MDY2LTlmN2MtNDFlYjYxYWZhMTA50g4PfC+hfYAYgBLfEBExMjM0NTY3ODk6
	Ozw9Pg8/QIAoKCgoRkdIKCgoiYpOT1AogBqAAIAAgACAAIAMgACAAIAAgBmAG4ARgAAT
	f/////////9fECBlODdhNzdhOTM0ZGI2MTEyMjVkNzE3OWQ3YzFmMWQ5ZNMNDg+Qkhqh
	V4AOoZOAHIAQXxAbY29tLmFwcGxlLnNwb3RsaWdodC5pbnZva2VkEwAAAZy1P7mx1iAh
	IiMkD5iZmigoKoAggB+AJoAAgACAFF8QJ2RvYzkyMjdkMWI4LTEyZTktNDFmMy1iYTk5
	LWRkZjFiMjM2MmY5MdIOD6AvoaGAIYAS3xARMTIzNDU2Nzg5Ojs8PT4PP0CkKCgoKEZH
	SCgoKK2uTk9QKIAjgACAAIAAgACADIAAgACAAIAigCSAEYAAE3//////////XxAgNGU2
	NjhjOTFkNmJhNzBiYzcwYTQ1NDM3ZjNmMjIyY2TTDQ4PtLYaoVeADqG3gCWAEF8QJ2Nv
	bS5hcHBsZS5maW5kZXIuZGVza3RvcC5zdGFja3MtZW5hYmxlZBMAAAGbvnQ0x9YgISIj
	JA+8vb4oKCqAKYAogC+AAIAAgBRfECdkb2NiYTA2ZjAyNy02OWY4LTRjZmItYTZhZS0z
	YjIxMzcxM2E3OWTSDg/EL6HFgCqAEt8QETEyMzQ1Njc4OTo7PD0+Dz9AyCgoKChGR0go
	KCjR0k5PUCiALIAAgACAAIAAgAyAAIAAgACAK4AtgBGAABN//////////18QIDA4NWJm
	MGNhNmFkYTA4OWRjNjk0YjEzYjE5ZjJjMzVh0w0OD9jaGqFXgA6h24AugBBfECFjb20u
	YXBwbGUuY29udHJvbGNlbnRlci5wcmVzZW50ZWQTAAABnLVAUsMACAARABoAJAApADIA
	NwBJAEwAUQBTAIYAjACTAJsApgCtALIAtAC2ALgAugC/AMEAwwDFAMcAyQDzAR0BRwFx
	AX4BigGVAaIBsQG6AbwBvgHAAcIBxAHGAfAB9QH3AfkB+wIgAiMCKQI4Ak0CXAJjAnUC
	egJ+AooCoAK7AsICzwLWAt8C4QLjAuUC5wLpAusC7QLvAvEC8wL1AvcC+QL7Av0C/wMB
	AwoDLQNHA04DUANSA1QDVgNYA2wDjQOSA50DpgOzA7YDvwPEA/QD+gQqBEQEWQRxBHYE
	fgSBBIoEjwSjBKcEuwTTBOAE4gTkBOYE6ATqBOwFFgUbBR0FHwUhBUYFSAVKBUwFTgVQ
	BVIFVAVWBVgFWgVcBV4FYAVpBYwFkwWVBZcFmQWbBZ0FuwXEBdEF0wXVBdcF2QXbBd0G
	BwYMBg4GEAYSBjcGOQY7Bj0GPwZBBkMGRQZHBkkGSwZNBk8GUQZaBn0GhAaGBogGigaM
	Bo4GuAbBBs4G0AbSBtQG1gbYBtoHBAcJBwsHDQcPBzQHNgc4BzoHPAc+B0AHQgdEB0YH
	SAdKB0wHTgdXB3oHgQeDB4UHhweJB4sHrwAAAAAAAAIBAAAAAAAAAN8AAAAAAAAAAAAA
	AAAAAAe4
	</data>
	<key>TPSLastMajorVersion</key>
	<string>26</string>
	<key>TPSLastNotificationDate</key>
	<date>2026-04-17T18:09:23Z</date>
	<key>TPSSearchIndexLastClientState_com.apple.tips_tips</key>
	<data>
	eyJ2ZXJzaW9uIjoyLCJkb2N1bWVudEluZGV4SGFzaGVzIjp7ImRvYzlkMGNhMTFmLWE1
	MDktNGE0Mi04YzQ4LTcyOTNkMDZhMDU4NyI6IjNTc2hCVTE2dTZwVjZZRmEzNHZPZERo
	SWhVdlZYU3RsTnVDKytLV1dwRUk9IiwiZG9jM2NjOTkyMTAtMGU3Yi00ZTdkLWJlMDEt
	NWQ5MzFlZTkwNjFlIjoiaVVOXC81Tk8rYXpQbGdpQ2JtQ2VzK0NMeHhWUHNlT2JMS2NK
	bEcrVWM0bzg9IiwiZG9jZmY0ODcyYzAtNTkwNC00MGExLTgxM2QtN2JjZDNkNzc5OGEz
	IjoicWxyTlM2VURMMWp5blJ2blQxQWtHUzByRnRtSG5cLzJHOWk5TDN5cXhHd0E9Iiwi
	ZG9jNzBiMzAxNGQtNDhjZC00N2E0LWE5M2UtYTI3ZTgyNmQ1MjYyIjoiV1pcL2hIWDRc
	L1dMdGlNblc2XC9aSGF4ZmhiNEtNUDZYYkdzSHhYdUp0T3hhMD0iLCJkb2NkMTdhNDU1
	ZC00NDkxLTQ2NzAtYTFmNS1kZWQ0MjVlOTczNzAiOiJ2cGM3NE8xXC9uKzFoS1JnTkdz
	TEpycjNvVnU0Z25taWp0Y2w4VmlGOGR1ST0iLCJkb2M4NWYyMTIwMi00NzIwLTQ3MDgt
	YjJmYy04YTZkNGQ3MGMwYzMiOiJjanNxanFjeGZoWlwvaWlQUm5sRlpWQjJ3TFlzKzdo
	RFFyeGFQS2Q4XC9TZTg9IiwiZG9jYzE3YTMxNjMtOGUxNi00OWEzLWJiN2EtM2M2NGU2
	OGEzNjhmIjoiQXJzbVNkekRXZkJpaGNpOGc1K0xhbW9WZEYwK0lZNFhyR2p1bHdmWUxu
	TT0iLCJkb2M5ZGYxZDAyNC1hZDMyLTRkYzktYjFlNS04MDhiZTgyZjUwMDUiOiJMcGoz
	YlB2WUR5eUl2R29zUkhwN1Z5RmFTMWxlV0NzcnM0ME9SYWhsS2NFPSIsImRvYzhhMTNm
	YjUxLWE1MGItNDkwZi05MjNmLTdjMjIxNzc4Yzc1ZCI6InhkZE9Xa05vTG5RUkdXTUdn
	RXlIVWdyN2VJVmg0V3BURTZrMkNnQUlvcnc9IiwiZG9jMzQzMDc0NTMtODVhZC00N2Q0
	LWEwYWItOTVlZGY5YWJmMmYzIjoiXC9DanZ4bldlbjR6WDFLYk5Jak1oNVpWNU80amlY
	YzJrN1hXWkw1VFlwZDA9IiwiZG9jMmIzYzQ1OTktZDVhNy00YjJhLWJmMmYtZjA0OGFk
	YTdkNTNjIjoiVWVqeTE3VFNtSCtyYXVENFdcL3FjckVmcVhpUzNPendoUCtKNDAwZ2hr
	UTA9IiwiZG9jMGJlNDA0M2QtMDk0MC00YzhkLWI3YjYtNWUyZjNkZjBlMWFmIjoiRmV4
	ejVJekx3N1A2Vys1RVR4Mzh1ZGg0UFE4VlNkdE9STHZyS3JOU1wvdGM9IiwiZG9jZGMy
	ZjMzMWUtNDE1ZC00ZDFiLTg0ZTQtNzdlOTBiNWE5MmU4IjoiNlVxMUtwMlBDbDZCejNT
	bG03dWluR25sNzBsU2RcL25NTEVmbllmSzVPS1U9IiwiZG9jM2I1M2M0MTQtNDI0Yi00
	MDY2LTlmN2MtNDFlYjYxYWZhMTA5IjoiRUhoSk0zKzd6ZXp5SDdlSlwvSmJzMGIyaUJc
	LzNtRmhhMVV0RnNVQW13bk1zPSIsImRvYzdjYmY3OWJiLTVlMTQtNGFiZC05NTc1LWRl
	ZTU5ZjlmMDViZCI6InVQNitjZGV1azN4a25uNSs1c3N1YU9aelVveDdPakxpQkVVMlVT
	YVlXSjA9IiwiZG9jM2UzYTE5Y2EtNmQyMi00NWU3LThmY2UtOGQwMTI3OTQ3ZWFiIjoi
	ZGJ2XC80a3pwNUdNZDNtT3FJcWh5TFFZTmFkSktsNWx4M28rSE41cnR3YlE9IiwiZG9j
	OTdmMWE0ZmQtNTBmOC00MmY3LTkwYWYtOTMyNzFhNjMyZjNiIjoiZXpMNk1lMGdiZkw0
	U1NkQm9vSzcrYlhpZ1ZNU0p3M0pLOEZUTHR3Myt1WT0iLCJkb2NkY2FlOGNmNS0zOTY5
	LTQzN2QtYmU1Mi00ZWQ5NTRkNWY5NjYiOiJBRUttY3V6dHFmSjZxYlhPdVZ5djBWenNS
	UGQzMFFyaVdFM2pkT2YrcEZNPSIsImRvYzAzMTY2MWIyLWI2NDQtNDAyNS04OTUzLTdl
	NDdlMzY0NWQ3NyI6IklCR1BGVjI2SFh0NFwvWnJsQUtMcVk5ek9kWEhMaXo2RnM1Tkk1
	d2l4aUhRPSIsImRvYzMwMDg0NGU1LTdjNTctNDczNC05MDZlLTI5MjMxZDIyYmJmMiI6
	IktPTlJhTzdmREE3bFlSanRFZUdmV0NwU0J5Sk5Vakd1UlAxWTROUTZQRlk9IiwiZG9j
	Yjg1YWFlM2ItNjRlYi00YmJmLWI2NzAtNzMzMDkxY2UxNTQyIjoiVVZxQ2VJcFhhVzJh
	SzE4MVhKTkJSWmpxYmlPNlwvNkkyVmRkR3VqaVRaVG89IiwiZG9jNTNkNjRmZmItZGI5
	Yy00MDZmLWFjYTEtODRhNmZiOWQ5NzM3IjoiZTJIUWcyemhUclwvYkZVdGVUZzdkMXZW
	em56OFhVOE8zOWtDNG5tb29tWnc9IiwiZG9jMGJmZTllYWQtYWZjOC00OTRlLWI2YjMt
	ZDkyMzA5MTZhYTZkIjoiZ0J2RTQxSUlWTnFLUDZYM2xhbmlHUW15WFIyeWRFaXArSUZF
	Uld6dVljZz0iLCJkb2M5MjI3ZDFiOC0xMmU5LTQxZjMtYmE5OS1kZGYxYjIzNjJmOTEi
	OiJ0WjB3QnRGdW5uOHU0SzNlaVBOS0RvRjY0XC9tVU82Q1hJeHM0S2VNc0xsZz0iLCJk
	b2M2YmFjZDEyMi01YzVmLTRiOTYtYWVhNy00ZTQ2MGMwNDM3ZGIiOiJjM1NYNU8zWTkx
	SFZ3aG51MmIydENVZEZYXC94NzdxQnJvMVwvOEZWVTFGNUk9IiwiZG9jMDI1NDJkNWEt
	ZGI4Yy00OWRmLWJlNTQtMTk3OGMzMDg4OTE3IjoibWppb1VkSDVqSDJJSVJsTVB5UFhj
	QXdteGx0S0FDdkV3ZWdrMmtHR09XVT0iLCJkb2M0NmM2MzI5YS1mZmVmLTRhZjgtYjMz
	OS1mNDljNjc0MzU0NmYiOiJCdGhUR1JcL0hJVUhFK2hsYklJRldKb2FSNlQwY1MwTFFY
	bTlKU2N5ZEhtUT0iLCJkb2M5ZTU1NDRiNS02OGIxLTRlM2UtODZmNi05MzE2OWFhMjhl
	ZDEiOiJJd0xWenY3TDVaUmN0bzdkWmtsaWtXcnBmOUlqdCtTZVpHanY1VjVMeVg4PSIs
	ImRvY2JhMDZmMDI3LTY5ZjgtNGNmYi1hNmFlLTNiMjEzNzEzYTc5ZCI6Img0Y2ZyaGpn
	K1BrTEVSQU5lYTlSTVlGREFTMXZFQzZPTzNFWHVpUnBzXC9VPSJ9fQ==
	</data>
	<key>TPSTipKitProcessedDate</key>
	<date>2026-04-19T07:38:23Z</date>
	<key>TPSTipsAppInstalled</key>
	<true/>
	<key>TPSWaitingToShowWelcomeNotification</key>
	<false/>
	<key>TPSWelcomeNotificationReminderState</key>
	<integer>1</integer>
	<key>TPSWelcomeNotificationStartDate</key>
	<date>2026-04-17T15:00:43Z</date>
	<key>TPSWelcomeNotificationViewedVersion</key>
	<string>26</string>
	<key>TPSWidgetShownTips</key>
	<array>
		<string>doc0be4043d-0940-4c8d-b7b6-5e2f3df0e1af</string>
		<string>doc85f21202-4720-4708-b2fc-8a6d4d70c0c3</string>
	</array>
	<key>TPSWidgetUpdateDate</key>
	<date>2026-04-18T16:59:18Z</date>
</dict>
</plist>
