<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MTAlarmModifiedDate</key>
	<date>2026-04-18T20:18:07Z</date>
	<key>MTAlarmStorageVersion</key>
	<real>3.0999999046325684</real>
	<key>MTAlarms</key>
	<dict>
		<key>MTAlarms</key>
		<array/>
		<key>MTSleepAlarms</key>
		<array/>
	</dict>
	<key>MTStopwatches</key>
	<dict>
		<key>MTStopwatches</key>
		<array>
			<dict>
				<key>$MTStopwatch</key>
				<dict>
					<key>MTStopwatchCurrentInterval</key>
					<real>0.0</real>
					<key>MTStopwatchIdentifier</key>
					<string>9572536E-7B21-4F4E-9AE1-A893A7D062C2</string>
					<key>MTStopwatchLaps</key>
					<array/>
					<key>MTStopwatchOffset</key>
					<real>0.0</real>
					<key>MTStopwatchPreviousLapsTotalInterval</key>
					<real>0.0</real>
					<key>MTStopwatchState</key>
					<integer>0</integer>
				</dict>
			</dict>
		</array>
	</dict>
	<key>MTTimerDefaultDuration</key>
	<real>900</real>
	<key>MTTimerModifiedDate</key>
	<date>2026-04-17T14:55:27Z</date>
	<key>MTTimerStorageVersion</key>
	<real>3.0999999046325684</real>
	<key>MTTimers</key>
	<dict>
		<key>MTTimers</key>
		<array>
			<dict>
				<key>$MTTimer</key>
				<dict>
					<key>MTTimerDataVersion</key>
					<real>1.6000000238418579</real>
					<key>MTTimerDuration</key>
					<real>900</real>
					<key>MTTimerFireTime</key>
					<dict>
						<key>$MTTimerTimeInterval</key>
						<dict>
							<key>MTTimerTimeInterval</key>
							<real>900</real>
						</dict>
					</dict>
					<key>MTTimerFireTimerClass</key>
					<string>MTTimerTimeInterval</string>
					<key>MTTimerID</key>
					<string>6F79172E-5E17-4FC5-A3B2-D517F1CCBF36</string>
					<key>MTTimerSound</key>
					<dict>
						<key>$MTSound</key>
						<dict>
							<key>MTSoundToneID</key>
							<string>system:Radial</string>
							<key>MTSoundType</key>
							<integer>2</integer>
						</dict>
					</dict>
					<key>MTTimerState</key>
					<integer>1</integer>
					<key>MTTimerTitle</key>
					<string>CURRENT_TIMER</string>
				</dict>
			</dict>
		</array>
	</dict>
</dict>
</plist>
