<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>State:com.apple.CharacterPaletteIM</key>
	<dict>
		<key>categories</key>
		<dict>
			<key>selectedIndex</key>
			<integer>1</integer>
		</dict>
		<key>characters</key>
		<dict>
			<key>scrollPos</key>
			<real>277</real>
			<key>sectionFonts</key>
			<dict>
				<key>1</key>
				<dict>
					<key>characterFont</key>
					<dict>
						<key>☺️</key>
						<string>*</string>
						<key>✌️</key>
						<string>*</string>
						<key>❤️</key>
						<string>*</string>
						<key>🎶</key>
						<string>*</string>
						<key>👀</key>
						<string>*</string>
						<key>👌</key>
						<string>*</string>
						<key>👍</key>
						<string>*</string>
						<key>👏</key>
						<string>*</string>
						<key>💁</key>
						<string>*</string>
						<key>💕</key>
						<string>*</string>
						<key>😁</key>
						<string>*</string>
						<key>😂</key>
						<string>*</string>
						<key>😄</key>
						<string>*</string>
						<key>😉</key>
						<string>*</string>
						<key>😊</key>
						<string>*</string>
						<key>😋</key>
						<string>*</string>
						<key>😌</key>
						<string>*</string>
						<key>😍</key>
						<string>*</string>
						<key>😎</key>
						<string>*</string>
						<key>😏</key>
						<string>*</string>
						<key>😑</key>
						<string>*</string>
						<key>😒</key>
						<string>*</string>
						<key>😔</key>
						<string>*</string>
						<key>😘</key>
						<string>*</string>
						<key>😜</key>
						<string>*</string>
						<key>😩</key>
						<string>*</string>
						<key>😭</key>
						<string>*</string>
						<key>😳</key>
						<string>*</string>
						<key>😴</key>
						<string>*</string>
						<key>🙈</key>
						<string>*</string>
					</dict>
					<key>fontNames</key>
					<array>
						<string>*</string>
					</array>
				</dict>
				<key>version</key>
				<integer>2</integer>
			</dict>
			<key>selectedIndex</key>
			<integer>9223372036854775807</integer>
			<key>selectedSection</key>
			<integer>9223372036854775807</integer>
		</dict>
		<key>date</key>
		<real>798139287.64268398</real>
	</dict>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
