<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ICQThrottleURLTable</key>
	<dict/>
	<key>_ICQCachedDefaultOfferInternal</key>
	<dict>
		<key>altDSID</key>
		<string>001963-08-b8d7b1d1-7f24-408d-8a2e-4664709de9bb</string>
		<key>callbackInterval</key>
		<real>604800</real>
		<key>eligibleAppLaunchLinks</key>
		<array/>
		<key>failedToFetchFromServer</key>
		<false/>
		<key>notificationId</key>
		<string></string>
		<key>retrievalDate</key>
		<date>2026-04-17T15:32:49Z</date>
		<key>serverDict</key>
		<dict>
			<key>appFeatureMessagingInfo</key>
			<array/>
			<key>badgeApp</key>
			<false/>
			<key>callbackInterval</key>
			<integer>604800</integer>
			<key>detailAppBannerInfo</key>
			<array>
				<dict>
					<key>appId</key>
					<string>com.apple.finder</string>
					<key>mesg</key>
					<array>
						<dict>
							<key>format</key>
							<string>No Internet Connection</string>
							<key>key</key>
							<string>default</string>
						</dict>
					</array>
					<key>reason</key>
					<string>WiFiConnectivityIssues</string>
					<key>title</key>
					<array>
						<dict>
							<key>format</key>
							<string>Syncing with iCloud Paused</string>
							<key>key</key>
							<string>default</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>appId</key>
					<string>com.apple.Notes</string>
					<key>mesg</key>
					<array>
						<dict>
							<key>format</key>
							<string>No Internet Connection</string>
							<key>key</key>
							<string>default</string>
						</dict>
					</array>
					<key>reason</key>
					<string>WiFiConnectivityIssues</string>
					<key>title</key>
					<array>
						<dict>
							<key>format</key>
							<string>Syncing with iCloud Paused</string>
							<key>key</key>
							<string>default</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>appId</key>
					<string>com.apple.Notes</string>
					<key>bannerFooter</key>
					<dict>
						<key>params</key>
						<array>
							<dict>
								<key>actParams</key>
								<dict>
									<key>linkURL</key>
									<string>https://setup.icloud.com/email/prefs/storage?root=APPLE_ACCOUNT</string>
								</dict>
								<key>action</key>
								<string>OPEN_EXT_LINK</string>
								<key>display</key>
								<string>Settings</string>
							</dict>
						</array>
					</dict>
					<key>mesg</key>
					<array>
						<dict>
							<key>format</key>
							<string>Accept Terms to continue to upload</string>
							<key>key</key>
							<string>default</string>
						</dict>
					</array>
					<key>reason</key>
					<string>TermsNotAccepted</string>
					<key>title</key>
					<array>
						<dict>
							<key>format</key>
							<string>Syncing with iCloud Paused</string>
							<key>key</key>
							<string>default</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>appId</key>
					<string>com.apple.finder</string>
					<key>bannerFooter</key>
					<dict>
						<key>params</key>
						<array>
							<dict>
								<key>actParams</key>
								<dict>
									<key>openUrl</key>
									<string>https://p161-acsegateway.icloud.com/v1/accounts/20287930038/devices/00006020-001671191A47C01E/screens/upsells/aUNsb3VkU3RvcmFnZV9VcGxvYWRGYWlsdXJlX2FwcEJhbm5lcl9jb20uYXBwbGUuZmluZGVyX251bGxfbnVsbA==</string>
									<key>purchaseAttribution</key>
									<string>103/3</string>
									<key>route</key>
									<string>https://amsui.apple.com/dynamic/marketing#route=storage/upsell</string>
								</dict>
								<key>action</key>
								<string>LAUNCH_DYNAMIC_UI</string>
								<key>display</key>
								<string>Get More Storage</string>
							</dict>
							<dict>
								<key>actParams</key>
								<dict>
									<key>linkURL</key>
									<string>https://support.apple.com/kb/HT201318</string>
								</dict>
								<key>action</key>
								<string>OPEN_EXT_LINK</string>
								<key>display</key>
								<string>Learn More</string>
							</dict>
						</array>
					</dict>
					<key>mesg</key>
					<array>
						<dict>
							<key>format</key>
							<string>Unable to upload</string>
							<key>key</key>
							<string>default</string>
						</dict>
					</array>
					<key>reason</key>
					<string>UploadFailure</string>
					<key>title</key>
					<array>
						<dict>
							<key>format</key>
							<string>Syncing with iCloud Paused</string>
							<key>key</key>
							<string>default</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>appId</key>
					<string>com.apple.Notes</string>
					<key>bannerFooter</key>
					<dict>
						<key>params</key>
						<array>
							<dict>
								<key>actParams</key>
								<dict>
									<key>openUrl</key>
									<string>https://p161-acsegateway.icloud.com/v1/accounts/20287930038/devices/00006020-001671191A47C01E/screens/upsells/aUNsb3VkU3RvcmFnZV9VcGxvYWRGYWlsdXJlX2FwcEJhbm5lcl9jb20uYXBwbGUuTm90ZXNfbnVsbF9udWxs</string>
									<key>purchaseAttribution</key>
									<string>103/2</string>
									<key>route</key>
									<string>https://amsui.apple.com/dynamic/marketing#route=storage/upsell</string>
								</dict>
								<key>action</key>
								<string>LAUNCH_DYNAMIC_UI</string>
								<key>display</key>
								<string>Get More Storage</string>
							</dict>
							<dict>
								<key>actParams</key>
								<dict>
									<key>linkURL</key>
									<string>https://support.apple.com/kb/HT201318</string>
								</dict>
								<key>action</key>
								<string>OPEN_EXT_LINK</string>
								<key>display</key>
								<string>Learn More</string>
							</dict>
						</array>
					</dict>
					<key>mesg</key>
					<array>
						<dict>
							<key>format</key>
							<string>Some Notes Aren’t Syncing</string>
							<key>key</key>
							<string>default</string>
						</dict>
					</array>
					<key>reason</key>
					<string>UploadFailure</string>
					<key>title</key>
					<array>
						<dict>
							<key>format</key>
							<string>Your iCloud Storage is Full</string>
							<key>key</key>
							<string>default</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>isDefaultOffer</key>
			<true/>
			<key>offerId</key>
			<string>aUNsb3VkU3RvcmFnZV9Vbml2ZXJzYWxfTm9uZV9QQUlE</string>
			<key>offerType</key>
			<string>UpgradeStorage</string>
			<key>priority</key>
			<integer>1</integer>
			<key>settingsBannerInfo</key>
			<array>
				<dict>
					<key>appId</key>
					<string>com.apple.MobileSMS</string>
					<key>mesg</key>
					<array>
						<dict>
							<key>format</key>
							<string>No Internet Connection</string>
							<key>key</key>
							<string>default</string>
						</dict>
					</array>
					<key>reason</key>
					<string>WiFiConnectivityIssues</string>
					<key>title</key>
					<array>
						<dict>
							<key>format</key>
							<string>Syncing with iCloud Paused</string>
							<key>key</key>
							<string>default</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>appId</key>
					<string>com.apple.MobileSMS</string>
					<key>bannerFooter</key>
					<dict>
						<key>params</key>
						<array>
							<dict>
								<key>actParams</key>
								<dict>
									<key>linkURL</key>
									<string>prefs:root=APPLE_ACCOUNT</string>
								</dict>
								<key>action</key>
								<string>OPEN_EXT_LINK</string>
								<key>display</key>
								<string>Settings</string>
							</dict>
						</array>
					</dict>
					<key>mesg</key>
					<array>
						<dict>
							<key>format</key>
							<string>Accept Terms to continue to upload</string>
							<key>key</key>
							<string>default</string>
						</dict>
					</array>
					<key>reason</key>
					<string>TermsNotAccepted</string>
					<key>title</key>
					<array>
						<dict>
							<key>format</key>
							<string>Syncing with iCloud Paused</string>
							<key>key</key>
							<string>default</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Device</string>
			<key>universalLinkInfo</key>
			<array>
				<dict>
					<key>appId</key>
					<string>com.apple.icq</string>
					<key>mesg</key>
					<dict>
						<key>params</key>
						<array>
							<dict>
								<key>actParams</key>
								<dict>
									<key>openUrl</key>
									<string>https://p161-acsegateway.icloud.com/v1/accounts/20287930038/devices/00006020-001671191A47C01E/screens/upsells/aUNsb3VkU3RvcmFnZV9Vbml2ZXJzYWxfdW5pdmVyc2FsTGlua19jb20uYXBwbGUuaWNxX251bGxfbnVsbA==</string>
									<key>purchaseAttribution</key>
									<string>103/1</string>
									<key>route</key>
									<string>https://amsui.apple.com/dynamic/marketing#route=storage/upsell</string>
								</dict>
								<key>action</key>
								<string>LAUNCH_DYNAMIC_UI</string>
							</dict>
						</array>
					</dict>
				</dict>
			</array>
		</dict>
	</dict>
	<key>_ICQCachedOfferInternal</key>
	<dict>
		<key>altDSID</key>
		<string>001963-08-b8d7b1d1-7f24-408d-8a2e-4664709de9bb</string>
		<key>callbackInterval</key>
		<real>86400</real>
		<key>eligibleAppLaunchLinks</key>
		<array/>
		<key>failedToFetchFromServer</key>
		<false/>
		<key>notificationId</key>
		<string></string>
		<key>retrievalDate</key>
		<date>2026-04-18T15:32:50Z</date>
		<key>serverDict</key>
		<dict>
			<key>appFeatureMessagingInfo</key>
			<array/>
			<key>badgeApp</key>
			<true/>
			<key>callbackInterval</key>
			<integer>86400</integer>
			<key>detailAppBannerInfo</key>
			<array>
				<dict>
					<key>appId</key>
					<string>com.apple.finder</string>
					<key>bannerFooter</key>
					<dict>
						<key>params</key>
						<array>
							<dict>
								<key>actParams</key>
								<dict>
									<key>openUrl</key>
									<string>https://p161-acsegateway.icloud.com/v1/accounts/20287930038/devices/00006020-001671191A47C01E/screens/upsells/aUNsb3VkU3RvcmFnZV9BbG1vc3RGdWxsX2FwcEJhbm5lcl9jb20uYXBwbGUuZmluZGVyX251bGxfbnVsbA==</string>
									<key>purchaseAttribution</key>
									<string>102/1</string>
									<key>route</key>
									<string>https://amsui.apple.com/dynamic/marketing#route=storage/upsell</string>
								</dict>
								<key>action</key>
								<string>LAUNCH_DYNAMIC_UI</string>
								<key>display</key>
								<string>Get More Storage</string>
							</dict>
							<dict>
								<key>actParams</key>
								<dict>
									<key>linkURL</key>
									<string>https://support.apple.com/kb/HT201318</string>
								</dict>
								<key>action</key>
								<string>OPEN_EXT_LINK</string>
								<key>display</key>
								<string>Learn More</string>
							</dict>
						</array>
					</dict>
					<key>mesg</key>
					<array>
						<dict>
							<key>format</key>
							<string>New files and edits won't be synced.</string>
							<key>key</key>
							<string>default</string>
						</dict>
					</array>
					<key>reason</key>
					<string>iCloudFullViolation</string>
					<key>title</key>
					<array>
						<dict>
							<key>format</key>
							<string>Your iCloud storage is full</string>
							<key>key</key>
							<string>default</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>appId</key>
					<string>com.apple.Photos</string>
					<key>bannerFooter</key>
					<dict>
						<key>params</key>
						<array>
							<dict>
								<key>actParams</key>
								<dict>
									<key>openUrl</key>
									<string>https://p161-acsegateway.icloud.com/v1/accounts/20287930038/devices/00006020-001671191A47C01E/screens/upsells/aUNsb3VkU3RvcmFnZV9GdWxsX2FwcEJhbm5lcl9jb20uYXBwbGUuUGhvdG9zX251bGxfbnVsbA==</string>
									<key>purchaseAttribution</key>
									<string>102/2</string>
									<key>route</key>
									<string>https://amsui.apple.com/dynamic/marketing#route=storage/upsell</string>
								</dict>
								<key>action</key>
								<string>LAUNCH_DYNAMIC_UI</string>
								<key>display</key>
								<string>Get More Storage</string>
							</dict>
							<dict>
								<key>actParams</key>
								<dict>
									<key>linkURL</key>
									<string>https://support.apple.com/kb/HT201318</string>
								</dict>
								<key>action</key>
								<string>OPEN_EXT_LINK</string>
								<key>display</key>
								<string>Learn More</string>
							</dict>
						</array>
					</dict>
					<key>mesg</key>
					<array>
						<dict>
							<key>format</key>
							<string>New photos and videos won't be synced.</string>
							<key>key</key>
							<string>default</string>
						</dict>
					</array>
					<key>reason</key>
					<string>iCloudFullViolation</string>
					<key>title</key>
					<array>
						<dict>
							<key>format</key>
							<string>Your iCloud Storage is Full</string>
							<key>key</key>
							<string>default</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>appId</key>
					<string>com.apple.freeform</string>
					<key>bannerFooter</key>
					<dict>
						<key>params</key>
						<array>
							<dict>
								<key>actParams</key>
								<dict>
									<key>openUrl</key>
									<string>https://p161-acsegateway.icloud.com/v1/accounts/20287930038/devices/00006020-001671191A47C01E/screens/upsells/aUNsb3VkU3RvcmFnZV9GdWxsX2FwcEJhbm5lcl9jb20uYXBwbGUuZnJlZWZvcm1fbnVsbF9udWxs</string>
									<key>purchaseAttribution</key>
									<string>102/3</string>
									<key>route</key>
									<string>https://amsui.apple.com/dynamic/marketing#route=storage/upsell</string>
								</dict>
								<key>action</key>
								<string>LAUNCH_DYNAMIC_UI</string>
								<key>display</key>
								<string>Get More Storage</string>
							</dict>
							<dict>
								<key>actParams</key>
								<dict>
									<key>linkURL</key>
									<string>https://support.apple.com/kb/HT201318</string>
								</dict>
								<key>action</key>
								<string>OPEN_EXT_LINK</string>
								<key>display</key>
								<string>Learn More</string>
							</dict>
						</array>
					</dict>
					<key>mesg</key>
					<array>
						<dict>
							<key>format</key>
							<string>New boards and edits won't be synced.</string>
							<key>key</key>
							<string>default</string>
						</dict>
					</array>
					<key>reason</key>
					<string>iCloudFullViolation</string>
					<key>title</key>
					<array>
						<dict>
							<key>format</key>
							<string>Your iCloud storage is full</string>
							<key>key</key>
							<string>default</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>appId</key>
					<string>com.apple.Notes</string>
					<key>bannerFooter</key>
					<dict>
						<key>params</key>
						<array>
							<dict>
								<key>actParams</key>
								<dict>
									<key>openUrl</key>
									<string>https://p161-acsegateway.icloud.com/v1/accounts/20287930038/devices/00006020-001671191A47C01E/screens/upsells/aUNsb3VkU3RvcmFnZV9GdWxsX2FwcEJhbm5lcl9jb20uYXBwbGUuTm90ZXNfbnVsbF9udWxs</string>
									<key>purchaseAttribution</key>
									<string>103/2</string>
									<key>route</key>
									<string>https://amsui.apple.com/dynamic/marketing#route=storage/upsell</string>
								</dict>
								<key>action</key>
								<string>LAUNCH_DYNAMIC_UI</string>
								<key>display</key>
								<string>Get More Storage</string>
							</dict>
							<dict>
								<key>actParams</key>
								<dict>
									<key>linkURL</key>
									<string>https://support.apple.com/kb/HT201318</string>
								</dict>
								<key>action</key>
								<string>OPEN_EXT_LINK</string>
								<key>display</key>
								<string>Learn More</string>
							</dict>
						</array>
					</dict>
					<key>mesg</key>
					<array>
						<dict>
							<key>format</key>
							<string>New notes and edits won't be synced</string>
							<key>key</key>
							<string>default</string>
						</dict>
					</array>
					<key>reason</key>
					<string>iCloudFullViolation</string>
					<key>title</key>
					<array>
						<dict>
							<key>format</key>
							<string>Your iCloud storage is full</string>
							<key>key</key>
							<string>default</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>isDefaultOffer</key>
			<false/>
			<key>offerId</key>
			<string>U3RvcmFnZV9pQ2xvdWRTdG9yYWdlX0Z1bGxfUEFJRA==</string>
			<key>offerType</key>
			<string>UpgradeStorage</string>
			<key>priority</key>
			<integer>1</integer>
			<key>settingsBannerInfo</key>
			<array>
				<dict>
					<key>appId</key>
					<string>com.apple.MobileSMS</string>
					<key>bannerFooter</key>
					<dict>
						<key>params</key>
						<array>
							<dict>
								<key>actParams</key>
								<dict>
									<key>openUrl</key>
									<string>https://p161-acsegateway.icloud.com/v1/accounts/20287930038/devices/00006020-001671191A47C01E/screens/upsells/aUNsb3VkU3RvcmFnZV9GdWxsX2FwcEJhbm5lcl9jb20uYXBwbGUuTW9iaWxlU01TX251bGxfbnVsbA==</string>
									<key>purchaseAttribution</key>
									<string>102/2</string>
									<key>route</key>
									<string>https://amsui.apple.com/dynamic/marketing#route=storage/upsell</string>
								</dict>
								<key>action</key>
								<string>LAUNCH_DYNAMIC_UI</string>
								<key>display</key>
								<string>Get more storage</string>
							</dict>
						</array>
					</dict>
					<key>mesg</key>
					<array>
						<dict>
							<key>format</key>
							<string>Your iCloud storage is full. New messages will not be restored if you replace this device or set up a new one.</string>
							<key>key</key>
							<string>default</string>
						</dict>
					</array>
					<key>reason</key>
					<string>iCloudFullViolation</string>
					<key>title</key>
					<array>
						<dict>
							<key>format</key>
							<string>Your iCloud Storage is Full</string>
							<key>key</key>
							<string>default</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>type</key>
			<string>Full</string>
		</dict>
	</dict>
	<key>_ICQCachedOfferStubsInternal</key>
	<dict>
		<key>altDSID</key>
		<string>001963-08-b8d7b1d1-7f24-408d-8a2e-4664709de9bb</string>
		<key>callbackInterval</key>
		<real>86400</real>
		<key>failedToFetchFromServer</key>
		<false/>
		<key>retrievalDate</key>
		<date>2026-04-18T15:32:50Z</date>
		<key>serverDict</key>
		<dict>
			<key>callbackInterval</key>
			<integer>86400</integer>
			<key>defaultOffers</key>
			<array>
				<dict>
					<key>appFeatureMessagingInfo</key>
					<array/>
					<key>badgeApp</key>
					<false/>
					<key>detailAppBannerInfo</key>
					<array>
						<dict>
							<key>appId</key>
							<string>com.apple.finder</string>
							<key>mesg</key>
							<array>
								<dict>
									<key>format</key>
									<string>No Internet Connection</string>
									<key>key</key>
									<string>default</string>
								</dict>
							</array>
							<key>reason</key>
							<string>WiFiConnectivityIssues</string>
							<key>title</key>
							<array>
								<dict>
									<key>format</key>
									<string>Syncing with iCloud Paused</string>
									<key>key</key>
									<string>default</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>appId</key>
							<string>com.apple.Notes</string>
							<key>mesg</key>
							<array>
								<dict>
									<key>format</key>
									<string>No Internet Connection</string>
									<key>key</key>
									<string>default</string>
								</dict>
							</array>
							<key>reason</key>
							<string>WiFiConnectivityIssues</string>
							<key>title</key>
							<array>
								<dict>
									<key>format</key>
									<string>Syncing with iCloud Paused</string>
									<key>key</key>
									<string>default</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>appId</key>
							<string>com.apple.Notes</string>
							<key>bannerFooter</key>
							<dict>
								<key>params</key>
								<array>
									<dict>
										<key>actParams</key>
										<dict>
											<key>linkURL</key>
											<string>https://setup.icloud.com/email/prefs/storage?root=APPLE_ACCOUNT</string>
										</dict>
										<key>action</key>
										<string>OPEN_EXT_LINK</string>
										<key>display</key>
										<string>Settings</string>
									</dict>
								</array>
							</dict>
							<key>mesg</key>
							<array>
								<dict>
									<key>format</key>
									<string>Accept Terms to continue to upload</string>
									<key>key</key>
									<string>default</string>
								</dict>
							</array>
							<key>reason</key>
							<string>TermsNotAccepted</string>
							<key>title</key>
							<array>
								<dict>
									<key>format</key>
									<string>Syncing with iCloud Paused</string>
									<key>key</key>
									<string>default</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>appId</key>
							<string>com.apple.finder</string>
							<key>bannerFooter</key>
							<dict>
								<key>params</key>
								<array>
									<dict>
										<key>actParams</key>
										<dict>
											<key>openUrl</key>
											<string>https://p161-acsegateway.icloud.com/v1/accounts/20287930038/devices/00006020-001671191A47C01E/screens/upsells/aUNsb3VkU3RvcmFnZV9VcGxvYWRGYWlsdXJlX2FwcEJhbm5lcl9jb20uYXBwbGUuZmluZGVyX251bGxfbnVsbA==</string>
											<key>purchaseAttribution</key>
											<string>103/3</string>
											<key>route</key>
											<string>https://amsui.apple.com/dynamic/marketing#route=storage/upsell</string>
										</dict>
										<key>action</key>
										<string>LAUNCH_DYNAMIC_UI</string>
										<key>display</key>
										<string>Get More Storage</string>
									</dict>
									<dict>
										<key>actParams</key>
										<dict>
											<key>linkURL</key>
											<string>https://support.apple.com/kb/HT201318</string>
										</dict>
										<key>action</key>
										<string>OPEN_EXT_LINK</string>
										<key>display</key>
										<string>Learn More</string>
									</dict>
								</array>
							</dict>
							<key>mesg</key>
							<array>
								<dict>
									<key>format</key>
									<string>Unable to upload</string>
									<key>key</key>
									<string>default</string>
								</dict>
							</array>
							<key>reason</key>
							<string>UploadFailure</string>
							<key>title</key>
							<array>
								<dict>
									<key>format</key>
									<string>Syncing with iCloud Paused</string>
									<key>key</key>
									<string>default</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>appId</key>
							<string>com.apple.Notes</string>
							<key>bannerFooter</key>
							<dict>
								<key>params</key>
								<array>
									<dict>
										<key>actParams</key>
										<dict>
											<key>openUrl</key>
											<string>https://p161-acsegateway.icloud.com/v1/accounts/20287930038/devices/00006020-001671191A47C01E/screens/upsells/aUNsb3VkU3RvcmFnZV9VcGxvYWRGYWlsdXJlX2FwcEJhbm5lcl9jb20uYXBwbGUuTm90ZXNfbnVsbF9udWxs</string>
											<key>purchaseAttribution</key>
											<string>103/2</string>
											<key>route</key>
											<string>https://amsui.apple.com/dynamic/marketing#route=storage/upsell</string>
										</dict>
										<key>action</key>
										<string>LAUNCH_DYNAMIC_UI</string>
										<key>display</key>
										<string>Get More Storage</string>
									</dict>
									<dict>
										<key>actParams</key>
										<dict>
											<key>linkURL</key>
											<string>https://support.apple.com/kb/HT201318</string>
										</dict>
										<key>action</key>
										<string>OPEN_EXT_LINK</string>
										<key>display</key>
										<string>Learn More</string>
									</dict>
								</array>
							</dict>
							<key>mesg</key>
							<array>
								<dict>
									<key>format</key>
									<string>Some Notes Aren’t Syncing</string>
									<key>key</key>
									<string>default</string>
								</dict>
							</array>
							<key>reason</key>
							<string>UploadFailure</string>
							<key>title</key>
							<array>
								<dict>
									<key>format</key>
									<string>Your iCloud Storage is Full</string>
									<key>key</key>
									<string>default</string>
								</dict>
							</array>
						</dict>
					</array>
					<key>isDefaultOffer</key>
					<true/>
					<key>offerId</key>
					<string>aUNsb3VkU3RvcmFnZV9Vbml2ZXJzYWxfTm9uZV9QQUlE</string>
					<key>offerType</key>
					<string>UpgradeStorage</string>
					<key>priority</key>
					<integer>1</integer>
					<key>settingsBannerInfo</key>
					<array>
						<dict>
							<key>appId</key>
							<string>com.apple.MobileSMS</string>
							<key>mesg</key>
							<array>
								<dict>
									<key>format</key>
									<string>No Internet Connection</string>
									<key>key</key>
									<string>default</string>
								</dict>
							</array>
							<key>reason</key>
							<string>WiFiConnectivityIssues</string>
							<key>title</key>
							<array>
								<dict>
									<key>format</key>
									<string>Syncing with iCloud Paused</string>
									<key>key</key>
									<string>default</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>appId</key>
							<string>com.apple.MobileSMS</string>
							<key>bannerFooter</key>
							<dict>
								<key>params</key>
								<array>
									<dict>
										<key>actParams</key>
										<dict>
											<key>linkURL</key>
											<string>prefs:root=APPLE_ACCOUNT</string>
										</dict>
										<key>action</key>
										<string>OPEN_EXT_LINK</string>
										<key>display</key>
										<string>Settings</string>
									</dict>
								</array>
							</dict>
							<key>mesg</key>
							<array>
								<dict>
									<key>format</key>
									<string>Accept Terms to continue to upload</string>
									<key>key</key>
									<string>default</string>
								</dict>
							</array>
							<key>reason</key>
							<string>TermsNotAccepted</string>
							<key>title</key>
							<array>
								<dict>
									<key>format</key>
									<string>Syncing with iCloud Paused</string>
									<key>key</key>
									<string>default</string>
								</dict>
							</array>
						</dict>
					</array>
					<key>type</key>
					<string>Device</string>
					<key>universalLinkInfo</key>
					<array>
						<dict>
							<key>appId</key>
							<string>com.apple.icq</string>
							<key>mesg</key>
							<dict>
								<key>params</key>
								<array>
									<dict>
										<key>actParams</key>
										<dict>
											<key>openUrl</key>
											<string>https://p161-acsegateway.icloud.com/v1/accounts/20287930038/devices/00006020-001671191A47C01E/screens/upsells/aUNsb3VkU3RvcmFnZV9Vbml2ZXJzYWxfdW5pdmVyc2FsTGlua19jb20uYXBwbGUuaWNxX251bGxfbnVsbA==</string>
											<key>purchaseAttribution</key>
											<string>103/1</string>
											<key>route</key>
											<string>https://amsui.apple.com/dynamic/marketing#route=storage/upsell</string>
										</dict>
										<key>action</key>
										<string>LAUNCH_DYNAMIC_UI</string>
									</dict>
								</array>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
			<key>deviceOffers</key>
			<array>
				<dict>
					<key>appFeatureMessagingInfo</key>
					<array/>
					<key>badgeApp</key>
					<true/>
					<key>detailAppBannerInfo</key>
					<array>
						<dict>
							<key>appId</key>
							<string>com.apple.finder</string>
							<key>bannerFooter</key>
							<dict>
								<key>params</key>
								<array>
									<dict>
										<key>actParams</key>
										<dict>
											<key>openUrl</key>
											<string>https://p161-acsegateway.icloud.com/v1/accounts/20287930038/devices/00006020-001671191A47C01E/screens/upsells/aUNsb3VkU3RvcmFnZV9BbG1vc3RGdWxsX2FwcEJhbm5lcl9jb20uYXBwbGUuZmluZGVyX251bGxfbnVsbA==</string>
											<key>purchaseAttribution</key>
											<string>102/1</string>
											<key>route</key>
											<string>https://amsui.apple.com/dynamic/marketing#route=storage/upsell</string>
										</dict>
										<key>action</key>
										<string>LAUNCH_DYNAMIC_UI</string>
										<key>display</key>
										<string>Get More Storage</string>
									</dict>
									<dict>
										<key>actParams</key>
										<dict>
											<key>linkURL</key>
											<string>https://support.apple.com/kb/HT201318</string>
										</dict>
										<key>action</key>
										<string>OPEN_EXT_LINK</string>
										<key>display</key>
										<string>Learn More</string>
									</dict>
								</array>
							</dict>
							<key>mesg</key>
							<array>
								<dict>
									<key>format</key>
									<string>New files and edits won't be synced.</string>
									<key>key</key>
									<string>default</string>
								</dict>
							</array>
							<key>reason</key>
							<string>iCloudFullViolation</string>
							<key>title</key>
							<array>
								<dict>
									<key>format</key>
									<string>Your iCloud storage is full</string>
									<key>key</key>
									<string>default</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>appId</key>
							<string>com.apple.Photos</string>
							<key>bannerFooter</key>
							<dict>
								<key>params</key>
								<array>
									<dict>
										<key>actParams</key>
										<dict>
											<key>openUrl</key>
											<string>https://p161-acsegateway.icloud.com/v1/accounts/20287930038/devices/00006020-001671191A47C01E/screens/upsells/aUNsb3VkU3RvcmFnZV9GdWxsX2FwcEJhbm5lcl9jb20uYXBwbGUuUGhvdG9zX251bGxfbnVsbA==</string>
											<key>purchaseAttribution</key>
											<string>102/2</string>
											<key>route</key>
											<string>https://amsui.apple.com/dynamic/marketing#route=storage/upsell</string>
										</dict>
										<key>action</key>
										<string>LAUNCH_DYNAMIC_UI</string>
										<key>display</key>
										<string>Get More Storage</string>
									</dict>
									<dict>
										<key>actParams</key>
										<dict>
											<key>linkURL</key>
											<string>https://support.apple.com/kb/HT201318</string>
										</dict>
										<key>action</key>
										<string>OPEN_EXT_LINK</string>
										<key>display</key>
										<string>Learn More</string>
									</dict>
								</array>
							</dict>
							<key>mesg</key>
							<array>
								<dict>
									<key>format</key>
									<string>New photos and videos won't be synced.</string>
									<key>key</key>
									<string>default</string>
								</dict>
							</array>
							<key>reason</key>
							<string>iCloudFullViolation</string>
							<key>title</key>
							<array>
								<dict>
									<key>format</key>
									<string>Your iCloud Storage is Full</string>
									<key>key</key>
									<string>default</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>appId</key>
							<string>com.apple.freeform</string>
							<key>bannerFooter</key>
							<dict>
								<key>params</key>
								<array>
									<dict>
										<key>actParams</key>
										<dict>
											<key>openUrl</key>
											<string>https://p161-acsegateway.icloud.com/v1/accounts/20287930038/devices/00006020-001671191A47C01E/screens/upsells/aUNsb3VkU3RvcmFnZV9GdWxsX2FwcEJhbm5lcl9jb20uYXBwbGUuZnJlZWZvcm1fbnVsbF9udWxs</string>
											<key>purchaseAttribution</key>
											<string>102/3</string>
											<key>route</key>
											<string>https://amsui.apple.com/dynamic/marketing#route=storage/upsell</string>
										</dict>
										<key>action</key>
										<string>LAUNCH_DYNAMIC_UI</string>
										<key>display</key>
										<string>Get More Storage</string>
									</dict>
									<dict>
										<key>actParams</key>
										<dict>
											<key>linkURL</key>
											<string>https://support.apple.com/kb/HT201318</string>
										</dict>
										<key>action</key>
										<string>OPEN_EXT_LINK</string>
										<key>display</key>
										<string>Learn More</string>
									</dict>
								</array>
							</dict>
							<key>mesg</key>
							<array>
								<dict>
									<key>format</key>
									<string>New boards and edits won't be synced.</string>
									<key>key</key>
									<string>default</string>
								</dict>
							</array>
							<key>reason</key>
							<string>iCloudFullViolation</string>
							<key>title</key>
							<array>
								<dict>
									<key>format</key>
									<string>Your iCloud storage is full</string>
									<key>key</key>
									<string>default</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>appId</key>
							<string>com.apple.Notes</string>
							<key>bannerFooter</key>
							<dict>
								<key>params</key>
								<array>
									<dict>
										<key>actParams</key>
										<dict>
											<key>openUrl</key>
											<string>https://p161-acsegateway.icloud.com/v1/accounts/20287930038/devices/00006020-001671191A47C01E/screens/upsells/aUNsb3VkU3RvcmFnZV9GdWxsX2FwcEJhbm5lcl9jb20uYXBwbGUuTm90ZXNfbnVsbF9udWxs</string>
											<key>purchaseAttribution</key>
											<string>103/2</string>
											<key>route</key>
											<string>https://amsui.apple.com/dynamic/marketing#route=storage/upsell</string>
										</dict>
										<key>action</key>
										<string>LAUNCH_DYNAMIC_UI</string>
										<key>display</key>
										<string>Get More Storage</string>
									</dict>
									<dict>
										<key>actParams</key>
										<dict>
											<key>linkURL</key>
											<string>https://support.apple.com/kb/HT201318</string>
										</dict>
										<key>action</key>
										<string>OPEN_EXT_LINK</string>
										<key>display</key>
										<string>Learn More</string>
									</dict>
								</array>
							</dict>
							<key>mesg</key>
							<array>
								<dict>
									<key>format</key>
									<string>New notes and edits won't be synced</string>
									<key>key</key>
									<string>default</string>
								</dict>
							</array>
							<key>reason</key>
							<string>iCloudFullViolation</string>
							<key>title</key>
							<array>
								<dict>
									<key>format</key>
									<string>Your iCloud storage is full</string>
									<key>key</key>
									<string>default</string>
								</dict>
							</array>
						</dict>
					</array>
					<key>isDefaultOffer</key>
					<false/>
					<key>offerId</key>
					<string>U3RvcmFnZV9pQ2xvdWRTdG9yYWdlX0Z1bGxfUEFJRA==</string>
					<key>offerType</key>
					<string>UpgradeStorage</string>
					<key>priority</key>
					<integer>1</integer>
					<key>settingsBannerInfo</key>
					<array>
						<dict>
							<key>appId</key>
							<string>com.apple.MobileSMS</string>
							<key>bannerFooter</key>
							<dict>
								<key>params</key>
								<array>
									<dict>
										<key>actParams</key>
										<dict>
											<key>openUrl</key>
											<string>https://p161-acsegateway.icloud.com/v1/accounts/20287930038/devices/00006020-001671191A47C01E/screens/upsells/aUNsb3VkU3RvcmFnZV9GdWxsX2FwcEJhbm5lcl9jb20uYXBwbGUuTW9iaWxlU01TX251bGxfbnVsbA==</string>
											<key>purchaseAttribution</key>
											<string>102/2</string>
											<key>route</key>
											<string>https://amsui.apple.com/dynamic/marketing#route=storage/upsell</string>
										</dict>
										<key>action</key>
										<string>LAUNCH_DYNAMIC_UI</string>
										<key>display</key>
										<string>Get more storage</string>
									</dict>
								</array>
							</dict>
							<key>mesg</key>
							<array>
								<dict>
									<key>format</key>
									<string>Your iCloud storage is full. New messages will not be restored if you replace this device or set up a new one.</string>
									<key>key</key>
									<string>default</string>
								</dict>
							</array>
							<key>reason</key>
							<string>iCloudFullViolation</string>
							<key>title</key>
							<array>
								<dict>
									<key>format</key>
									<string>Your iCloud Storage is Full</string>
									<key>key</key>
									<string>default</string>
								</dict>
							</array>
						</dict>
					</array>
					<key>type</key>
					<string>Full</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>_ICQCachedPremiumOfferInternal</key>
	<dict>
		<key>altDSID</key>
		<string>001963-08-b8d7b1d1-7f24-408d-8a2e-4664709de9bb</string>
		<key>callbackInterval</key>
		<real>86400</real>
		<key>eligibleAppLaunchLinks</key>
		<array/>
		<key>failedToFetchFromServer</key>
		<true/>
		<key>notificationId</key>
		<string></string>
		<key>retrievalDate</key>
		<date>2026-04-18T17:34:52Z</date>
		<key>serverDict</key>
		<dict>
			<key>isPremiumOffer</key>
			<true/>
			<key>offerType</key>
			<string>PremiumJourneys</string>
			<key>type</key>
			<string>PremiumJourneys</string>
		</dict>
	</dict>
</dict>
</plist>
