<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>user_uid_501_57T9237FN3_net_whatsapp_WhatsApp_foreground</key>
	<true/>
	<key>user_uid_501_AD3CBH23B6_com_ansangha_drdriving_foreground</key>
	<false/>
	<key>user_uid_501_BMZ3EJMHJY_com_touchfoo_swordigo_foreground</key>
	<false/>
	<key>user_uid_501_F3LWYJ7GM7_com_apple_mobilegarageband_foreground</key>
	<true/>
	<key>user_uid_501_F6266T9T75_com_apple_iMovie_foreground</key>
	<false/>
	<key>user_uid_501_JFJ4SDLLV4_com_mediocre_smashhit_foreground</key>
	<false/>
	<key>user_uid_501_com_apple_Automator_foreground</key>
	<false/>
	<key>user_uid_501_com_apple_CloudDocs-metadata_foreground</key>
	<true/>
	<key>user_uid_501_com_apple_CloudDocs_container-metadata_foreground</key>
	<true/>
	<key>user_uid_501_com_apple_CloudDocs_foreground</key>
	<true/>
	<key>user_uid_501_com_apple_CloudDocs_pp-metadata_foreground</key>
	<true/>
	<key>user_uid_501_com_apple_Keynote_foreground</key>
	<false/>
	<key>user_uid_501_com_apple_Numbers_foreground</key>
	<false/>
	<key>user_uid_501_com_apple_Pages:_2e2c859be41cd59eed959eb67cb9ec6b_foreground</key>
	<true/>
	<key>user_uid_501_com_apple_Pages_foreground</key>
	<true/>
	<key>user_uid_501_com_apple_Preview_foreground</key>
	<false/>
	<key>user_uid_501_com_apple_QuickTimePlayerX_foreground</key>
	<false/>
	<key>user_uid_501_com_apple_SafariShared_History_foreground</key>
	<false/>
	<key>user_uid_501_com_apple_ScriptEditor2_foreground</key>
	<false/>
	<key>user_uid_501_com_apple_SharedDocs_foreground</key>
	<true/>
	<key>user_uid_501_com_apple_TextEdit_foreground</key>
	<false/>
	<key>user_uid_501_com_apple_TextInput_foreground</key>
	<false/>
	<key>user_uid_501_com_apple_VoiceOver_Braille_foreground</key>
	<false/>
	<key>user_uid_501_com_apple_iBooks_cloudData_foreground</key>
	<false/>
	<key>user_uid_501_com_apple_mail_foreground</key>
	<false/>
	<key>user_uid_501_com_apple_mail_preferences_foreground</key>
	<false/>
	<key>user_uid_501_com_apple_mobilemail_foreground</key>
	<false/>
	<key>user_uid_501_com_apple_notes_foreground</key>
	<true/>
	<key>user_uid_501_com_apple_productkit_b389personalization_foreground</key>
	<true/>
	<key>user_uid_501_com_apple_productkit_personalization_foreground</key>
	<true/>
	<key>user_uid_501_com_apple_shoebox_foreground</key>
	<true/>
	<key>user_uid_501_com_apple_videoapps_cloudcontent_clips_foreground</key>
	<true/>
	<key>user_uid_501_com_apple_videoapps_cloudcontent_clips_private_foreground</key>
	<true/>
	<key>user_uid_501_com_apple_videoapps_cloudcontent_imovieios_foreground</key>
	<true/>
	<key>user_uid_501_com_apple_videoapps_cloudcontent_imovieios_private_foreground</key>
	<true/>
	<key>user_uid_501_iCloud_Judo_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_app_hbt_tem_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_btc_coindcx_com_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_com_HighbrowInteractive_IndianTrainSim_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_com_Iphone_MMT_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_com_abishkking_gym_foreground</key>
	<true/>
	<key>user_uid_501_iCloud_com_abishkking_maleworkout_foreground</key>
	<true/>
	<key>user_uid_501_iCloud_com_alibaba_icbu_sourcing_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_com_ansangha_drparking4_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_com_apollo_apollo247_foreground</key>
	<true/>
	<key>user_uid_501_iCloud_com_apple_DocumentsApp_foreground</key>
	<true/>
	<key>user_uid_501_iCloud_com_apple_MobileSMS_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_com_apple_clips_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_com_apple_iBooks_foreground</key>
	<true/>
	<key>user_uid_501_iCloud_com_apple_iBooks_iTunesU_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_com_apple_mobilesafari_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_com_apple_passd_foreground</key>
	<true/>
	<key>user_uid_501_iCloud_com_apple_shortcuts_runtime_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_com_appliedphasor_working-copy-enterprise_foreground</key>
	<true/>
	<key>user_uid_501_iCloud_com_appliedphasor_working-copy_foreground</key>
	<true/>
	<key>user_uid_501_iCloud_com_beHappy_Productive_debug_foreground</key>
	<true/>
	<key>user_uid_501_iCloud_com_beeper_chat_ios_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_com_burbn_instagram_encryptedBackups_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_com_burbn_instagram_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_com_canva_affinity_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_com_dumpling_dashycrashy_plus_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_com_fabian_hasse_haushaltsbuch_foreground</key>
	<true/>
	<key>user_uid_501_iCloud_com_flightyapp_flighty_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_com_fnp_fithero_foreground</key>
	<true/>
	<key>user_uid_501_iCloud_com_funnmedia_comman_foreground</key>
	<true/>
	<key>user_uid_501_iCloud_com_google_b612_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_com_google_container_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_com_habit_habytracker_icloudcontainer_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_com_hanguang_TGBA_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_com_hegenberg_BetterTouchTool_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_com_kagi_sync_foreground</key>
	<true/>
	<key>user_uid_501_iCloud_com_kevinquisquater_Habits_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_com_kiragames_UnblockMeFree_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_com_leomehlig_today_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_com_linkedin_LinkedIn_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_com_mediocre_pinout_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_com_microsoft_rdc_ios_foreground</key>
	<true/>
	<key>user_uid_501_iCloud_com_microsoft_skype_teams_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_com_payu_citrusapp_foreground</key>
	<true/>
	<key>user_uid_501_iCloud_com_reddit_reddit_foreground</key>
	<true/>
	<key>user_uid_501_iCloud_com_skgames_racer_foreground</key>
	<true/>
	<key>user_uid_501_iCloud_com_truesoftware_TrueCallerOther_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_com_waterminder_waterminder_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_com_withopal_opal_foreground</key>
	<true/>
	<key>user_uid_501_iCloud_dk_simonbs_Scriptable_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_host_exp_Exponent_foreground</key>
	<true/>
	<key>user_uid_501_iCloud_hyperartflow_barbee_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_in_gov_umang_negd_g2c_foreground</key>
	<true/>
	<key>user_uid_501_iCloud_ios_bubblepop_cannon_puzzle_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_is_workflow_my_workflows_foreground</key>
	<true/>
	<key>user_uid_501_iCloud_kranti_ios_Edumarshal_foreground</key>
	<true/>
	<key>user_uid_501_iCloud_liit_photovideo_editor_document_foreground</key>
	<true/>
	<key>user_uid_501_iCloud_md_obsidian_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_net_metaquotes_MetaTrader5Terminal_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_net_whatsapp_WhatsApp_foreground</key>
	<true/>
	<key>user_uid_501_iCloud_org_videolan_vlc-ios_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_ph_telegra_Telegraph_foreground</key>
	<false/>
	<key>user_uid_501_iCloud_us_zoom_videomeetings_foreground</key>
	<true/>
</dict>
</plist>
