<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>IMCSDoNotIndex</key>
	<array/>
	<key>IMCSLastDonationProgressRebuildDate</key>
	<date>2026-04-18T05:41:32Z</date>
	<key>IMCSPreviousClientStateData</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGqCwwbHB0eIigpKlUkbnVsbNcN
	Dg8QERITFBUWFxgZGlYkY2xhc3NfEA9pbml0aWFsTWF4Um93SURfEBFpbml0aWFsVG90
	YWxDaGF0c18QFGluaXRpYWxUb3RhbE1lc3NhZ2VzXxARaW5kZXhpbmdCZWdhbkRhdGVf
	EBVwcmV2aW91c1RyYW5zYWN0aW9uSURdaW5kZXhSZXZpc2lvboAJgAKAB4AEgAWACIAD
	EQ2EEgAEB0QRDYPSHw0gIVdOUy50aW1lI0HHyjWUrmFSgAbSIyQlJlokY2xhc3NuYW1l
	WCRjbGFzc2VzVk5TRGF0ZaIlJ1hOU09iamVjdBEBp18QJDZDRjE1NkE5LTUyODMtNDZB
	OC1BQkMwLTA2Njg0NjEzMDEyN9IjJCssXxAWSU1TcG90bGlnaHRDbGllbnRTdGF0ZaIt
	J18QFklNU3BvdGxpZ2h0Q2xpZW50U3RhdGUACAARABoAJAApADIANwBJAEwAUQBTAF4A
	ZABzAHoAjACgALcAywDjAPEA8wD1APcA+QD7AP0A/wECAQcBCgEPARcBIAEiAScBMgE7
	AUIBRQFOAVEBeAF9AZYBmQAAAAAAAAIBAAAAAAAAAC4AAAAAAAAAAAAAAAAAAAGy
	</data>
	<key>IMDCoreSpotlightLastFullReindexRequestTime</key>
	<date>2026-04-17T14:55:20Z</date>
	<key>IMDIndexingLastThrottleState</key>
	<integer>2</integer>
</dict>
</plist>
