<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kRemotePasteboardBlobName</key>
	<string>/Users/prakharsingh/Library/Group Containers/group.com.apple.coreservices.useractivityd/shared-pasteboard/483B4A37-BE42-4DB1-9216-34F93B420602</string>
</dict>
</plist>
