<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MeCardPendingNicknamesVersion</key>
	<integer>1</integer>
	<key>MeCardSharingEnabled</key>
	<false/>
	<key>MeCardSharingImageForkedFromMeCard</key>
	<true/>
	<key>MeCardSharingNameForkedFromMeCard</key>
	<true/>
	<key>NicknameScrutinyDoNotHandle</key>
	<false/>
	<key>NicknameiCloudAccountSignedInStatusKey</key>
	<true/>
	<key>ReuploadLocalNicknamesVersion</key>
	<integer>1</integer>
</dict>
</plist>
