<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSSplitView Subview Frames main-window-group-AppWindow-1, SidebarNavigationSplitView</key>
	<array>
		<string>0.000000, 0.000000, 232.000000, 530.000000, NO, NO</string>
		<string>0.000000, 0.000000, 537.000000, 530.000000, NO, NO</string>
		<string>538.000000, 0.000000, 362.000000, 530.000000, NO, NO</string>
	</array>
	<key>NSWindow Frame main-window-group-AppWindow-1</key>
	<string>551 156 900 530 0 0 1800 1130 </string>
	<key>ShowServiceNamesInPasswords</key>
	<true/>
	<key>WBSPasswordWarningTopFraudTargetsLastUpdate</key>
	<date>2026-04-18T04:16:20Z</date>
	<key>WBSPrivacyProxyAvailabilityAccountType</key>
	<integer>1</integer>
	<key>WBSPrivacyProxyAvailabilityActiveOnDefaultNetwork</key>
	<true/>
	<key>WBSPrivacyProxyAvailabilityServiceStatus</key>
	<integer>0</integer>
	<key>WBSPrivacyProxyAvailabilitySubscriberTier</key>
	<false/>
	<key>WBSPrivacyProxyAvailabilitySubscriberTierUnavailableInUserCountry</key>
	<false/>
	<key>WBSPrivacyProxyAvailabilityTraffic</key>
	<integer>134085868</integer>
	<key>WBSRemoteAutoFillQuirksLastUpdateTime</key>
	<date>2026-04-18T04:16:20Z</date>
	<key>WebsiteNameProviderLastUpdateTime</key>
	<date>2026-04-18T04:16:20Z</date>
	<key>shouldShowAppOnboardingView</key>
	<false/>
</dict>
</plist>
