<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ICDefaultsCachedSubscriptionStatus</key>
	<dict>
		<key>lastKnownActiveDSID</key>
		<integer>20287930038</integer>
		<key>lastKnownOSVersion</key>
		<string>25E253</string>
		<key>responses</key>
		<dict>
			<key>{"phoneNumber":"","dsid":"20287930038","storefrontID":"143467"}</key>
			<dict>
				<key>status</key>
				<dict>
					<key>_ICMusicSubscriptionStatusAdditionalProperties</key>
					<dict>
						<key>carrierBundlingStatusType</key>
						<integer>0</integer>
					</dict>
					<key>acceptSilentAuth</key>
					<true/>
					<key>account</key>
					<dict>
						<key>isMinor</key>
						<false/>
						<key>studentExpirationDate</key>
						<integer>1777099509160</integer>
						<key>studentId</key>
						<string>680b2f3fd8e90165603d2994</string>
						<key>suspectUnderage</key>
						<false/>
						<key>verifications</key>
						<dict>
							<key>student</key>
							<dict>
								<key>expirationDate</key>
								<integer>1777099509160</integer>
								<key>expirationDateFormatted</key>
								<string>24 April</string>
								<key>verificationId</key>
								<string>680b2f3fd8e90165603d2994</string>
								<key>verifier</key>
								<string>SheerId</string>
							</dict>
						</dict>
					</dict>
					<key>family</key>
					<dict>
						<key>hasFamily</key>
						<true/>
						<key>hasFamilyGreaterThanOneMember</key>
						<true/>
						<key>isHoH</key>
						<true/>
					</dict>
					<key>match</key>
					<dict>
						<key>status</key>
						<string>Disabled</string>
					</dict>
					<key>music</key>
					<dict>
						<key>eligibleOffer</key>
						<string>NONE</string>
						<key>eligibleOffers</key>
						<array>
							<string>NONE</string>
						</array>
						<key>expirationDate</key>
						<string>1762850407000</string>
						<key>initialPurchaseTimestamp</key>
						<integer>1746159283000</integer>
						<key>isAdmin</key>
						<false/>
						<key>isAutoRenewEnabled</key>
						<false/>
						<key>isCipFunded</key>
						<false/>
						<key>isFamilySubscription</key>
						<false/>
						<key>isNotEligibleForFreeTrial</key>
						<true/>
						<key>previousOffer</key>
						<string>Student</string>
						<key>serviceBeginsTimestamp</key>
						<integer>1754898007000</integer>
						<key>status</key>
						<string>Disabled</string>
					</dict>
					<key>status</key>
					<integer>0</integer>
					<key>terms</key>
					<array/>
				</dict>
				<key>valid</key>
				<integer>1</integer>
			</dict>
		</dict>
	</dict>
	<key>ICDefaultsKeyAuthServiceClientTokenCache</key>
	<dict>
		<key>20287930038</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGqCwwXIyQq
		KywzN1UkbnVsbNUNDg8QERITFBUWViRjbGFzc1t0b2tlblJlc3VsdFlsYXN0
		RXJyb3JebGFzdFVwZGF0ZVRpbWVfEBxleGNsdWRlRnJvbUJhY2tncm91bmRS
		ZWZyZXNogAmAAoAAI0HHyUKL1u9nCNYYGRoNGxwdHh8gISJebGlmZXNwYW5N
		aWxsaXNbdG9rZW5TdHJpbmdXdG9rZW5JRF8QEWdlbmVyYXRlZEF0TWlsbGlz
		WXR0bE1pbGxpcxKQMhAAgAOABIAIEwAAAZ2b/sugEoHGY1BfENhBaWsycVJp
		eGRtSWd6OVhUR215WkpFQU8tbjU0cmh4ajJRUGtqeWo2YXBVSzlTdlk1ejFs
		ZTFYY2NIczBOWXo2Z3RYQ1BMcExSNGJaSkhfb1Q3cVFHOG1SajNpLTQ1c3d0
		bl9IUEszby1lWUs4SEdIMWpTbFNPR0FaZXdtRmUtakNTMXZjLTA0QXYyZTRw
		TEJraGFiTVFpNl8yLTlkbmwzQnM1TjhVYWpseG40ajhITjItU2k3YTJoZFNC
		ZHJocERLNkNHWHRReFFLa2NNTURCb2d3T3dYMD3TJQ0mJygpWmRldmljZUdV
		SURUZHNpZIAGgAeABRMAAAAEuUE+tlw2QzdFNjdENUZFREbSLS4vMFokY2xh
		c3NuYW1lWCRjbGFzc2VzXxApSUNMaWJyYXJ5QXV0aFNlcnZpY2VDbGllbnRU
		b2tlbklkZW50aWZpZXKiMTJfEClJQ0xpYnJhcnlBdXRoU2VydmljZUNsaWVu
		dFRva2VuSWRlbnRpZmllclhOU09iamVjdNItLjQ1XxAlSUNMaWJyYXJ5QXV0
		aFNlcnZpY2VDbGllbnRUb2tlblJlc3VsdKI2Ml8QJUlDTGlicmFyeUF1dGhT
		ZXJ2aWNlQ2xpZW50VG9rZW5SZXN1bHTSLS44OV8QJUlDTGlicmFyeUF1dGhT
		ZXJ2aWNlQ2xpZW50VG9rZW5TdGF0dXOiOjJfECVJQ0xpYnJhcnlBdXRoU2Vy
		dmljZUNsaWVudFRva2VuU3RhdHVzAAgAEQAaACQAKQAyADcASQBMAFEAUwBe
		AGQAbwB2AIIAjACbALoAvAC+AMAAyQDKANcA5gDyAPoBDgEYAR0BHwEhASMB
		LAExAgwCEwIeAiMCJQInAikCMgI/AkQCTwJYAoQChwKzArwCwQLpAuwDFAMZ
		A0EDRAAAAAAAAAIBAAAAAAAAADsAAAAAAAAAAAAAAAAAAANs
		</data>
	</dict>
	<key>ICDefaultsKeyCachedU18MinorAccountStatus</key>
	<false/>
	<key>ICDefaultsKeyLastKnownSubscriptionStatusBaseCacheKey</key>
	<dict>
		<key>phoneNumber</key>
		<string></string>
		<key>storefrontID</key>
		<string>143467</string>
	</dict>
	<key>ICDefaultsKeyLastKnownUserAgeVerificationState</key>
	<dict>
		<key>20287930038</key>
		<dict>
			<key>ICAgeVerificationStateKeyDSID</key>
			<string>20287930038</string>
			<key>ICAgeVerificationStateKeyStatus</key>
			<integer>1</integer>
			<key>ICAgeVerificationStateKeyTreatment</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>ICDefaultsKeyMediaLibraryAccessApplicationIdentifiersWithTCCAcceptanceDates</key>
	<dict/>
	<key>ICDefaultsKeySharedControlsCapability</key>
	<true/>
	<key>ICDefaultsKeySocialProfileSupported</key>
	<true/>
	<key>ICDefaultsRegisteredPushNotificationState</key>
	<dict>
		<key>accountStates</key>
		<dict>
			<key>20287930038</key>
			<dict>
				<key>APNSToken</key>
				<data>
				B3e+PWfwoZjWGfHLMxftRgk0WENGEj+vVHI8/eHFZ5A=
				</data>
				<key>mediaKinds</key>
				<array>
					<string>feature-movie</string>
					<string>song</string>
					<string>tv-episode</string>
					<string>music-video</string>
					<string>book</string>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
