<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMSCampaignAttributionCohortParams</key>
	<dict>
		<key>last_updated</key>
		<date>2026-04-18T04:21:23Z</date>
		<key>params</key>
		<dict>
			<key>ct</key>
			<string>marcom-fcp-stickyNav</string>
			<key>lastPathComponent</key>
			<string>id1631624924</string>
			<key>pt</key>
			<string>2003</string>
		</dict>
	</dict>
	<key>AMSDeviceBiometricsState</key>
	<integer>1</integer>
	<key>AMSFPCertExpiration</key>
	<date>2026-04-19T14:06:08Z</date>
	<key>AMSIncludeFullRequestInHARLogging</key>
	<false/>
	<key>AMSIncludeFullResponseInHARLogging</key>
	<false/>
	<key>AMSJSVersionMap</key>
	<dict>
		<key>analytics</key>
		<string>27.11.0</string>
		<key>internal</key>
		<string>24.0.41</string>
		<key>journeys</key>
		<string>2603.2.0</string>
	</dict>
	<key>AMSMediaRestrictionsAccountData</key>
	<dict>
		<key>a3e0e8e38b1911b22d6200ef79b0373d33f03560cf29186dc1146b9abe9355dd845f592af7ec627d0a7c24491e521276cd9d77179b2eb8c986b097e75e334a81</key>
		<dict>
			<key>profileLockExists</key>
			<false/>
		</dict>
	</dict>
	<key>AMSRegulatoryEligibilityAccounts</key>
	<array>
		<string>295352ED-EF6A-46D5-9885-B19B03CB8D91</string>
	</array>
	<key>AMSSamplingSession-TLSSessionTickets</key>
	<dict>
		<key>date</key>
		<date>2026-04-18T08:29:38Z</date>
		<key>duration</key>
		<real>1800</real>
		<key>result</key>
		<true/>
	</dict>
	<key>AMSSamplingSession-xp_amp_appstore_log:qJO7Vty2LO98sz+eud1os9HfnMs</key>
	<dict>
		<key>date</key>
		<date>2026-04-18T08:29:38Z</date>
		<key>duration</key>
		<real>60000</real>
		<key>result</key>
		<false/>
	</dict>
	<key>AMSSamplingSession-xp_ase_ondevice/serversourceddata_log:VO74dV80uaijPbvToL+ZfjQHaYc</key>
	<dict>
		<key>date</key>
		<date>2026-04-19T06:53:30Z</date>
		<key>duration</key>
		<real>86400000</real>
		<key>result</key>
		<false/>
	</dict>
	<key>ITFECustomFeatures</key>
	<array>
		<string>ashs2fly</string>
	</array>
	<key>ITFEFeatures</key>
	<dict>
		<key>ashs2fly</key>
		<integer>1</integer>
	</dict>
	<key>com.apple.AppleMediaServicesKit.storefront-suffix.com.apple.Music</key>
	<string> t:musicstore1</string>
	<key>com.apple.AppleMediaServicesKit.storefront-suffix.com.apple.TV</key>
	<string> t:tv1</string>
</dict>
</plist>
