<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AlreadyOfferedDiskUUIDs</key>
	<array>
		<string>4FCF6B74-8DA4-4BA5-825D-643A7AE6F668</string>
		<string>4FCF6B74-8DA4-4BA5-825D-643A7AE6F668</string>
		<string>4FCF6B74-8DA4-4BA5-825D-643A7AE6F668</string>
		<string>4FCF6B74-8DA4-4BA5-825D-643A7AE6F668</string>
		<string>4FCF6B74-8DA4-4BA5-825D-643A7AE6F668</string>
		<string>4FCF6B74-8DA4-4BA5-825D-643A7AE6F668</string>
		<string>4FCF6B74-8DA4-4BA5-825D-643A7AE6F668</string>
		<string>4FCF6B74-8DA4-4BA5-825D-643A7AE6F668</string>
	</array>
</dict>
</plist>
