<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DefaultDeviceActivationDate</key>
	<date>2026-04-17T14:57:29Z</date>
	<key>config-refresh-epoch</key>
	<real>1776869849</real>
	<key>has-booted-before</key>
	<true/>
	<key>next-checkIn-epoch</key>
	<date>2026-04-21T08:14:32Z</date>
</dict>
</plist>
