<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SpacesDisplayConfiguration</key>
	<dict>
		<key>Management Data</key>
		<dict>
			<key>Age</key>
			<real>83405.465542916689</real>
			<key>Management Mode</key>
			<integer>1</integer>
			<key>Monitors</key>
			<array>
				<dict>
					<key>Current Space</key>
					<dict>
						<key>ManagedSpaceID</key>
						<integer>1</integer>
						<key>id64</key>
						<integer>1</integer>
						<key>type</key>
						<integer>0</integer>
						<key>uuid</key>
						<string></string>
					</dict>
					<key>Display Identifier</key>
					<string>Main</string>
					<key>Spaces</key>
					<array>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>1</integer>
							<key>id64</key>
							<integer>1</integer>
							<key>type</key>
							<integer>0</integer>
							<key>uuid</key>
							<string></string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>579</integer>
							<key>TileLayoutManager</key>
							<dict>
								<key>Age</key>
								<real>4433.0862564166746</real>
								<key>ConfigAge</key>
								<real>4433.0856537500076</real>
								<key>Inter-Tile Spacing</key>
								<dict>
									<key>Height</key>
									<real>12</real>
									<key>Width</key>
									<real>12</real>
								</dict>
								<key>Layout Rect</key>
								<dict>
									<key>Height</key>
									<real>1169</real>
									<key>Width</key>
									<real>1800</real>
									<key>X</key>
									<real>0.0</real>
									<key>Y</key>
									<real>0.0</real>
								</dict>
								<key>Max Tile Config</key>
								<dict>
									<key>Height</key>
									<real>1</real>
									<key>Width</key>
									<real>2</real>
								</dict>
								<key>PreferredLayout</key>
								<array>
									<dict>
										<key>DisplaySize</key>
										<dict>
											<key>Height</key>
											<real>1169</real>
											<key>Width</key>
											<real>1800</real>
										</dict>
										<key>FirstTileSize</key>
										<dict>
											<key>Height</key>
											<real>1169</real>
											<key>Width</key>
											<real>1800</real>
										</dict>
									</dict>
								</array>
								<key>ReservedArea</key>
								<dict>
									<key>Bottom</key>
									<real>0.0</real>
									<key>Left</key>
									<real>0.0</real>
									<key>Right</key>
									<real>0.0</real>
									<key>Top</key>
									<real>0.0</real>
								</dict>
								<key>TileSpaces</key>
								<array>
									<dict>
										<key>ManagedSpaceID</key>
										<integer>579</integer>
										<key>SizeConstraints</key>
										<dict>
											<key>Max</key>
											<dict>
												<key>Height</key>
												<real>100000</real>
												<key>Width</key>
												<real>100000</real>
											</dict>
											<key>Min</key>
											<dict>
												<key>Height</key>
												<real>600</real>
												<key>Width</key>
												<real>800</real>
											</dict>
											<key>Preferred</key>
											<dict>
												<key>Height</key>
												<real>1130</real>
												<key>Width</key>
												<real>1724</real>
											</dict>
										</dict>
										<key>TileLimitedClipping</key>
										<true/>
										<key>TileRect</key>
										<dict>
											<key>Height</key>
											<real>1169</real>
											<key>Width</key>
											<real>1800</real>
											<key>X</key>
											<real>0.0</real>
											<key>Y</key>
											<real>0.0</real>
										</dict>
										<key>TileType</key>
										<string>Primary</string>
										<key>TileWindowID</key>
										<integer>11635</integer>
										<key>appName</key>
										<string>‎WhatsApp</string>
										<key>com.apple.appkit.disablemcexit</key>
										<false/>
										<key>fromSpace</key>
										<string></string>
										<key>fs_wid</key>
										<integer>11635</integer>
										<key>id64</key>
										<integer>581</integer>
										<key>name</key>
										<string>‎WhatsApp</string>
										<key>pid</key>
										<integer>91072</integer>
										<key>type</key>
										<integer>5</integer>
										<key>uuid</key>
										<string>A5D503B7-DF8A-424E-93AF-3E2F8FCD2D3B</string>
									</dict>
								</array>
							</dict>
							<key>WallSpace</key>
							<dict>
								<key>ManagedSpaceID</key>
								<integer>579</integer>
								<key>id64</key>
								<integer>580</integer>
								<key>type</key>
								<integer>6</integer>
								<key>uuid</key>
								<string>71DDBF4A-B3CF-447A-A5DB-11DD3044B76A</string>
							</dict>
							<key>fs_wid</key>
							<integer>11635</integer>
							<key>id64</key>
							<integer>579</integer>
							<key>pid</key>
							<integer>91072</integer>
							<key>type</key>
							<integer>4</integer>
							<key>uuid</key>
							<string>369EA86D-5B3D-443A-A40D-169181D99F84</string>
						</dict>
						<dict>
							<key>ManagedSpaceID</key>
							<integer>551</integer>
							<key>TileLayoutManager</key>
							<dict>
								<key>Age</key>
								<real>9378.4399512500095</real>
								<key>ConfigAge</key>
								<real>9378.4392703750054</real>
								<key>Inter-Tile Spacing</key>
								<dict>
									<key>Height</key>
									<real>12</real>
									<key>Width</key>
									<real>12</real>
								</dict>
								<key>Layout Rect</key>
								<dict>
									<key>Height</key>
									<real>1169</real>
									<key>Width</key>
									<real>1800</real>
									<key>X</key>
									<real>0.0</real>
									<key>Y</key>
									<real>0.0</real>
								</dict>
								<key>Max Tile Config</key>
								<dict>
									<key>Height</key>
									<real>1</real>
									<key>Width</key>
									<real>2</real>
								</dict>
								<key>PreferredLayout</key>
								<array>
									<dict>
										<key>DisplaySize</key>
										<dict>
											<key>Height</key>
											<real>1169</real>
											<key>Width</key>
											<real>1800</real>
										</dict>
										<key>FirstTileSize</key>
										<dict>
											<key>Height</key>
											<real>1169</real>
											<key>Width</key>
											<real>1800</real>
										</dict>
									</dict>
								</array>
								<key>ReservedArea</key>
								<dict>
									<key>Bottom</key>
									<real>0.0</real>
									<key>Left</key>
									<real>0.0</real>
									<key>Right</key>
									<real>0.0</real>
									<key>Top</key>
									<real>0.0</real>
								</dict>
								<key>TileSpaces</key>
								<array>
									<dict>
										<key>ManagedSpaceID</key>
										<integer>551</integer>
										<key>SizeConstraints</key>
										<dict>
											<key>Max</key>
											<dict>
												<key>Height</key>
												<real>100000</real>
												<key>Width</key>
												<real>100000</real>
											</dict>
											<key>Min</key>
											<dict>
												<key>Height</key>
												<real>220</real>
												<key>Width</key>
												<real>574</real>
											</dict>
											<key>Preferred</key>
											<dict>
												<key>Height</key>
												<real>940</real>
												<key>Width</key>
												<real>1324</real>
											</dict>
										</dict>
										<key>TileLimitedClipping</key>
										<true/>
										<key>TileRect</key>
										<dict>
											<key>Height</key>
											<real>1169</real>
											<key>Width</key>
											<real>1800</real>
											<key>X</key>
											<real>0.0</real>
											<key>Y</key>
											<real>0.0</real>
										</dict>
										<key>TileType</key>
										<string>Primary</string>
										<key>TileWindowID</key>
										<integer>13610</integer>
										<key>appName</key>
										<string>Safari</string>
										<key>com.apple.appkit.disablemcexit</key>
										<false/>
										<key>fromSpace</key>
										<string></string>
										<key>fs_wid</key>
										<integer>13610</integer>
										<key>id64</key>
										<integer>553</integer>
										<key>name</key>
										<string>Mac Overheating: WindowServer Culprit - Google Gemini</string>
										<key>pid</key>
										<integer>87764</integer>
										<key>type</key>
										<integer>5</integer>
										<key>uuid</key>
										<string>AB54FB88-E8CE-45F4-9AD7-4E352BBFBA43</string>
									</dict>
								</array>
							</dict>
							<key>WallSpace</key>
							<dict>
								<key>ManagedSpaceID</key>
								<integer>551</integer>
								<key>id64</key>
								<integer>552</integer>
								<key>type</key>
								<integer>6</integer>
								<key>uuid</key>
								<string>BFC484AE-5A7B-46CB-825A-E43BE386080E</string>
							</dict>
							<key>fs_wid</key>
							<integer>13610</integer>
							<key>id64</key>
							<integer>551</integer>
							<key>pid</key>
							<integer>87764</integer>
							<key>type</key>
							<integer>4</integer>
							<key>uuid</key>
							<string>6436285A-237F-4C65-888F-25E378908FB1</string>
						</dict>
					</array>
				</dict>
			</array>
			<key>Primary</key>
			<dict>
				<key>CreatedCount</key>
				<integer>44</integer>
				<key>DeletedCount</key>
				<integer>67</integer>
				<key>LifetimeEntryCount</key>
				<integer>67</integer>
				<key>LifetimeMax</key>
				<real>30626.886478750006</real>
				<key>LifetimeMin</key>
				<real>0.062920249998569489</real>
				<key>LifetimeSum</key>
				<real>244614.22921208333</real>
				<key>PersistedCount</key>
				<integer>0</integer>
			</dict>
			<key>Secondary</key>
			<dict>
				<key>CreatedCount</key>
				<integer>48</integer>
				<key>DeletedCount</key>
				<integer>23</integer>
				<key>LifetimeEntryCount</key>
				<integer>23</integer>
				<key>LifetimeMax</key>
				<real>0.63188183333841152</real>
				<key>LifetimeMin</key>
				<real>0.0094267083331942558</real>
				<key>LifetimeSum</key>
				<real>8.4926999583367433</real>
				<key>PersistedCount</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>Space Properties</key>
		<array>
			<dict>
				<key>name</key>
				<string></string>
				<key>windows</key>
				<array>
					<integer>15050</integer>
					<integer>1115</integer>
					<integer>14025</integer>
					<integer>7547</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>6436285A-237F-4C65-888F-25E378908FB1</string>
				<key>windows</key>
				<array>
					<integer>14994</integer>
					<integer>13621</integer>
					<integer>13610</integer>
				</array>
			</dict>
			<dict>
				<key>name</key>
				<string>369EA86D-5B3D-443A-A40D-169181D99F84</string>
				<key>windows</key>
				<array>
					<integer>14993</integer>
					<integer>14535</integer>
					<integer>11635</integer>
				</array>
			</dict>
		</array>
	</dict>
</dict>
</plist>
