<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FontSizeCategory</key>
	<dict>
		<key>com.apple.Magnifier</key>
		<string>UseGlobal</string>
		<key>com.apple.MobileSMS</key>
		<string>UseGlobal</string>
		<key>com.apple.Notes</key>
		<string>UseGlobal</string>
		<key>com.apple.accessibility.AccessibilityReader</key>
		<string>UseGlobal</string>
		<key>com.apple.finder</key>
		<string>UseGlobal</string>
		<key>com.apple.iBooksX</key>
		<string>UseGlobal</string>
		<key>com.apple.iCal</key>
		<string>UseGlobal</string>
		<key>com.apple.journal</key>
		<string>UseGlobal</string>
		<key>com.apple.mail</key>
		<string>UseGlobal</string>
		<key>com.apple.reminders</key>
		<string>UseGlobal</string>
		<key>com.apple.stocks</key>
		<string>UseGlobal</string>
		<key>com.apple.weather</key>
		<string>UseGlobal</string>
		<key>global</key>
		<string>M</string>
		<key>version</key>
		<string>3.0</string>
	</dict>
	<key>History</key>
	<dict>
		<key>MouseKeys</key>
		<array>
			<dict>
				<key>Date</key>
				<string>2026-04-17 07:55:21</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-04-17 07:55:21</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-04-17 07:55:21</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-04-17 07:55:21</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-04-17 07:55:27</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-04-17 07:55:27</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-04-17 07:55:27</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-04-17 07:55:27</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-04-17 07:55:27</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-04-17 07:55:29</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-04-17 07:55:29</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-04-17 07:55:29</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-04-17 07:55:29</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-04-17 07:55:29</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-04-17 20:29:43</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-04-17 20:29:43</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-04-17 20:29:44</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-04-17 20:29:44</string>
				<key>Reason</key>
				<string>SessionChangedIsDisabled</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-04-17 21:29:46</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
			<dict>
				<key>Date</key>
				<string>2026-04-18 20:43:03</string>
				<key>Reason</key>
				<string>LoadingPrefsA</string>
				<key>State</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>closeViewHotkeysEnabled</key>
	<false/>
	<key>closeViewZoomDisplayID</key>
	<integer>0</integer>
	<key>closeViewZoomFactor</key>
	<real>1</real>
	<key>com.apple.custommenu.apps</key>
	<array>
		<string>NSGlobalDomain</string>
	</array>
	<key>contrast</key>
	<real>0.0</real>
	<key>cursorFill</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>0.0</real>
		<key>green</key>
		<real>0.0</real>
		<key>red</key>
		<real>0.0</real>
	</dict>
	<key>cursorIsCustomized</key>
	<false/>
	<key>cursorOutline</key>
	<dict>
		<key>alpha</key>
		<real>1</real>
		<key>blue</key>
		<real>1</real>
		<key>green</key>
		<real>1</real>
		<key>red</key>
		<real>1</real>
	</dict>
	<key>customFonts</key>
	<true/>
	<key>grayscale</key>
	<false/>
	<key>hudNotifiedConstrast</key>
	<real>0.0</real>
	<key>increaseContrast</key>
	<false/>
	<key>keyboardAccessCommandMap</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGjCwwRVSRudWxs0g0ODxBfEBNj
	b21tYW5kc1RvS2V5Q2hvcmRzViRjbGFzc4AAgALSEhMUFVokY2xhc3NuYW1lWCRjbGFz
	c2VzXxAWQVhTU0tleWJvYXJkQ29tbWFuZE1hcKIWF18QFkFYU1NLZXlib2FyZENvbW1h
	bmRNYXBYTlNPYmplY3QIERokKTI3SUxRU1ddYnh/gYOIk5y1uNEAAAAAAAABAQAAAAAA
	AAAYAAAAAAAAAAAAAAAAAAAA2g==
	</data>
	<key>keyboardAccessFocusRingTimeout</key>
	<real>15</real>
	<key>lastNightShiftActive</key>
	<true/>
	<key>lastNightShiftDate</key>
	<string>20260417</string>
	<key>lastNightShiftEnabled</key>
	<false/>
	<key>lastNightShiftMode</key>
	<integer>0</integer>
	<key>liveSpeechEnabled</key>
	<false/>
	<key>login</key>
	<false/>
	<key>mouseDriver</key>
	<false/>
	<key>mouseDriverCursorSize</key>
	<real>1</real>
	<key>reduceTransparency</key>
	<false/>
	<key>restoreTrueToneEnabled</key>
	<false/>
	<key>sessionChange</key>
	<false/>
	<key>slowKey</key>
	<false/>
	<key>slowKeyDelay</key>
	<integer>250</integer>
	<key>whiteOnBlack</key>
	<false/>
</dict>
</plist>
