<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAerialDownloadDate</key>
	<date>2026-04-17T14:55:28Z</date>
	<key>lastUpdateDate</key>
	<date>2026-04-17T15:19:34Z</date>
	<key>remoteResourceExpirationDate</key>
	<date>2026-04-20T04:37:17Z</date>
	<key>remoteResourceURL</key>
	<string>https://sylvan.apple.com/itunes-assets/Aerials126/v4/82/2e/34/822e344c-f5d2-878c-3d56-508d5b09ed61/resources-26-4-1.tar</string>
	<key>scheduledUpdateDate</key>
	<date>2026-04-20T04:37:17Z</date>
</dict>
</plist>
