<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>lastAppInstallDate</key>
	<date>2026-04-17T15:23:40Z</date>
	<key>numAppInstallsToday</key>
	<integer>5</integer>
	<key>osInstalledDates</key>
	<dict>
		<key>26.4</key>
		<real>798130558.17060804</real>
	</dict>
</dict>
</plist>
