<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DisabledUTTypes</key>
	<array/>
	<key>EnabledPreferenceRules</key>
	<array/>
	<key>FTEResetForSuperSpotlight</key>
	<true/>
	<key>PasteboardHistoryVersion</key>
	<integer>2</integer>
	<key>PreferencesVersion</key>
	<integer>1</integer>
	<key>SSActionKeyboardAliasStoreVersion</key>
	<integer>1</integer>
	<key>__NSEnableTSMDocumentWindowLevel</key>
	<true/>
	<key>engagementCount-com.apple.Spotlight</key>
	<integer>0</integer>
	<key>engagementCount-com.apple.Spotlight.suggestions</key>
	<integer>0</integer>
	<key>engagementCount-com.apple.mail</key>
	<integer>0</integer>
	<key>queryViewOptions</key>
	<data>
	YnBsaXN0MDDRAQJcZGlzcGxheVN0eWxlEAAICxgAAAAAAAABAQAAAAAAAAADAAAAAAAA
	AAAAAAAAAAAAGg==
	</data>
	<key>showedFTE</key>
	<true/>
	<key>startTime</key>
	<real>798201142.45142901</real>
	<key>useCount</key>
	<integer>2</integer>
</dict>
</plist>
