<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CKPerBootTasks</key>
	<array>
		<string>CKAccountInfoCacheReset</string>
	</array>
	<key>CKStartupTime</key>
	<integer>1776437273</integer>
	<key>CloudKitAccountInfoCache</key>
	<dict>
		<key>c19830feafcf5013060e2c039ca7b548e4762bbe70c614c6780db987d2055119</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwhIlUk
		bnVsbNsNDg8QERITFBUWFxgZGhsYHBoeGB8gXxAaQWNjb3VudEFjY2Vzc0F1
		dGhvcml6YXRpb25cV2FscnVzU3RhdHVzXxATQnlwYXNzUENTRW5jcnlwdGlv
		bl8QE0hhc1ZhbGlkQ3JlZGVudGlhbHNfEBBBY2NvdW50UGFydGl0aW9uXxAk
		RGV2aWNlVG9EZXZpY2VFbmNyeXB0aW9uQXZhaWxhYmlsaXR5XxASTmVlZHNU
		b1ZlcmlmeVRlcm1zViRjbGFzc11BY2NvdW50U3RhdHVzWklkZW50aWZpZXJf
		EBxBY2NvdW50SW5mb1ZhbGlkYXRpb25Db3VudGVyEAEQAggJEAMIgAOAAhBo
		XxAsVXo0UjR5eSsyUmd5djYyUThYRUNPa3ZaY1R3Q2gzY2xHYkt3bUtzVDhv
		Zz3SIyQlJlokY2xhc3NuYW1lWCRjbGFzc2VzXUNLQWNjb3VudEluZm+iJSdY
		TlNPYmplY3QACAARABoAJAApADIANwBJAEwAUQBTAFgAXgB1AJIAnwC1AMsA
		3gEFARoBIQEvAToBWQFbAV0BXgFfAWEBYgFkAWYBaAGXAZwBpwGwAb4BwQAA
		AAAAAAIBAAAAAAAAACgAAAAAAAAAAAAAAAAAAAHK
		</data>
	</dict>
	<key>MigrationStateEncodedRecordData</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGB2hYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QMAgJCgsMDQ4PEBESExQVFhcYGRobHB0eHyAh
	IiMkJSYnKCkqKywtLi8wMTIzNDU2Nzg5ODs4ODk/ODg4OTk4ODg5SUo4ODg4OFA4Ujg5
	ODg4ODlaWzldXjg4OThjZDg5OF8QFlRvbWJzdG9uZWRQdWJsaWNLZXlJRHNfEBlIYXNV
	cGRhdGVkUGFyZW50UmVmZXJlbmNlXxATQ2hhaW5Qcm90ZWN0aW9uRGF0YV1Lbm93blRv
	U2VydmVyXxARRGlzcGxheWVkSG9zdG5hbWVZQmFzZVRva2VuXxAQV2FudHNDaGFpblBD
	U0tleVtSZWNvcmRDdGltZVpSb3V0aW5nS2V5XxASUHJvdGVjdGlvbkRhdGFFdGFnXkV4
	cGlyYXRpb25EYXRlXxAZTWVyZ2VhYmxlVmFsdWVEZWx0YVJlY29yZF8QGk5lZWRzUm9s
	bEFuZENvdW50ZXJTaWduS2V5XxAmUHJldmlvdXNQcm90ZWN0aW9uRGF0YUV0YWdGcm9t
	VW5pdFRlc3RfEBJDb25mbGljdExvc2VyRXRhZ3NfEBpQcmV2aW91c1Byb3RlY3Rpb25E
	YXRhRXRhZ18QFEhhc1VwZGF0ZWRFeHBpcmF0aW9uWlJlY29yZFR5cGVfEBNDcmVhdG9y
	VXNlclJlY29yZElEXxAPUGFyZW50UmVmZXJlbmNlWVNoYXJlRXRhZ1hQQ1NLZXlJRFxa
	b25laXNoS2V5SURfECBNdXRhYmxlRW5jcnlwdGVkUHVibGljU2hhcmluZ0tleVRFVGFn
	XxAWUHJldmlvdXNTaGFyZVJlZmVyZW5jZV8QEE1vZGlmaWVkQnlEZXZpY2VeUHJvdGVj
	dGlvbkRhdGFfEBFVc2VMaWdodHdlaWdodFBDU15TaGFyZVJlZmVyZW5jZV8QEVVwZGF0
	ZWRFeHBpcmF0aW9uU1VSTF8QFkNoYWluUGFyZW50UHVibGljS2V5SURXRXhwaXJlZF8Q
	GExhc3RNb2RpZmllZFVzZXJSZWNvcmRJRFtSZWNvcmRNdGltZV8QFVdhbnRzUHVibGlj
	U2hhcmluZ0tleV8QE0VuY3J5cHRlZFZhbHVlU3RvcmVaVmFsdWVTdG9yZVxQbHVnaW5G
	aWVsZHNfEBZab25lUHJvdGVjdGlvbkRhdGFFdGFnWVdhc0NhY2hlZF8QD0NoYWluUHJp
	dmF0ZUtleVpQZXJtaXNzaW9uWFJlY29yZElEXEFsbFBDU0tleUlEc18QGEhhc1VwZGF0
	ZWRTaGFyZVJlZmVyZW5jZV8QF1ByZXZpb3VzUGFyZW50UmVmZXJlbmNlgAAIgAAJgACA
	AAiACYAAgACAAAgIgACAAIAACIABgAyAAIAAgACAAIAAgBSAAIATgAAIgACAAIAAgAAI
	gBGACwiAIIAVgACAAAiAABABgAKAAAiAAK8QJWlqa3JzfX5/hYiMj5KWl5ydnqKjpKWt
	t7i5uru/w8bKztPX295VJG51bGxeTWlncmF0aW9uU3RhdGXTbG1ub3BxViRjbGFzc1pS
	ZWNvcmROYW1lVlpvbmVJRIAIgAOABF5NaWdyYXRpb25TdGF0ZdV0dXZ3bHg4ent8XxAQ
	ZGF0YWJhc2VTY29wZUtleV8QEWFub255bW91c0NLVXNlcklEWW93bmVyTmFtZVhab25l
	TmFtZRAAgACABoAFgAdZQm9va21hcmtzXxAQX19kZWZhdWx0T3duZXJfX9KAgYKDWiRj
	bGFzc25hbWVYJGNsYXNzZXNeQ0tSZWNvcmRab25lSUSigoRYTlNPYmplY3TSgIGGh1pD
	S1JlY29yZElEooaE0olsiotXTlMudGltZSNBxd4rVFItDoAK0oCBjY5WTlNEYXRloo2E
	0olskIsjQcXeK1T0OViACtNsbW5vlJWACIANgA5fEBBfX2RlZmF1bHRPd25lcl9f1XR1
	dndseDiZmnyAAIAQgA+AB1xfZGVmYXVsdFpvbmVfEBBfX2RlZmF1bHRPd25lcl9f02xt
	bm+glYAIgBKADl8QEF9fZGVmYXVsdE93bmVyX19vEBUAUAByAGEAawBoAGEAciAZAHMA
	IABNAGEAYwBCAG8AbwBrACAAUAByAG9RNdSmp6hsqaqrrFtDaGFuZ2VkS2V5c15Pcmln
	aW5hbFZhbHVlc1xSZWNvcmRWYWx1ZXOAHYAcgBaAH9Our2yws7ZXTlMua2V5c1pOUy5v
	YmplY3RzorGygBeAGKK0tYAZgBqAG15NaWdyYXRpb25TdGF0ZV8QGE1pZ3JhdG9yRGV2
	aWNlSWRlbnRpZmllchACXxBANDAxNzU4OUQ3M0MwODYzMUMyNkNGQ0QwQUQ0REUyQTZE
	MjNBOUUwOUI1ODBEQ0U1REI5MDM5NTg4M0JERTQzQ9KAgby9XxATTlNNdXRhYmxlRGlj
	dGlvbmFyeaO8voRcTlNEaWN0aW9uYXJ5066vbMDBtqCggBvSr2zExaCAHtKAgcfIXE5T
	TXV0YWJsZVNldKPHyYRVTlNTZXTSgIHLzF8QEkNLUmVjb3JkVmFsdWVTdG9yZaLNhF8Q
	EkNLUmVjb3JkVmFsdWVTdG9yZdSmp6hsz9DR0oAjgCKAIYAk066vbNTVtqCggBvTrq9s
	2Nm2oKCAG9KvbNzFoIAe0oCB3+BfEBtDS0VuY3J5cHRlZFJlY29yZFZhbHVlU3RvcmWj
	4eKEXxAbQ0tFbmNyeXB0ZWRSZWNvcmRWYWx1ZVN0b3JlXxASQ0tSZWNvcmRWYWx1ZVN0
	b3JlAAgAEQAaACQAKQAyADcASQCsAMUA4QD3AQUBGQEjATYBQgFNAWIBcQGNAaoB0wHo
	AgUCHAInAj0CTwJZAmICbwKSApcCsALDAtIC5gL1AwkDDQMmAy4DSQNVA20DgwOOA5sD
	tAO+A9AD2wPkA/EEDAQmBCgEKQQrBCwELgQwBDEEMwQ1BDcEOQQ6BDsEPQQ/BEEEQgRE
	BEYESARKBEwETgRQBFIEVARWBFgEWQRbBF0EXwRhBGIEZARmBGcEaQRrBG0EbwRwBHIE
	dAR2BHgEeQR7BKMEqQS4BL8ExgTRBNgE2gTcBN4E7QT4BQsFHwUpBTIFNAU2BTgFOgU8
	BUYFWQVeBWkFcgWBBYQFjQWSBZ0FoAWlBa0FtgW4Bb0FxAXHBcwF1QXXBd4F4AXiBeQF
	9wYCBgQGBgYIBgoGFwYqBjEGMwY1BjcGSgZ3BnkGggaOBp0GqgasBq4GsAayBrkGwQbM
	Bs8G0QbTBtYG2AbaBtwG6wcGBwgHSwdQB2YHagd3B34HfweAB4IHhweIB4oHjwecB6AH
	pgerB8AHwwfYB+EH4wflB+cH6QfwB/EH8gf0B/sH/Af9B/8IBAgFCAcIDAgqCC4ITAAA
	AAAAAAIBAAAAAAAAAOMAAAAAAAAAAAAAAAAAAAhh
	</data>
	<key>NewestLaunchedSafariBookmarksSyncAgentVersion</key>
	<string>624.1.16.11.4</string>
	<key>TabGroupMigrationStateEncodedRecordData</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGB2hYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlct8QMAgJCgsMDQ4PEBESExQVFhcYGRobHB0eHyAh
	IiMkJSYnKCkqKywtLi8wMTIzNDU2Nzg5ODs4ODk/ODg4OTk4ODg5SUo4ODg4OFA4Ujg5
	ODg4ODlaPzldXjg4OThjZDg5OF8QFlRvbWJzdG9uZWRQdWJsaWNLZXlJRHNfEBlIYXNV
	cGRhdGVkUGFyZW50UmVmZXJlbmNlXxATQ2hhaW5Qcm90ZWN0aW9uRGF0YV1Lbm93blRv
	U2VydmVyXxARRGlzcGxheWVkSG9zdG5hbWVZQmFzZVRva2VuXxAQV2FudHNDaGFpblBD
	U0tleVtSZWNvcmRDdGltZVpSb3V0aW5nS2V5XxASUHJvdGVjdGlvbkRhdGFFdGFnXkV4
	cGlyYXRpb25EYXRlXxAZTWVyZ2VhYmxlVmFsdWVEZWx0YVJlY29yZF8QGk5lZWRzUm9s
	bEFuZENvdW50ZXJTaWduS2V5XxAmUHJldmlvdXNQcm90ZWN0aW9uRGF0YUV0YWdGcm9t
	VW5pdFRlc3RfEBJDb25mbGljdExvc2VyRXRhZ3NfEBpQcmV2aW91c1Byb3RlY3Rpb25E
	YXRhRXRhZ18QFEhhc1VwZGF0ZWRFeHBpcmF0aW9uWlJlY29yZFR5cGVfEBNDcmVhdG9y
	VXNlclJlY29yZElEXxAPUGFyZW50UmVmZXJlbmNlWVNoYXJlRXRhZ1hQQ1NLZXlJRFxa
	b25laXNoS2V5SURfECBNdXRhYmxlRW5jcnlwdGVkUHVibGljU2hhcmluZ0tleVRFVGFn
	XxAWUHJldmlvdXNTaGFyZVJlZmVyZW5jZV8QEE1vZGlmaWVkQnlEZXZpY2VeUHJvdGVj
	dGlvbkRhdGFfEBFVc2VMaWdodHdlaWdodFBDU15TaGFyZVJlZmVyZW5jZV8QEVVwZGF0
	ZWRFeHBpcmF0aW9uU1VSTF8QFkNoYWluUGFyZW50UHVibGljS2V5SURXRXhwaXJlZF8Q
	GExhc3RNb2RpZmllZFVzZXJSZWNvcmRJRFtSZWNvcmRNdGltZV8QFVdhbnRzUHVibGlj
	U2hhcmluZ0tleV8QE0VuY3J5cHRlZFZhbHVlU3RvcmVaVmFsdWVTdG9yZVxQbHVnaW5G
	aWVsZHNfEBZab25lUHJvdGVjdGlvbkRhdGFFdGFnWVdhc0NhY2hlZF8QD0NoYWluUHJp
	dmF0ZUtleVpQZXJtaXNzaW9uWFJlY29yZElEXEFsbFBDU0tleUlEc18QGEhhc1VwZGF0
	ZWRTaGFyZVJlZmVyZW5jZV8QF1ByZXZpb3VzUGFyZW50UmVmZXJlbmNlgAAIgAAJgACA
	AAiACYAAgACAAAgIgACAAIAACIABgAuAAIAAgACAAIAAgBOAAIASgAAIgACAAIAAgAAI
	gBCACQiAH4AUgACAAAiAABABgAKAAAiAAK8QJGlqa3JzfX5/hYiMj5OUmZqbn6Choqq0
	tba3uLzAw8fL0NTY21UkbnVsbF5NaWdyYXRpb25TdGF0ZdNsbW5vcHFWJGNsYXNzWlJl
	Y29yZE5hbWVWWm9uZUlEgAiAA4AEXk1pZ3JhdGlvblN0YXRl1XR1dndseDh6e3xfEBBk
	YXRhYmFzZVNjb3BlS2V5XxARYW5vbnltb3VzQ0tVc2VySURZb3duZXJOYW1lWFpvbmVO
	YW1lEACAAIAGgAWAB1lUYWJHcm91cHNfEBBfX2RlZmF1bHRPd25lcl9f0oCBgoNaJGNs
	YXNzbmFtZVgkY2xhc3Nlc15DS1JlY29yZFpvbmVJRKKChFhOU09iamVjdNKAgYaHWkNL
	UmVjb3JkSUSihoTSiWyKi1dOUy50aW1lI0HFqpVsn753gArSgIGNjlZOU0RhdGWijYTT
	bG1ub5GSgAiADIANXxAQX19kZWZhdWx0T3duZXJfX9V0dXZ3bHg4lpd8gACAD4AOgAdc
	X2RlZmF1bHRab25lXxAQX19kZWZhdWx0T3duZXJfX9NsbW5vnZKACIARgA1fEBBfX2Rl
	ZmF1bHRPd25lcl9fbxAVAFAAcgBhAGsAaABhAHIgGQBzACAATQBhAGMAQgBvAG8AawAg
	AFAAcgBvWGxyZW95aXpm1KOkpWymp6ipW0NoYW5nZWRLZXlzXk9yaWdpbmFsVmFsdWVz
	XFJlY29yZFZhbHVlc4AcgBuAFYAe06usbK2ws1dOUy5rZXlzWk5TLm9iamVjdHOirq+A
	FoAXorGygBiAGYAaXk1pZ3JhdGlvblN0YXRlXxAYTWlncmF0b3JEZXZpY2VJZGVudGlm
	aWVyEAJfECREQUVDQzJEMi1FNDk5LTQxMDAtQkI0OC1BN0EyMjkyN0Y1RjDSgIG5ul8Q
	E05TTXV0YWJsZURpY3Rpb25hcnmjubuEXE5TRGljdGlvbmFyedOrrGy9vrOgoIAa0qxs
	wcKggB3SgIHExVxOU011dGFibGVTZXSjxMaEVU5TU2V00oCByMlfEBJDS1JlY29yZFZh
	bHVlU3RvcmWiyoRfEBJDS1JlY29yZFZhbHVlU3RvcmXUo6SlbMzNzs+AIoAhgCCAI9Or
	rGzR0rOgoIAa06usbNXWs6CggBrSrGzZwqCAHdKAgdzdXxAbQ0tFbmNyeXB0ZWRSZWNv
	cmRWYWx1ZVN0b3Jlo97fhF8QG0NLRW5jcnlwdGVkUmVjb3JkVmFsdWVTdG9yZV8QEkNL
	UmVjb3JkVmFsdWVTdG9yZQAIABEAGgAkACkAMgA3AEkArADFAOEA9wEFARkBIwE2AUIB
	TQFiAXEBjQGqAdMB6AIFAhwCJwI9Ak8CWQJiAm8CkgKXArACwwLSAuYC9QMJAw0DJgMu
	A0kDVQNtA4MDjgObA7QDvgPQA9sD5APxBAwEJgQoBCkEKwQsBC4EMAQxBDMENQQ3BDkE
	OgQ7BD0EPwRBBEIERARGBEgESgRMBE4EUARSBFQEVgRYBFkEWwRdBF8EYQRiBGQEZgRn
	BGkEawRtBG8EcARyBHQEdgR4BHkEewSiBKgEtwS+BMUE0ATXBNkE2wTdBOwE9wUKBR4F
	KAUxBTMFNQU3BTkFOwVFBVgFXQVoBXEFgAWDBYwFkQWcBZ8FpAWsBbUFtwW8BcMFxgXN
	Bc8F0QXTBeYF8QXzBfUF9wX5BgYGGQYgBiIGJAYmBjkGZgZvBngGhAaTBqAGogakBqYG
	qAavBrcGwgbFBscGyQbMBs4G0AbSBuEG/Ab+ByUHKgdAB0QHUQdYB1kHWgdcB2EHYgdk
	B2kHdgd6B4AHhQeaB50Hsge7B70HvwfBB8MHygfLB8wHzgfVB9YH1wfZB94H3wfhB+YI
	BAgICCYAAAAAAAACAQAAAAAAAADgAAAAAAAAAAAAAAAAAAAIOw==
	</data>
</dict>
</plist>
