<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>__kCMFBlockListStoreTopLevelKey</key>
	<dict>
		<key>__kCMFBlockListStoreArrayKey</key>
		<array>
			<dict>
				<key>__kCMFItemPhoneNumberCountryCodeKey</key>
				<string>in</string>
				<key>__kCMFItemPhoneNumberUnformattedKey</key>
				<string>+918068045303</string>
				<key>__kCMFItemTypeKey</key>
				<integer>0</integer>
				<key>__kCMFItemVersionKey</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>__kCMFItemPhoneNumberCountryCodeKey</key>
				<string>in</string>
				<key>__kCMFItemPhoneNumberUnformattedKey</key>
				<string>+918062136512</string>
				<key>__kCMFItemTypeKey</key>
				<integer>0</integer>
				<key>__kCMFItemVersionKey</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>__kCMFItemPhoneNumberCountryCodeKey</key>
				<string>in</string>
				<key>__kCMFItemPhoneNumberUnformattedKey</key>
				<string>+919737458613</string>
				<key>__kCMFItemTypeKey</key>
				<integer>0</integer>
				<key>__kCMFItemVersionKey</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>__kCMFItemPhoneNumberCountryCodeKey</key>
				<string>in</string>
				<key>__kCMFItemPhoneNumberUnformattedKey</key>
				<string>+919675458300</string>
				<key>__kCMFItemTypeKey</key>
				<integer>0</integer>
				<key>__kCMFItemVersionKey</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>__kCMFItemPhoneNumberCountryCodeKey</key>
				<string>in</string>
				<key>__kCMFItemPhoneNumberUnformattedKey</key>
				<string>+918445182883</string>
				<key>__kCMFItemTypeKey</key>
				<integer>0</integer>
				<key>__kCMFItemVersionKey</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>__kCMFItemPhoneNumberCountryCodeKey</key>
				<string>in</string>
				<key>__kCMFItemPhoneNumberUnformattedKey</key>
				<string>+918279805551</string>
				<key>__kCMFItemTypeKey</key>
				<integer>0</integer>
				<key>__kCMFItemVersionKey</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>__kCMFItemPhoneNumberCountryCodeKey</key>
				<string>in</string>
				<key>__kCMFItemPhoneNumberUnformattedKey</key>
				<string>+919870455570</string>
				<key>__kCMFItemTypeKey</key>
				<integer>0</integer>
				<key>__kCMFItemVersionKey</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>__kCMFItemPhoneNumberCountryCodeKey</key>
				<string>in</string>
				<key>__kCMFItemPhoneNumberUnformattedKey</key>
				<string>+917310992779</string>
				<key>__kCMFItemTypeKey</key>
				<integer>0</integer>
				<key>__kCMFItemVersionKey</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>__kCMFItemPhoneNumberCountryCodeKey</key>
				<string>in</string>
				<key>__kCMFItemPhoneNumberUnformattedKey</key>
				<string>+918035018384</string>
				<key>__kCMFItemTypeKey</key>
				<integer>0</integer>
				<key>__kCMFItemVersionKey</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>__kCMFItemPhoneNumberCountryCodeKey</key>
				<string>in</string>
				<key>__kCMFItemPhoneNumberUnformattedKey</key>
				<string>+919327539293</string>
				<key>__kCMFItemTypeKey</key>
				<integer>0</integer>
				<key>__kCMFItemVersionKey</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>__kCMFItemPhoneNumberCountryCodeKey</key>
				<string>in</string>
				<key>__kCMFItemPhoneNumberUnformattedKey</key>
				<string>+917533830110</string>
				<key>__kCMFItemTypeKey</key>
				<integer>0</integer>
				<key>__kCMFItemVersionKey</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>__kCMFItemPhoneNumberCountryCodeKey</key>
				<string>in</string>
				<key>__kCMFItemPhoneNumberUnformattedKey</key>
				<string>+917553105197</string>
				<key>__kCMFItemTypeKey</key>
				<integer>0</integer>
				<key>__kCMFItemVersionKey</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>__kCMFItemPhoneNumberCountryCodeKey</key>
				<string>in</string>
				<key>__kCMFItemPhoneNumberUnformattedKey</key>
				<string>+919760630032</string>
				<key>__kCMFItemTypeKey</key>
				<integer>0</integer>
				<key>__kCMFItemVersionKey</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>__kCMFItemPhoneNumberCountryCodeKey</key>
				<string>in</string>
				<key>__kCMFItemPhoneNumberUnformattedKey</key>
				<string>+917830406853</string>
				<key>__kCMFItemTypeKey</key>
				<integer>0</integer>
				<key>__kCMFItemVersionKey</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>__kCMFItemPhoneNumberCountryCodeKey</key>
				<string>in</string>
				<key>__kCMFItemPhoneNumberUnformattedKey</key>
				<string>+919220790980</string>
				<key>__kCMFItemTypeKey</key>
				<integer>0</integer>
				<key>__kCMFItemVersionKey</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>__kCMFItemPhoneNumberCountryCodeKey</key>
				<string>in</string>
				<key>__kCMFItemPhoneNumberUnformattedKey</key>
				<string>+918125953864</string>
				<key>__kCMFItemTypeKey</key>
				<integer>0</integer>
				<key>__kCMFItemVersionKey</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>__kCMFItemPhoneNumberCountryCodeKey</key>
				<string>in</string>
				<key>__kCMFItemPhoneNumberUnformattedKey</key>
				<string>+917869579081</string>
				<key>__kCMFItemTypeKey</key>
				<integer>0</integer>
				<key>__kCMFItemVersionKey</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>__kCMFItemPhoneNumberCountryCodeKey</key>
				<string>in</string>
				<key>__kCMFItemPhoneNumberUnformattedKey</key>
				<string>+919054394362</string>
				<key>__kCMFItemTypeKey</key>
				<integer>0</integer>
				<key>__kCMFItemVersionKey</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>__kCMFItemPhoneNumberCountryCodeKey</key>
				<string>in</string>
				<key>__kCMFItemPhoneNumberUnformattedKey</key>
				<string>+919897714403</string>
				<key>__kCMFItemTypeKey</key>
				<integer>0</integer>
				<key>__kCMFItemVersionKey</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>__kCMFItemPhoneNumberCountryCodeKey</key>
				<string>in</string>
				<key>__kCMFItemPhoneNumberUnformattedKey</key>
				<string>+918266856575</string>
				<key>__kCMFItemTypeKey</key>
				<integer>0</integer>
				<key>__kCMFItemVersionKey</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>__kCMFItemPhoneNumberCountryCodeKey</key>
				<string>in</string>
				<key>__kCMFItemPhoneNumberUnformattedKey</key>
				<string>+918976968981</string>
				<key>__kCMFItemTypeKey</key>
				<integer>0</integer>
				<key>__kCMFItemVersionKey</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>__kCMFItemPhoneNumberCountryCodeKey</key>
				<string>in</string>
				<key>__kCMFItemPhoneNumberUnformattedKey</key>
				<string>+919591257061</string>
				<key>__kCMFItemTypeKey</key>
				<integer>0</integer>
				<key>__kCMFItemVersionKey</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>__kCMFItemPhoneNumberCountryCodeKey</key>
				<string>in</string>
				<key>__kCMFItemPhoneNumberUnformattedKey</key>
				<string>+916366740248</string>
				<key>__kCMFItemTypeKey</key>
				<integer>0</integer>
				<key>__kCMFItemVersionKey</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>__kCMFItemPhoneNumberCountryCodeKey</key>
				<string>in</string>
				<key>__kCMFItemPhoneNumberUnformattedKey</key>
				<string>+917986713581</string>
				<key>__kCMFItemTypeKey</key>
				<integer>0</integer>
				<key>__kCMFItemVersionKey</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>__kCMFItemPhoneNumberCountryCodeKey</key>
				<string>in</string>
				<key>__kCMFItemPhoneNumberUnformattedKey</key>
				<string>+916366997029</string>
				<key>__kCMFItemTypeKey</key>
				<integer>0</integer>
				<key>__kCMFItemVersionKey</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>__kCMFItemPhoneNumberCountryCodeKey</key>
				<string>in</string>
				<key>__kCMFItemPhoneNumberUnformattedKey</key>
				<string>+916366997044</string>
				<key>__kCMFItemTypeKey</key>
				<integer>0</integer>
				<key>__kCMFItemVersionKey</key>
				<integer>1</integer>
			</dict>
		</array>
		<key>__kCMFBlockListStoreRevisionKey</key>
		<integer>28</integer>
		<key>__kCMFBlockListStoreRevisionTimestampKey</key>
		<date>2026-01-21T07:35:36Z</date>
		<key>__kCMFBlockListStoreTypeKey</key>
		<string>__kCMFBlockListStoreTypeValue</string>
		<key>__kCMFBlockListStoreVersionKey</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
