<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CKPerBootTasks</key>
	<array>
		<string>CKAccountInfoCacheReset</string>
	</array>
	<key>CKStartupTime</key>
	<integer>1776437273</integer>
	<key>CloudKitAccountInfoCache</key>
	<dict>
		<key>630d2d6eba554a3b6ac6104b996d2c79b97d3dc295943c886fbd17e21d039e13</key>
		<data>
		YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9i
		amVjdHMSAAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGkCwwhIlUk
		bnVsbNsNDg8QERITFBUWFxgZGhsYHBoeGB8gXxAaQWNjb3VudEFjY2Vzc0F1
		dGhvcml6YXRpb25cV2FscnVzU3RhdHVzXxATQnlwYXNzUENTRW5jcnlwdGlv
		bl8QE0hhc1ZhbGlkQ3JlZGVudGlhbHNfEBBBY2NvdW50UGFydGl0aW9uXxAk
		RGV2aWNlVG9EZXZpY2VFbmNyeXB0aW9uQXZhaWxhYmlsaXR5XxASTmVlZHNU
		b1ZlcmlmeVRlcm1zViRjbGFzc11BY2NvdW50U3RhdHVzWklkZW50aWZpZXJf
		EBxBY2NvdW50SW5mb1ZhbGlkYXRpb25Db3VudGVyEAEQAggJEAMIgAOAAhBo
		XxAsWEd4aC9VdHhKYVlEdVBEZmlLWklxQWgrc1FnWHFlZnBxRzA0MUdKSGht
		ND3SIyQlJlokY2xhc3NuYW1lWCRjbGFzc2VzXUNLQWNjb3VudEluZm+iJSdY
		TlNPYmplY3QACAARABoAJAApADIANwBJAEwAUQBTAFgAXgB1AJIAnwC1AMsA
		3gEFARoBIQEvAToBWQFbAV0BXgFfAWEBYgFkAWYBaAGXAZwBpwGwAb4BwQAA
		AAAAAAIBAAAAAAAAACgAAAAAAAAAAAAAAAAAAAHK
		</data>
	</dict>
	<key>ScreenTimeSyncDisabled</key>
	<false/>
	<key>_DKThrottledActivityLast_DKKnowledgeStorageLogging_DKKnowledgeStorageDidInsertEventsNotification:/app/intentsActivityDate</key>
	<date>2026-04-19T08:29:54Z</date>
	<key>_DKThrottledActivityLast_DKKnowledgeStorageLogging_DKKnowledgeStorageDidInsertEventsNotification:/app/mediaUsageActivityDate</key>
	<date>2026-04-19T09:08:46Z</date>
	<key>_DKThrottledActivityLast_DKKnowledgeStorageLogging_DKKnowledgeStorageDidInsertEventsNotification:/app/webUsageActivityDate</key>
	<date>2026-04-19T09:20:05Z</date>
	<key>_DKThrottledActivityLast_DKKnowledgeStorageLogging_DKKnowledgeStorageDidInsertEventsNotification:/notification/usageActivityDate</key>
	<date>2026-04-19T09:17:13Z</date>
	<key>_DKThrottledActivityLast_DKKnowledgeStorageLogging_DKKnowledgeStorageDidInsertLocalEventsNotification:/app/mediaUsageActivityDate</key>
	<date>2026-04-19T09:08:46Z</date>
	<key>_DKThrottledActivityLast_DKKnowledgeStorageLogging_DKKnowledgeStorageDidInsertLocalEventsNotification:/app/webUsageActivityDate</key>
	<date>2026-04-19T09:20:05Z</date>
	<key>_DKThrottledActivityLast_DKKnowledgeStorageLogging_DKKnowledgeStorageDidInsertLocalEventsNotification:/notification/usageActivityDate</key>
	<date>2026-04-19T09:17:13Z</date>
	<key>_DKThrottledActivityLast_DKKnowledgeStorageLogging_DKKnowledgeStorageDidTombstoneEventsNotification:/app/mediaUsageActivityDate</key>
	<date>2026-04-18T04:45:37Z</date>
	<key>_DKThrottledActivityLast_DKKnowledgeStorageLogging_DKKnowledgeStorageDidTombstoneEventsNotification:/app/webUsageActivityDate</key>
	<date>2026-04-19T07:43:26Z</date>
	<key>_DKThrottledActivityLasthandshake:rapport:1899BFFE-6149-4BE0-A15B-E2D024330B4BActivityDate</key>
	<date>2026-04-17T15:00:14Z</date>
	<key>kCDIntentDeletionContactStoreChangeHistoryToken</key>
	<data>
	YnBsaXN0MDDUAQIDBAUGBwxYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
	AAGGoF8QD05TS2V5ZWRBcmNoaXZlctIICQoLWF92ZXJzaW9uVl90b2tlbhACgAGpDQ4T
	HR4fICEoVSRudWxs0g8QERJWJGNsYXNzXxAiTlNQZXJzaXN0ZW50SGlzdG9yeVRva2Vu
	RGljdGlvbmFyeYAIgALTFBUPFhkcV05TLmtleXNaTlMub2JqZWN0c6IXGIADgASiGhuA
	BYAGgAdfECRFNDIxOTIwNC0yMTZDLTQyNUEtQTlBNi1BMDA3RkQzRTFEOEZfECQ4NjZC
	QzU2My0wNjc5LTQwMDAtQTU0QS0xRUE0OEIzQjY2NzEQBRBB0iIjJCVaJGNsYXNzbmFt
	ZVgkY2xhc3Nlc18QE05TTXV0YWJsZURpY3Rpb25hcnmjJCYnXE5TRGljdGlvbmFyeVhO
	U09iamVjdNIiIykqXxAZX05TUGVyc2lzdGVudEhpc3RvcnlUb2tlbqMrLCdfEBlfTlNQ
	ZXJzaXN0ZW50SGlzdG9yeVRva2VuXxAYTlNQZXJzaXN0ZW50SGlzdG9yeVRva2VuAAgA
	EQAaACQAKQAyADcASQBOAFcAXgBgAGIAbAByAHcAfgCjAKUApwCuALYAwQDEAMYAyADL
	AM0AzwDRAPgBHwEhASMBKAEzATwBUgFWAWMBbAFxAY0BkQGtAAAAAAAAAgEAAAAAAAAA
	LQAAAAAAAAAAAAAAAAAAAcg=
	</data>
	<key>kCDIntentDeletionPendingDeletesQueued</key>
	<false/>
</dict>
</plist>
