<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CreationGenmoji</key>
	<string>IADataStoreDaterange</string>
	<key>CreationGenmoji_bitfield</key>
	<integer>0</integer>
	<key>CreationGenmoji_lastModified</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>CreationGenmoji_originDate</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>CreationGenmoji_startDate</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>CreationGenmoji_version</key>
	<integer>1</integer>
	<key>CreationImagePlayground</key>
	<string>IADataStoreDaterange</string>
	<key>CreationImagePlayground_bitfield</key>
	<integer>0</integer>
	<key>CreationImagePlayground_lastModified</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>CreationImagePlayground_originDate</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>CreationImagePlayground_startDate</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>CreationImagePlayground_version</key>
	<integer>1</integer>
	<key>CreationImageWand</key>
	<string>IADataStoreDaterange</string>
	<key>CreationImageWand_bitfield</key>
	<integer>0</integer>
	<key>CreationImageWand_lastModified</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>CreationImageWand_originDate</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>CreationImageWand_startDate</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>CreationImageWand_version</key>
	<integer>1</integer>
	<key>CreationThirdParty</key>
	<string>IADataStoreDaterange</string>
	<key>CreationThirdParty_bitfield</key>
	<integer>0</integer>
	<key>CreationThirdParty_lastModified</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>CreationThirdParty_originDate</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>CreationThirdParty_startDate</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>CreationThirdParty_version</key>
	<integer>1</integer>
	<key>CreationUIGenmoji</key>
	<string>IADataStoreDaterange</string>
	<key>CreationUIGenmoji_bitfield</key>
	<integer>0</integer>
	<key>CreationUIGenmoji_lastModified</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>CreationUIGenmoji_originDate</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>CreationUIGenmoji_startDate</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>CreationUIGenmoji_version</key>
	<integer>1</integer>
	<key>CreationUIImagePlayground</key>
	<string>IADataStoreDaterange</string>
	<key>CreationUIImagePlayground_bitfield</key>
	<integer>0</integer>
	<key>CreationUIImagePlayground_lastModified</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>CreationUIImagePlayground_originDate</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>CreationUIImagePlayground_startDate</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>CreationUIImagePlayground_version</key>
	<integer>1</integer>
	<key>CreationUIImageWand</key>
	<string>IADataStoreDaterange</string>
	<key>CreationUIImageWand_bitfield</key>
	<integer>0</integer>
	<key>CreationUIImageWand_lastModified</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>CreationUIImageWand_originDate</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>CreationUIImageWand_startDate</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>CreationUIImageWand_version</key>
	<integer>1</integer>
	<key>CreationUIThirdParty</key>
	<string>IADataStoreDaterange</string>
	<key>CreationUIThirdParty_bitfield</key>
	<integer>0</integer>
	<key>CreationUIThirdParty_lastModified</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>CreationUIThirdParty_originDate</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>CreationUIThirdParty_startDate</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>CreationUIThirdParty_version</key>
	<integer>1</integer>
	<key>UsageGenmoji</key>
	<string>IADataStoreDaterange</string>
	<key>UsageGenmoji_bitfield</key>
	<integer>0</integer>
	<key>UsageGenmoji_lastModified</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>UsageGenmoji_originDate</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>UsageGenmoji_startDate</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>UsageGenmoji_version</key>
	<integer>1</integer>
	<key>UsageImagePlayground</key>
	<string>IADataStoreDaterange</string>
	<key>UsageImagePlayground_bitfield</key>
	<integer>0</integer>
	<key>UsageImagePlayground_lastModified</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>UsageImagePlayground_originDate</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>UsageImagePlayground_startDate</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>UsageImagePlayground_version</key>
	<integer>1</integer>
	<key>UsageImageWand</key>
	<string>IADataStoreDaterange</string>
	<key>UsageImageWand_bitfield</key>
	<integer>0</integer>
	<key>UsageImageWand_lastModified</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>UsageImageWand_originDate</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>UsageImageWand_startDate</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>UsageImageWand_version</key>
	<integer>1</integer>
	<key>UsageThirdParty</key>
	<string>IADataStoreDaterange</string>
	<key>UsageThirdParty_bitfield</key>
	<integer>0</integer>
	<key>UsageThirdParty_lastModified</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>UsageThirdParty_originDate</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>UsageThirdParty_startDate</key>
	<date>2026-04-18T14:00:39Z</date>
	<key>UsageThirdParty_version</key>
	<integer>1</integer>
</dict>
</plist>
