<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSWindow Frame SwiftUI.ModifiedContent&lt;SwiftUI.ModifiedContent&lt;SwiftUI.ModifiedContent&lt;SwiftUI.ModifiedContent&lt;SwiftUI.ModifiedContent&lt;SwiftUI.ModifiedContent&lt;SwiftUI.ModifiedContent&lt;SwiftUI.ModifiedContent&lt;Nook.ContentView, SwiftUI._BackgroundModifier&lt;Nook.BackgroundWindowModifier&gt;&gt;, SwiftUI._SafeAreaRegionsIgnoringLayout&gt;, SwiftUI._EnvironmentKeyWritingModifier&lt;Swift.Optional&lt;Nook.BrowserManager&gt;&gt;&gt;, SwiftUI._EnvironmentKeyWritingModifier&lt;Swift.Optional&lt;Nook.WindowRegistry&gt;&gt;&gt;, SwiftUI._EnvironmentKeyWritingModifier&lt;Swift.Optional&lt;Nook.WebViewCoordinator&gt;&gt;&gt;, SwiftUI._EnvironmentKeyWritingModifier&lt;Nook.NookSettingsService&gt;&gt;, SwiftUI._EnvironmentKeyWritingModifier&lt;Swift.Optional&lt;Nook.KeyboardShortcutManager&gt;&gt;&gt;, SwiftUI._AppearanceActionModifier&gt;-1-AppWindow-1</key>
	<string>76 565 1724 565 0 0 1800 1130 </string>
	<key>NSWindow Frame com_apple_SwiftUI_Settings_window</key>
	<string>383 152 900 708 0 0 1800 1130 </string>
	<key>Nook.WKWebExtensionController.Identifier</key>
	<string>26804AB1-17F3-42B0-BF2A-6F5CC38AC924</string>
	<key>com.apple.WebPrivacy.ResourceMonitorURLsVersion</key>
	<string>qrsAAAGXnXBrwGxMO6s=</string>
	<key>keyboard.shortcuts</key>
	<data>
	W3siaXNDdXN0b21pemFibGUiOnRydWUsImlzRW5hYmxlZCI6dHJ1ZSwia2V5Q29tYmlu
	YXRpb24iOnsibW9kaWZpZXJzIjoxLCJrZXkiOiJbIn0sImlkIjoiQkFCRjA3QTYtNzg1
	My00MDM2LUEwNDUtNjRBQjg1MEU4QUI0IiwiYWN0aW9uIjoiZ29fYmFjayJ9LHsiaXND
	dXN0b21pemFibGUiOnRydWUsImlzRW5hYmxlZCI6dHJ1ZSwia2V5Q29tYmluYXRpb24i
	Onsia2V5IjoiXSIsIm1vZGlmaWVycyI6MX0sImlkIjoiOThERERDRDItQ0Y4QS00OUY1
	LTlERjMtNTUwMENBQkNFQ0IzIiwiYWN0aW9uIjoiZ29fZm9yd2FyZCJ9LHsiaXNDdXN0
	b21pemFibGUiOnRydWUsImlzRW5hYmxlZCI6dHJ1ZSwia2V5Q29tYmluYXRpb24iOnsi
	a2V5IjoiciIsIm1vZGlmaWVycyI6MX0sImlkIjoiMjlEMDdBRUUtQTBBRC00QkY5LUI3
	RTItNDNGOTkxMkVFOEM5IiwiYWN0aW9uIjoicmVmcmVzaCJ9LHsiaXNDdXN0b21pemFi
	bGUiOnRydWUsImlzRW5hYmxlZCI6dHJ1ZSwia2V5Q29tYmluYXRpb24iOnsibW9kaWZp
	ZXJzIjoxMSwia2V5IjoiciJ9LCJpZCI6IjAwRDA4ODIyLUNDNzAtNEZFQy05QUQ0LTQy
	MEQyQTRDRTU1NiIsImFjdGlvbiI6ImNsZWFyX2Nvb2tpZXNfYW5kX3JlZnJlc2gifSx7
	ImlzQ3VzdG9taXphYmxlIjp0cnVlLCJpc0VuYWJsZWQiOnRydWUsImtleUNvbWJpbmF0
	aW9uIjp7ImtleSI6InQiLCJtb2RpZmllcnMiOjF9LCJpZCI6IkIzRTYzQkE0LUI0NjEt
	NERGQS05RUFGLTA0QkYwRUU2QjI5QiIsImFjdGlvbiI6Im5ld190YWIifSx7ImlzQ3Vz
	dG9taXphYmxlIjp0cnVlLCJpc0VuYWJsZWQiOnRydWUsImtleUNvbWJpbmF0aW9uIjp7
	Im1vZGlmaWVycyI6MSwia2V5IjoidyJ9LCJpZCI6IjE1RDFBQjM3LTFGQjYtNDRGRi04
	MTJBLTJFQzAzNTlFRjlDRCIsImFjdGlvbiI6ImNsb3NlX3RhYiJ9LHsiaXNDdXN0b21p
	emFibGUiOnRydWUsImlzRW5hYmxlZCI6dHJ1ZSwia2V5Q29tYmluYXRpb24iOnsibW9k
	aWZpZXJzIjoxLCJrZXkiOiJ6In0sImlkIjoiQkI3RDZDQzAtQzAzQy00REUwLTgwMzAt
	NzY1RTkxOURCOTM5IiwiYWN0aW9uIjoidW5kb19jbG9zZV90YWIifSx7ImlzQ3VzdG9t
	aXphYmxlIjp0cnVlLCJpc0VuYWJsZWQiOnRydWUsImtleUNvbWJpbmF0aW9uIjp7Imtl
	eSI6InRhYiIsIm1vZGlmaWVycyI6NH0sImlkIjoiQkU5RjUzRjMtOTM1Mi00QjZGLThE
	REQtNzFCQUI1MkRFOEI4IiwiYWN0aW9uIjoibmV4dF90YWIifSx7ImlkIjoiRkExOTI1
	N0MtRTJCMi00NURFLUJGMkYtNzhDNzZDRkVDOTg5IiwiYWN0aW9uIjoicHJldmlvdXNf
	dGFiIiwia2V5Q29tYmluYXRpb24iOnsibW9kaWZpZXJzIjoxMiwia2V5IjoidGFiIn0s
	ImlzRW5hYmxlZCI6dHJ1ZSwiaXNDdXN0b21pemFibGUiOnRydWV9LHsiaWQiOiJEN0Uz
	ODYyOS1BMDBELTQ3MUQtQjFCOC05OTJFRjJBN0ZGMEEiLCJhY3Rpb24iOiJnb190b190
	YWJfMSIsImtleUNvbWJpbmF0aW9uIjp7Im1vZGlmaWVycyI6MSwia2V5IjoiMSJ9LCJp
	c0VuYWJsZWQiOnRydWUsImlzQ3VzdG9taXphYmxlIjp0cnVlfSx7ImlkIjoiRTIwMTRG
	MTktRjkwMy00M0NGLUI2ODYtMzA5MzUyOTFFMjZBIiwiYWN0aW9uIjoiZ29fdG9fdGFi
	XzIiLCJrZXlDb21iaW5hdGlvbiI6eyJrZXkiOiIyIiwibW9kaWZpZXJzIjoxfSwiaXNF
	bmFibGVkIjp0cnVlLCJpc0N1c3RvbWl6YWJsZSI6dHJ1ZX0seyJpZCI6IjFDM0M5NTYx
	LUU2MzAtNDhCMC05NDU0LUIxQzRDQkFFRjI4MyIsImFjdGlvbiI6ImdvX3RvX3RhYl8z
	Iiwia2V5Q29tYmluYXRpb24iOnsia2V5IjoiMyIsIm1vZGlmaWVycyI6MX0sImlzRW5h
	YmxlZCI6dHJ1ZSwiaXNDdXN0b21pemFibGUiOnRydWV9LHsia2V5Q29tYmluYXRpb24i
	OnsibW9kaWZpZXJzIjoxLCJrZXkiOiI0In0sImlkIjoiMUFDMkY5MDEtOERCMS00NjQ4
	LUIyQzgtN0RBM0E1MEY0Nzk3IiwiYWN0aW9uIjoiZ29fdG9fdGFiXzQiLCJpc0VuYWJs
	ZWQiOnRydWUsImlzQ3VzdG9taXphYmxlIjp0cnVlfSx7ImtleUNvbWJpbmF0aW9uIjp7
	ImtleSI6IjUiLCJtb2RpZmllcnMiOjF9LCJpZCI6IkYwNEU3QzlCLUQwMzYtNDVGOS04
	NzEwLTk0NzQ3QjBCNTcyNCIsImFjdGlvbiI6ImdvX3RvX3RhYl81IiwiaXNFbmFibGVk
	Ijp0cnVlLCJpc0N1c3RvbWl6YWJsZSI6dHJ1ZX0seyJrZXlDb21iaW5hdGlvbiI6eyJt
	b2RpZmllcnMiOjEsImtleSI6IjYifSwiaWQiOiJDQzQwMTM5RS0zNEM2LTRBRUEtQUUw
	OS1GRDE0NzcyQzQ4ODIiLCJhY3Rpb24iOiJnb190b190YWJfNiIsImlzRW5hYmxlZCI6
	dHJ1ZSwiaXNDdXN0b21pemFibGUiOnRydWV9LHsia2V5Q29tYmluYXRpb24iOnsibW9k
	aWZpZXJzIjoxLCJrZXkiOiI3In0sImlkIjoiREU1QjA1MDMtNDhDRi00OTJGLUE0REQt
	MEQ4Rjg5MTkwRTc3IiwiYWN0aW9uIjoiZ29fdG9fdGFiXzciLCJpc0VuYWJsZWQiOnRy
	dWUsImlzQ3VzdG9taXphYmxlIjp0cnVlfSx7ImtleUNvbWJpbmF0aW9uIjp7Im1vZGlm
	aWVycyI6MSwia2V5IjoiOCJ9LCJhY3Rpb24iOiJnb190b190YWJfOCIsImlzRW5hYmxl
	ZCI6dHJ1ZSwiaXNDdXN0b21pemFibGUiOnRydWUsImlkIjoiREJFNEQ5Q0ItNDU0OC00
	RDlDLTk5ODUtQjRCQ0VCNEY2MTc0In0seyJrZXlDb21iaW5hdGlvbiI6eyJtb2RpZmll
	cnMiOjEsImtleSI6IjkifSwiYWN0aW9uIjoiZ29fdG9fbGFzdF90YWIiLCJpc0VuYWJs
	ZWQiOnRydWUsImlzQ3VzdG9taXphYmxlIjp0cnVlLCJpZCI6IkQyRDAxOENELTU1Mjgt
	NEZCNS04MEU5LTIwMDZBOUQzREIxOSJ9LHsiYWN0aW9uIjoiZHVwbGljYXRlX3RhYiIs
	ImlkIjoiM0EwNDgwMjktNTc3MC00OUNCLTlEREYtMDNFQUNGMzRGQzhGIiwiaXNFbmFi
	bGVkIjp0cnVlLCJpc0N1c3RvbWl6YWJsZSI6dHJ1ZSwia2V5Q29tYmluYXRpb24iOnsi
	bW9kaWZpZXJzIjoyLCJrZXkiOiJkIn19LHsiYWN0aW9uIjoidG9nZ2xlX3RvcF9iYXJf
	YWRkcmVzc192aWV3IiwiaWQiOiJBMDE3MzVGRi1FRTkyLTQ1NjMtODkzNi05MjNGMjI5
	NEQ1RjIiLCJpc0VuYWJsZWQiOnRydWUsImlzQ3VzdG9taXphYmxlIjp0cnVlLCJrZXlD
	b21iaW5hdGlvbiI6eyJrZXkiOiJ0IiwibW9kaWZpZXJzIjozfX0seyJhY3Rpb24iOiJu
	ZXh0X3NwYWNlIiwiaWQiOiJFNjExNDRDOC0xMUEzLTQxRjItODA5OS1GNjU5QTlGQjlF
	RDYiLCJpc0VuYWJsZWQiOnRydWUsImlzQ3VzdG9taXphYmxlIjp0cnVlLCJrZXlDb21i
	aW5hdGlvbiI6eyJrZXkiOiJdIiwibW9kaWZpZXJzIjo1fX0seyJhY3Rpb24iOiJwcmV2
	aW91c19zcGFjZSIsImlkIjoiRTJCREZGRkMtMjFFNC00RDk5LUE2NTEtMEVBRDNBNEND
	NTRFIiwiaXNFbmFibGVkIjp0cnVlLCJpc0N1c3RvbWl6YWJsZSI6dHJ1ZSwia2V5Q29t
	YmluYXRpb24iOnsibW9kaWZpZXJzIjo1LCJrZXkiOiJbIn19LHsiYWN0aW9uIjoibmV3
	X3dpbmRvdyIsImlkIjoiOEE3NTAwNjYtMDFGOC00QTYxLTgwNTUtRjNEOUM4OEIxNkZC
	IiwiaXNFbmFibGVkIjp0cnVlLCJpc0N1c3RvbWl6YWJsZSI6dHJ1ZSwia2V5Q29tYmlu
	YXRpb24iOnsia2V5IjoibiIsIm1vZGlmaWVycyI6MX19LHsiYWN0aW9uIjoiY2xvc2Vf
	d2luZG93IiwiaWQiOiJFMEVFNzBCMS0wQTNELTQ0OUYtOEJBNC0zMTFGMTE5MEE0MEUi
	LCJpc0VuYWJsZWQiOnRydWUsImlzQ3VzdG9taXphYmxlIjp0cnVlLCJrZXlDb21iaW5h
	dGlvbiI6eyJrZXkiOiJ3IiwibW9kaWZpZXJzIjo5fX0seyJhY3Rpb24iOiJjbG9zZV9i
	cm93c2VyIiwiaWQiOiJDNEQ1Qjk1Qy05MjQ2LTQ2RDgtODZDNS1DNDNDOTFBNDQzMUIi
	LCJpc0VuYWJsZWQiOnRydWUsImlzQ3VzdG9taXphYmxlIjp0cnVlLCJrZXlDb21iaW5h
	dGlvbiI6eyJtb2RpZmllcnMiOjEsImtleSI6InEifX0seyJhY3Rpb24iOiJ0b2dnbGVf
	ZnVsbF9zY3JlZW4iLCJpZCI6IkQ3MEQzM0VFLUMyNUQtNDZDRC05ODM1LUZCQzdEQUMx
	NEY5OCIsImlzRW5hYmxlZCI6dHJ1ZSwiaXNDdXN0b21pemFibGUiOnRydWUsImtleUNv
	bWJpbmF0aW9uIjp7ImtleSI6ImYiLCJtb2RpZmllcnMiOjF9fSx7ImFjdGlvbiI6Im9w
	ZW5fY29tbWFuZF9wYWxldHRlIiwiaWQiOiIxRThGMzcyMi1BRjc4LTRDODAtOTNEOS02
	REE0REQ1RDhDMjgiLCJpc0VuYWJsZWQiOnRydWUsImlzQ3VzdG9taXphYmxlIjp0cnVl
	LCJrZXlDb21iaW5hdGlvbiI6eyJtb2RpZmllcnMiOjksImtleSI6InAifX0seyJhY3Rp
	b24iOiJvcGVuX2Rldl90b29scyIsImlkIjoiMTRFMjZEQjEtRUM5Mi00NzM3LUEyODQt
	ODFDQ0E1OURGODI3IiwiaXNFbmFibGVkIjp0cnVlLCJpc0N1c3RvbWl6YWJsZSI6dHJ1
	ZSwia2V5Q29tYmluYXRpb24iOnsia2V5IjoiaSIsIm1vZGlmaWVycyI6M319LHsiYWN0
	aW9uIjoidmlld19kb3dubG9hZHMiLCJpZCI6IjkwN0VDMEIxLUFDMzctNDk3MC05Nzk5
	LUYzNzdDQjkzQTQ1MSIsImlzRW5hYmxlZCI6dHJ1ZSwiaXNDdXN0b21pemFibGUiOnRy
	dWUsImtleUNvbWJpbmF0aW9uIjp7ImtleSI6ImoiLCJtb2RpZmllcnMiOjl9fSx7ImFj
	dGlvbiI6InZpZXdfaGlzdG9yeSIsImlkIjoiRkU1QUY1NEQtNzlFQy00ODRELUIwM0It
	QjZFRjM1OEU0NEVDIiwiaXNFbmFibGVkIjp0cnVlLCJpc0N1c3RvbWl6YWJsZSI6dHJ1
	ZSwia2V5Q29tYmluYXRpb24iOnsibW9kaWZpZXJzIjoxLCJrZXkiOiJ5In19LHsiYWN0
	aW9uIjoiY29weV9saW5rIiwiaWQiOiI3RDdEQUU3Ny03QjA4LTQyQjMtOTFBQS1FQTUw
	RkRDRDRCQjUiLCJpc0VuYWJsZWQiOnRydWUsImlzQ3VzdG9taXphYmxlIjp0cnVlLCJr
	ZXlDb21iaW5hdGlvbiI6eyJrZXkiOiJjIiwibW9kaWZpZXJzIjozfX0seyJhY3Rpb24i
	OiJleHBhbmRfYWxsX2ZvbGRlcnMiLCJpZCI6IjJCQjgyRTgwLTZCNEItNDkzNi04QTAy
	LUE3N0U5OTFBRDhBMyIsImlzRW5hYmxlZCI6dHJ1ZSwiaXNDdXN0b21pemFibGUiOnRy
	dWUsImtleUNvbWJpbmF0aW9uIjp7Im1vZGlmaWVycyI6OSwia2V5IjoiZSJ9fV0=
	</data>
	<key>keyboard.shortcuts.version</key>
	<integer>3</integer>
	<key>nook_domain_boosts</key>
	<data>
	e30=
	</data>
	<key>settings.aiProvider</key>
	<string>ollama</string>
	<key>settings.currentMaterialRaw</key>
	<integer>13</integer>
	<key>settings.experimentalExtensions</key>
	<false/>
	<key>settings.geminiApiKey</key>
	<string></string>
	<key>settings.showLinkStatusBar</key>
	<true/>
	<key>settings.tabUnloadTimeout</key>
	<real>600</real>
	<key>settings.topBarAddressView</key>
	<false/>
	<key>settings.webSearchEnabled</key>
	<false/>
	<key>sidebarVisible</key>
	<true/>
	<key>sidebarWidth</key>
	<real>255.96484375</real>
	<key>zoom.accounts.google.com</key>
	<real>1</real>
	<key>zoom.arc.net</key>
	<real>1</real>
	<key>zoom.browserbench.org</key>
	<real>1</real>
	<key>zoom.code.visualstudio.com</key>
	<real>1</real>
	<key>zoom.davi.sh</key>
	<real>1</real>
	<key>zoom.discussions.apple.com</key>
	<real>1</real>
	<key>zoom.formulae.brew.sh</key>
	<real>1</real>
	<key>zoom.gemini.google.com</key>
	<real>1</real>
	<key>zoom.ghostty.org</key>
	<real>1</real>
	<key>zoom.ghostty.zerebos.com</key>
	<real>1</real>
	<key>zoom.github.com</key>
	<real>1</real>
	<key>zoom.learn.microsoft.com</key>
	<real>1</real>
	<key>zoom.man.openbsd.org</key>
	<real>1</real>
	<key>zoom.manual.raycast.com</key>
	<real>1</real>
	<key>zoom.medium.com</key>
	<real>1</real>
	<key>zoom.nix-darwin.github.io</key>
	<real>1</real>
	<key>zoom.nix.dev</key>
	<real>1</real>
	<key>zoom.nixos.org</key>
	<real>1</real>
	<key>zoom.ohmyz.sh</key>
	<real>1</real>
	<key>zoom.ray.so</key>
	<real>1</real>
	<key>zoom.sathishvj.medium.com</key>
	<real>1</real>
	<key>zoom.search.nixos.org</key>
	<real>1</real>
	<key>zoom.www.apple.com</key>
	<real>1</real>
	<key>zoom.www.chezmoi.io</key>
	<real>1</real>
	<key>zoom.www.google.com</key>
	<real>1</real>
	<key>zoom.www.nerdfonts.com</key>
	<real>1</real>
	<key>zoom.www.raycast.com</key>
	<real>1</real>
	<key>zoom.www.reddit.com</key>
	<real>1</real>
	<key>zoom.www.tbench.ai</key>
	<real>1</real>
	<key>zoom.www.youtube.com</key>
	<real>1</real>
</dict>
</plist>
