<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SKDUserDefaultsRoot</key>
	<dict>
		<key>SKDUserDefaultsMap</key>
		<dict>
			<key>InstantProcessing+Embedding</key>
			<dict>
				<key>timestamp</key>
				<real>798269058.167889</real>
				<key>timestampLastReplenished</key>
				<real>798268937.80823982</real>
				<key>tokenCount</key>
				<integer>500</integer>
			</dict>
			<key>InstantProcessing+Keyphrase</key>
			<dict>
				<key>timestamp</key>
				<real>798269058.16539896</real>
				<key>timestampLastReplenished</key>
				<real>798268937.8056798</real>
				<key>tokenCount</key>
				<integer>500</integer>
			</dict>
			<key>InstantProcessing+LSSR5EventsandordersBackground</key>
			<dict>
				<key>timestamp</key>
				<real>798269058.17136598</real>
				<key>timestampLastReplenished</key>
				<real>798268938.01524687</real>
				<key>tokenCount</key>
				<integer>500</integer>
			</dict>
			<key>InstantProcessing+LSSR5EventsandordersUrgent</key>
			<dict>
				<key>timestamp</key>
				<real>798269058.17539096</real>
				<key>timestampLastReplenished</key>
				<real>798268938.02138186</real>
				<key>tokenCount</key>
				<integer>500</integer>
			</dict>
			<key>InstantProcessing+LSSR5IdentificationdocumentsBackground</key>
			<dict>
				<key>timestamp</key>
				<real>798269058.16148198</real>
				<key>timestampLastReplenished</key>
				<real>798268937.80203283</real>
				<key>tokenCount</key>
				<integer>500</integer>
			</dict>
			<key>PriorityProcessing+Embedding</key>
			<dict>
				<key>timestamp</key>
				<real>798269058.16916704</real>
				<key>timestampLastReplenished</key>
				<real>798269053.00824797</real>
				<key>tokenCount</key>
				<integer>1500</integer>
			</dict>
			<key>PriorityProcessing+Keyphrase</key>
			<dict>
				<key>timestamp</key>
				<real>798269058.166067</real>
				<key>timestampLastReplenished</key>
				<real>798269053.00568902</real>
				<key>tokenCount</key>
				<integer>1500</integer>
			</dict>
			<key>PriorityProcessing+LSSR5EventsandordersBackground</key>
			<dict>
				<key>timestamp</key>
				<real>798269110.41463399</real>
				<key>timestampLastReplenished</key>
				<real>798269089.21526814</real>
				<key>tokenCount</key>
				<integer>4000</integer>
			</dict>
			<key>PriorityProcessing+LSSR5EventsandordersUrgent</key>
			<dict>
				<key>timestamp</key>
				<real>798269110.41932404</real>
				<key>timestampLastReplenished</key>
				<real>798269089.22139907</real>
				<key>tokenCount</key>
				<integer>4000</integer>
			</dict>
			<key>PriorityProcessing+LSSR5IdentificationdocumentsBackground</key>
			<dict>
				<key>timestamp</key>
				<real>798269110.41180599</real>
				<key>timestampLastReplenished</key>
				<real>798269089.00207007</real>
				<key>tokenCount</key>
				<integer>4000</integer>
			</dict>
		</dict>
		<key>SKDUserDefaultsVersion</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
